.sms-code {
  margin-bottom: 65px;

  &__title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    left: -99999px;
    transition: 0s;

    &:focus {
      & ~ .sms-code__box {
        .selected {
          animation: codebox  1.5s infinite linear;

          &.active {
            animation: none;
          }
        }
      }
    }
  }

  &__box {
    display: flex;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    font-size: 64px;
    margin-right: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    color: #D5DBE1;
    border-bottom: 4px solid;

    @include media($lg) {
      margin-right: 20px;
    }

    &.active {
      color: #000;
      border-bottom-color: $colorAccent;
    }
  }
}

@keyframes codebox {
  0% {
    border-bottom-color: #D5DBE1;
  }
  49% {
    border-bottom-color: #D5DBE1;
  }
  50% {
    border-bottom-color: $colorAccent;
  }
  99% {
    border-bottom-color: $colorAccent;
  }
  100% {
    border-bottom-color: #D5DBE1;
  }
}