mixin sms-code(modifier)
  .sms-code&attributes(attributes)
    .sms-code__title Код из смс
    label.sms-code__label
      input(type="text" name="" autofocus maxlength="4").sms-code__input
      span.sms-code__box
        span.sms-code__item(data-num="0" data-symbol="X").selected X
        span.sms-code__item(data-num="1" data-symbol="X") X
        span.sms-code__item(data-num="2" data-symbol="X") X
        span.sms-code__item(data-num="3" data-symbol="X") X