.rating {

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-right: -20px;

    @include media($lg) {
      margin-right: 0;
    }
  }

  &__item {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: $bdrsMain;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include media($lg) {
      display: block;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--small {
      width: 300px;

      @include media($lg) {
        width: 100%;
      }
    }

    &--full {
      width: 100%;
      max-width: 100%;
    }

    &--big {
      flex: 1;

      .rating-box {
        max-width: 340px;

        @include media($lg) {
          max-width: 100%;
        }
      }
    }

    &--half {
      width: calc(50% - 20px);

      @include media($lg) {
        width: 100%;
      }
    }
  }

  &-box {
    padding: 20px;
    height: 100%;

    @include media($lg) {
      height: auto;
    }

    @supports (flex-direction: column) {
      display: flex;
      flex-direction: column;
    }

    &__list {
      float: right;
      width: calc(50% - 12px);

      @include media($lg) {
        width: 100%;
        float: none;
      }
    }

    &__title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 12px;

      &-inscription {
        margin-right: 10px;
        display: inline-flex;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500;
        background: #4138DB;
        height: 15px;
        line-height: 1;
        align-items: center;
        padding: 0 5px;
        vertical-align: top;
      }
    }

    &__text {
      color: #808080;
      margin-bottom: 13px;
      min-height: 48px;

      @supports (flex-direction: column) {
        min-height: 0;
      }
    }

    &__num {
      display: flex;
      align-items: center;
      font-size: 36px;
      position: relative;
      font-weight: 400;

      @supports (flex-direction: column) {
        margin-top: auto;
      }

      .icon {
        color: $colorAccent;
        font-size: 25px;
        margin-right: 10px;
        position: relative;
        top: -2px;
      }

      &:after {
        content: '';
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        margin-left: 10px;
        width: 0;
      }

      &--up {
        &:after {
          border-bottom: 8px solid #32B67A;
        }
      }

      &--down {
        &:after {
          border-top: 8px solid #FF6161;
        }
      }

      &--price {
        .icon {
          color: $colorAccentAlt;
          font-size: 30px;
        }
      }

      &--sm {
        font-size: 26px;
      }
    }

    &__btn {
      margin-top: 19px;
    }
  }
}