.cards-slider {
  margin-bottom: 65px;
  overflow: hidden;

  .card {
    @include col(1,1);
    padding: 0;
    margin-bottom: 0;
  }

  @include media($lg) {
    overflow: visible;
    margin-left: 20px;
    margin-bottom: 25px;
  }

  &__list {
    margin: 0 auto;
    max-width: 700px;
    position: relative;
  }

  .card {
    @include media($lg) {
      width: 220px;
    }
  }

  .owl-item {
    opacity: .3;

    @include media($lg) {
      opacity: 1;
    }

    .card__content {
      pointer-events: none;

      @include media($lg) {
        pointer-events: auto;
      }
    }

    &.active {
      opacity: 1;

      .card__content {
        pointer-events: auto;
      }
    }
  }

  .owl-carousel {
    .owl-stage-outer {
      overflow: visible;
    }
  }
}