.social {
  display: flex;

  &__item {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    color: #dbdbdb;
    font-size: 18px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: $transitionMain;

    &:hover {
      color: $colorAccent;
      border-color: $colorAccent;
    }
  }

  &__icon {
    position: relative;
    bottom: -1px;

    &--youtube {
      font-size: 21px;
      bottom: -2px;
    }
  }
}