mixin social(socialList)
  ul.social&attributes(attributes)
    each object,name in main.social[socialList]
      li.social__item
        a(href= object.href || "#").social__link
          +icon(name)(class="social__icon")(class= object.iconClassName ? "social__icon--" + object.iconClassName : "")
