mixin subscription(modifier)
  form.form.subscription&attributes(attributes)
    input(type="email" name="email" placeholder="hello@ratingram.ru").subscription__ipnut
    input(type="submit" name="submit" value="Подписаться").btn.btn--accent.subscription__submit