.subscription {
  display: flex;
  padding: 6px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  height: 67px;

  &__ipnut {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0 16px;
    height: 100%;
    flex: 1;
    font-size: 16px;
    color: #000;
  }

  &__submit {
    height: 100%;
    max-width: 155px;
  }
}