.trigger {
  display: flex;
  align-items: center;
  margin-top: 15px;
  
  &__val {
    display: none;

    &:checked {
      & ~ .trigger__switch {
        background: $colorAccent;

        &:after {
          left: 21px;
        }
      }
    }
  }

  &__name {
    cursor: pointer;
    border: none;
    box-shadow: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    font-weight: 300;
  }

  &__switch {
    margin: 0 11px;
    width: 50px;
    height: 30px;
    border-radius: 30px;
    background: #999999;
    position: relative;
    transition: $transitionMain;

    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 50%;
      background: #fff;
      width: 28px;
      height: 28px;
      transition: $transitionMain;
    }
  }
}