mixin trigger(name1,name2,checked)
  .trigger&attributes(attributes)
    if checked
      input(type="checkbox" name="" value= name2, checked).trigger__val
    else
      input(type="checkbox" name="" value= name1).trigger__val
    button.trigger__name(data-val= name1, data-type="")= name1
    .trigger__switch
    button.trigger__name(data-val= name2, data-type="checked")= name2