.sing-in {
  margin-bottom: 0;

  .container {
    height: auto;
    min-height: calc(100vh - 100px);
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
  }

  &__box {
    width: 100%;
    max-width: 620px;

    &--sm {
      max-width: 460px;
    }
  }

  &__form {
    background: #fff;
    padding: 30px;

    @include media($lg) {
      padding: 30px 12px;
    }

    &--sm {
      padding-right: 154px;

      @include media($lg) {
        padding-right: 12px;
      }
    }
  }

  &__input {
    display: block;
    position: relative;

    .form__input {
      height: 64px;
    }

    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      font-size: 24px;
      z-index: 1;

      & + .form__input {
        padding-left: 50px;
      }
    }
  }

  .jq-selectbox__select,
  .form__select {
    height: 64px;
  }

  .jq-selectbox__select {
    padding-right: 40px;
  }
  .jq-selectbox__trigger {
    width: 40px;
  }
  .jq-selectbox__trigger-arrow {
    right: 20px;
  }

  &__title {
    margin-bottom: 50px;

    @include media($lg) {
      margin-bottom: 30px;
    }
  }

  &__action {
    margin-top: 22px;
  }

  &__link {
    color: $colorAccent;

    &:hover {
      text-decoration: underline;
    }

    &--sm {
      text-transform: uppercase;
      font-size: 12px;
    }

    &--alt {
      font-size: 18px;
      display: inline-block;
      margin-bottom: 30px;
      border-bottom: 1px dashed;
      line-height: 1.2;

      &:hover {
        text-decoration: none;
        border-bottom-color: transparent;
      }
    }
  }

  &__info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-text {
      margin-right: 20px;
    }
  }

  &__btn {
    max-width: 100%;
    min-width: 219px;
    width: auto;
    display: inline-flex;
    padding: 0 20px;
    margin-top: 30px;
  }

  &__img {
    margin-bottom: 30px;

    img {
      display: block;
      max-width: 100%;
    }
  }
}