.banner {
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: -1;
    height: 413px;
    overflow: hidden;

    @include media($lg) {
      height: 145px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(247, 248, 250, 0) 0%, rgba(247, 248, 250, 0) 65%, #f7f8fa 100%);
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }

    &--big {
      top: 0;
      height: auto;

      &:after {
        background-image: linear-gradient(180deg, rgba(247, 248, 250, 0) 0%, #f7f8fa 100%);
      }

      .banner__bg-img {
        height: auto;
        min-width: 100%;
      }
    }
  }

  &__box {
    height: 413px;
    padding-top: 60px;

    @include media($lg) {
      height: 145px;
    }

    &--center {
      text-align: center;
      padding-top: 75px;

      .banner__title {
        max-width: 750px;
        margin: 0 auto;
      }
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 60px;
    max-width: 262px;

    @include media($lg) {
      display: none;
    }
  }

  &__title {
    color: #222222;
    font-size: 42px;
    line-height: 1.28;
    font-weight: 300;
    margin-bottom: 40px;

    @include media($lg) {
      display: none;
    }

    &-alt {
      color: #222222;
      font-size: 30px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 25px;

      @include media($lg) {
        display: none;
      }
    }
  }

  &__pic {
    display: inline-block;
    margin-bottom: 30px;

    @include media($lg) {
      display: none;
    }
  }

  &__btn {
    height: 28px;
    font-size: 11px;
    max-width: 190px;

    @include media($lg) {
      display: none;
    }
  }
}