mixin popup-set-right(modifier)
  #popup-set-right.popup.popup-set-right&attributes(attributes)
    .popup__content
      .popup__title Задать права
      form.form.popup__form
        .form-box
          .form__label
            span.form__label-name Тип прав
              +tooltip()
            +trigger('Неограниченные','Ограниченные').projects__trigger
        .form-box
          .form__label
            span.form__label-name Сроки
            .form__date-line
              span.form__date-line-name начиная с
              .form__label--datepicker
                input(type="text" name="" value="10 Май 2019").form__date.form__input
              span.form__date-line-name на срок
              select.form__select
                option(value="") 1 месяц
                option(value="") 2 месяца
                option(value="") 3 месяца
                option(value="") 4 месяца
                option(value="") 5 месяцев
                option(value="") 6 месяцев
                option(value="") 7 месяцев
                option(value="") 8 месяцев
                option(value="") 9 месяцев
                option(value="") 10 месяцев
                option(value="") 11 месяцев
                option(value="") 12 месяцев
          .form__label
            span.form__label-name Использование
            +form-items(['Газеты','Журналы'])
          .form__label
            span.form__label-name Распространение
            +form-items(['Все страны и города'])
          .form__label
            +trigger-alone('Только в рамках портфолио', true)
            +trigger-alone('С правом на использование', true)
          .form__label
            span.form__label-name Передача результатов проекта:
            +trigger-alone('Все материалы', false)
            +trigger-alone('Все согласованные материалы', true)
            +trigger-alone('Только обработанные материалы', true)
            +trigger-alone('Обработанные материалы сниженного качества', true)
        .popup__action
          input(type="submit" name="" value="Сохранить права").btn.btn--accent