mixin popup-conditions(modifier)
  #popup-conditions.popup.popup-conditions&attributes(attributes)
    .popup__content
      .popup__title Условия
      .popup__table
        .popup__table-cont
          .popup__table-line
            .popup__table-name Место съемки
            .popup__table-val Студия
          .popup__table-line
            .popup__table-name НЕКОМФОРТНЫЕ УСЛОВИЯ:
            .popup__table-val Минусовая температура
          .popup__table-line
            .popup__table-name Физическая нагрузка:
            .popup__table-val Средняя
      .popup__table
        .popup__table-title Волосы
        .popup__table-cont
          .popup__table-line
            .popup__table-name Окрашивание
            .popup__table-val Да
          .popup__table-line
            .popup__table-name Наращивание
            .popup__table-val Да
          .popup__table-line
            .popup__table-name Стрижка
            .popup__table-val По плечо
      .popup__table
        .popup__table-title Кожа
        .popup__table-cont
          .popup__table-line
            .popup__table-name Загар
            .popup__table-val Нет
          .popup__table-line
            .popup__table-name Бодиарт
            .popup__table-val Да
          .popup__table-line
            .popup__table-name Ногти
            .popup__table-val Нет
      .popup__action
        a(href="#").btn.btn--accent.popup__close Закрыть