.page {
  padding-top: 50px;
  padding-bottom: 80px;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;

  @include media($lg) {
    padding-top: 17px;
    padding-bottom: 30px;
    background-image: none !important;
  }

  &__stats {
    background: #FFFFFF;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0727751);
    margin-top: 18px;
    border-radius: $bdrsMain;
    padding: 20px;
    width: 100%;
    margin-bottom: 15px;

    &-accent {
      display: inline-block;
      padding: 3px 5px;
      border-radius: $bdrsMain;
      background: $colorAccent;
      color: #fff;
    }

    &-price {
      background: #FBD653;
      display: inline-block;
      padding: 3px 5px;
      border-radius: $bdrsMain;
    }
  }

  .section {
    padding: 40px 0;
    margin-bottom: 0;

    @include media($lg) {
      padding: 20px 0;
    }

    &.portfolio {
      padding: 50px 0;

      @include media($lg) {
        padding: 20px 0;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__header {
    margin-bottom: 30px;
    position: relative;

    @include media($lg) {
      margin-bottom: 25px;
    }

    .project-part {
      display: flex;
      max-width: 100%;
    }

    .card__content {
      &:first-child {
        margin-right: 20px;
      }
    }

    .card__box {
      width: 130px;
      min-width: 130px;

      &:before {
        padding-top: 173px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-post-info {
      padding-top: 20px;
      margin-bottom: 20px;

      .card-post__tags {
        a {
          color: $colorAccent;
        }
      }
    }

    &-select {
      width: 185px;
    }

    &-date {
      color: #808080;
      font-size: 16px;
      margin-bottom: 7px;
      padding-top: 16px;
    }

    &-item {
      position: absolute;
      bottom: 100%;
      left: 0;
      transition: $transitionMain;

      @include media($lg) {
        position: static;
      }

      &:hover {
        color: $colorAccent;
      }
    }

    &-prof {
      font-size: 24px;
      color: #2a2a2a;
    }
  }

  &__views {
    position: absolute;
    top: 26px;
    right: 0;
    display: flex;
    align-items: center;
    color: #8b8b8b;

    a {
      color: $colorAccent;

      &:hover {
        text-decoration: underline;
      }
    }

    @include media($lg) {
      // display: none;
      position: static;
      margin: 5px 0 15px;
    }

    &-icon {
      font-size: 21px;
      margin-right: 13px;
      position: relative;
      bottom: 1px;
    }

    &-val {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .inner {
    margin-bottom: 0;
  }

  &__info {
    font-size: 22px;
    line-height: 1.36;
    margin-top: 20px;

    &--small {
      font-size: 16px;
      line-height: 24px;
    }

    &--light {
      color: #808080;
    }
  }

  &__cont {
    display: flex;

    & + .page__cont {
      margin-top: 30px;

      @include media($lg) {
        margin-top: 20px;
      }
    }

    &-top {
      .form__label {
        margin-bottom: 0;
      }
    }
  }

  &__main {
    width: calc(100% - 400px);

    @include media($lg) {
      width: 100%;
    }

    .page__info {
      margin-bottom: 30px;

      @include media($lg) {
        margin-top: 0;
      }
    }

    .form__label--line {
      @include media($lg) {
        display: flex;
        flex-wrap: wrap;

        .form__label-name {
          width: 100%;
          flex: 0 0 100%;
        }
      }
    }
    .form__input-search {
      @include media($lg) {
        flex: 1;
        min-width: 0;
      }
    }
  }

  &__aside {
    width: 380px;
    min-width: 380px;
    margin-left: 20px;

    @include media($lg) {
      display: none;
    }

    .page-box {
      margin-bottom: 17px;
    }

    &-btn {
      max-width: 240px;
    }
  }

  &-box {
    padding: 20px 20px 30px;

    &__form {
      .icon,
      .form__input {
        height: 64px;
        font-size: 16px;
      }
    }

    &--alt {
      background: $colorAccentAlt;
      color: #fff;
    }

    &__title {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 20px;
      line-height: 1.2;
    }

    &__text {
      margin-bottom: 28px;
    }
  }

  &-cont {
    background: #fff;
    max-width: 780px;
    padding: 14px 130px 30px 30px;

    @include media($lg) {
      padding: 20px 10px 27px;
    }

    &--alt {
      background-color: transparent;
      padding-left: 0;
      padding-bottom: 0;
      padding-top: 0;

      @include media($lg) {
        padding: 0;

        .rating__items {
          margin-bottom: 0;
        }
      }
    }
  }
}

.flex-line {
  display: flex;

  @include media($lg) {
    display: block;
  }

  .page__info {
    margin-left: 125px;

    @include media($lg) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}