.promo {
  margin-top: 35px;
  display: flex;

  @include media($lg) {
    display: block;
  }

  &-code {
    margin-right: 65px;

    @include media($lg) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &-box {
    padding-top: 23px;

    @include media($lg) {
      padding-top: 0;
    }

    .rating__item {
      max-width: 620px;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @include media($lg) {
      display: block;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__num {
    height: 54px;
    margin-right: 20px;
    min-width: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: $bdrsMain;
    font-size: 14px;

    @include media($lg) {
      margin-bottom: 10px;
      max-width: 280px;
      text-align: left;
      justify-content: flex-start;
      padding: 0 16px;
    }
  }

  &__btn {
    width: 132px;

    &.disabled {
      background: #000;
      color: #fff;
      pointer-events: none;
    }
  }
}