.about {

  .pro__title {
    margin-bottom: 114px;

    @include media($lg) {
      margin-bottom: 20px;
    }
  }

  .pro__items {
    margin-bottom: 60px;

    @include media($lg)  {
      margin-bottom: 30px;
    }
  }

  &__video {
    max-width: 740px;
    height: 414px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 125px;
    position: relative;
    overflow: hidden;

    @include media($lg)  {
      height: 200px;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      .icon {
        width: 82px;
        height: 82px;
        color: #FF6B61;
        border-radius: 50%;
        border: 6px solid #FF6B61;
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
      }

      span {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        color: #FF6B61;
        white-space: nowrap;
        margin-top: 15px;

        @include media($lg) {
          display: none;
        }
      }
    }
  }

  &__item {
    @include col(1,3);
    padding: 0 10px;
    text-align: left;

    @include media($lg)  {
      @include col(1,1);
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 3px;
    }

    &__num {
      font-size: 82px;
      margin-bottom: 2px;
      line-height: 1.2;

      @include media($lg)  {
        font-size: 76px;
      }
    }

    &__name {
      font-size: 42px;
      line-height: 1.28;

      @include media($lg)  {
        font-size: 36px;
      }
    }
  }
}