mixin popup-right(modifier)
  #popup-right.popup.popup-right&attributes(attributes)
    .popup__content
      .popup__title Права
      .popup__table
        .popup__table-cont
          .popup__table-line
            .popup__table-name Специалиста
            .popup__table-val Василиса Донская
          .popup__table-line
            .popup__table-name Тип прав
            .popup__table-val Ограниченные
          .popup__table-line
            .popup__table-name Сроки действия
            .popup__table-val с 10 августа 2018 до 1 января 2020
      .popup__table
        .popup__table-cont
          .popup__table-line
            .popup__table-name Сфера использования
            .popup__table-val Журналы, Газеты
          .popup__table-line
            .popup__table-name Страны распространения
            .popup__table-val Страны СНГ
          .popup__table-line
            .popup__table-name Передача результатов проекта
            .popup__table-val Только необработанные материалы
      .popup__action
        a(href="#").btn.btn--accent.popup__close Закрыть