.news {

  &-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;

    @include media($lg) {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--big {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #D8D8D8;

      .news-item__img {
        width: 300px;
        min-width: 300px;

        @include media($lg) {
          width: 100%;
          min-width: 0;
        }
      }
    }

    &__img {
      width: 140px;
      min-width: 140px;
      margin-right: 20px;
      display: block;

      @include media($lg) {
        width: 100%;
        min-width: 0;
        margin-right: 0;
        margin-bottom: 20px;
      }

      img {
        display: block;
        width: 100%;
      }
    }

    &__info {
      flex: 1;
    }

    &__date {
      font-size: 16px;
      color: #808080;
      margin-bottom: 3px;
    }

    &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 12px;

      @include media($lg) {
        font-size: 24px;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__text {
      font-size: 16px;
    }

    &__btn {
      margin-top: 20px;
      max-width: 150px;
    }
  }

  &__more {
    margin-top: 28px;

    @include media($lg) {
      display: flex;
      justify-content: center;
    }

    .btn {
      display: inline-flex;
      width: auto;
      max-width: 100%;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}