mixin stars(num)
  - var num = num || 1;
  .stars&attributes(attributes)
    label.stars__item
      input(type="radio" name="star" + num).stars__input
      span.stars__star
    label.stars__item
      input(type="radio" name="star" + num).stars__input
      span.stars__star
    label.stars__item
      input(type="radio" name="star" + num).stars__input
      span.stars__star
    label.stars__item
      input(type="radio" name="star" + num).stars__input
      span.stars__star
    label.stars__item
      input(type="radio" name="star" + num).stars__input
      span.stars__star