.stars {
  width: 90px;
  height: 18px;
  background-image: url('../img/stars.svg');
  background-repeat: no-repeat;
  background-size: 90px 17px;
  position: relative;

  &__input {
    display: none;

    &:checked ~ .stars__star {
      opacity: 1;
    }
  }

  &__star {
    opacity: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-image: url('../img/stars--full.svg');
    background-repeat: no-repeat;
  }

  &:hover {
    .stars__star {
      opacity: 0;
    }
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;

    &:nth-child(1) {
      width: 20%;
      z-index: 5;
    }
    &:nth-child(2) {
      width: 40%;
      z-index: 4;
    }
    &:nth-child(3) {
      width: 60%;
      z-index: 3;
    }
    &:nth-child(4) {
      width: 80%;
      z-index: 2;
    }
    &:nth-child(5) {
      width: 100%;
      z-index: 1;
    }

    &:hover {
      .stars__star {
        opacity: 1;
      }
    }
  }
}