.top-box {
  background-size: cover;
  background-position: center top;
  position: relative;

  @include media($lg) {
    background-position: 75% top;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($colorBgMain,.5);
    }
  }

  .container {
    position: relative;
    height: inherit;
    height: 100vh;
    min-height: 420px;
  }

  &__content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 545px;
    padding-top: 20px;

    @include media($lg) {
      left: 10px;
      right: 10px;
    }
  }

  &__new {
    max-width: 175px;
  }

  &__action {
    display: flex;
    margin-top: 50px;

    @include media($lg) {
      display: block;
    }

    .btn {
      margin-right: 10px;

      @include media($lg) {
        margin-right: 0;
        margin-bottom: 10px;
      }

      &:last-child {
        margin-right: 0;

        @include media($lg) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__play {
    position: absolute;
    right: 165px;
    top: 51%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $colorAccent;

    @include media($lg) {
      display: none;
    }

    &-icon {
      color: #fff;
      font-size: 32px;
      position: absolute;
      margin: 3px 0 0 4px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &__title {
    margin-bottom: 50px;
  }

  &__text {
    font-size: 30px;
    color: $colorTextAlt;

    @include media($lg) {
      display: none;
    }
  }

  &__info {
    position: absolute;
    left: 0;
    bottom: 50px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include media($lg) {
      bottom: 15px;
      left: 10px;
      right: 10px;
    }

    &-link {
      border-bottom: 1px solid #d1d1d0;
      transition: $transitionMain;

      &:hover {
        border-color: transparent;
        color: $colorAccent;
      }
    }
  }

  &__scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-size: 42px;

    @include media($lg) {
      display: none;
    }

    .icon {
      position: relative;
      animation: mouseScroll 1s infinite;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 10px;
      height: 10px;
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
    }
  }
}

@keyframes mouseScroll {
  0% {
    top: -10px;
  }
  90% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}