include ../blocks/header/header
include ../blocks/nav/nav
include ../blocks/btn/btn
include ../blocks/icon/icon
include ../blocks/title/title
include ../blocks/logo/logo
include ../blocks/burger/burger
include ../blocks/footer/footer
include ../blocks/lang/lang
include ../blocks/profile-box/profile-box
include ../blocks/social/social
include ../blocks/subscription/subscription
include ../blocks/section/section
include ../blocks/slider-reviews/slider-reviews
include ../blocks/top-box/top-box
include ../blocks/popup/popup
include ../blocks/card/card
include ../blocks/project-card/project-card
include ../blocks/cards-slider/cards-slider
include ../blocks/banner/banner
include ../blocks/inner/inner
include ../blocks/line-nav/line-nav
include ../blocks/form/form
include ../blocks/page/page
include ../blocks/sort/sort
include ../blocks/filter/filter
include ../blocks/card-line/card-line
include ../blocks/person/person
include ../blocks/profile/profile
include ../blocks/portfolio/portfolio
include ../blocks/slider-brands/slider-brands
include ../blocks/slider-alt/slider-alt
include ../blocks/snaps/snaps
include ../blocks/tooltip/tooltip
include ../blocks/trigger/trigger
include ../blocks/slider-agent/slider-agent
include ../blocks/projects/projects
include ../blocks/aside-help/aside-help
include ../blocks/stars/stars
include ../blocks/project/project
include ../blocks/project-part/project-part
include ../blocks/form-trigger/form-trigger
include ../blocks/trigger-alone/trigger-alone
include ../blocks/form-items/form-items
include ../blocks/rating/rating
include ../blocks/alert/alert
include ../blocks/diagram/diagram
include ../blocks/promo/promo
include ../blocks/score/score
include ../blocks/pay/pay
include ../blocks/chat/chat
include ../blocks/sing-in/sing-in
include ../blocks/sms-code/sms-code
include ../blocks/faq/faq
include ../blocks/acordion/acordion
include ../blocks/contacts/contacts
include ../blocks/text/text
include ../blocks/pro/pro
include ../blocks/news/news
include ../blocks/post/post
include ../blocks/card-post/card-post
include ../blocks/posts/posts
include ../blocks/comment/comment
include ../blocks/about/about
include ../blocks/popup-fee/popup-fee
include ../blocks/popup-set-right/popup-set-right
include ../blocks/popup-conditions/popup-conditions
include ../blocks/popup-set-conditions/popup-set-conditions
include ../blocks/popup-add-specialist/popup-add-specialist
include ../blocks/popup-right/popup-right
