
- var pageTitle = pageTitle || 'Ratingram';

head
  meta(charset="utf-8")
  title #{pageTitle}
  <!--[if IE]>
  meta(http-equiv='X-UA-Compatible', content="IE = edge")
  <![endif]-->
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")

  link(rel="icon", href="img/favicon.ico")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Condensed")
  link(rel="stylesheet", href="css/main.css")
  block styles