block variables

doctype html
html(lang="ru")
  include head
  include blocks

  body(class=pageClass)
    .wrapper
      +header()
      main.content
        block content
      +footer()
      .hidden
        +popup-fee()
        +popup-set-right()
        +popup-conditions()
        +popup-set-conditions()
        +popup-add-specialist()
        +popup-right()
      block popup
    script(src="js/main.js")
    block script