.accordion {
  margin-bottom: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  background: #FFFFFF;
  border: 1px solid #FFFFFF;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    line-height: 1.27;
    font-weight: 400;

    @include media($lg) {
      font-size: 18px;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 12px;
      min-width: 12px;
      height: 12px;
      min-height: 12px;
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      margin-left: 15px;
      margin-top: 8px;

      @include media($lg) {
        width: 8px;
        min-width: 8px;
        height: 8px;
        min-height: 8px;
        margin-top: 6px;
      }
    }
  }

  &.active {
    .accordion__title {
      &:after {
        margin-top: 12px;
        transform: rotate(-135deg);

        @include media($lg) {
          margin-top: 10px;
        }
      }
    }
    .accordion__content {
      display: block;
    }
  }

  &__content {
    padding: 0 20px 20px;
    display: none;

    @include media($lg) {
      font-size: 14px;
    }
  }
}