mixin popup-set-conditions(modifier)
  #popup-set-conditions.popup.popup-set-conditions&attributes(attributes)
    .popup__content
      .popup__title Задать условия
      form.form.popup__form
        .form-box
          .form__label
            span.form__label-name Место съемки
            +form-items(['Газеты','Журналы'])
          .form__label
            span.form__label-name НЕКОМФОРТНЫЕ УСЛОВИЯ:
            +form-items(['Все страны и города'])
          .form__label
            span.form__label-name Физическая нагрузка:
            +form-trigger(["Легкая","Средняя","Тяжелая"],triggerCounter)
            - var triggerCounter = triggerCounter + 1;
        .form-box
          .title-alt Волосы
          .form__label.form__label-line
            span.form__label-name ОКРАШИВАНИЕ
            +form-trigger(["Нет","Тонирование","Окраска"],triggerCounter)
            - var triggerCounter = triggerCounter + 1;
          .form__label.form__label-line
            span.form__label-name Стрижка
            +form-trigger(["По грудь","По плечо","Налысо"],triggerCounter)
            - var triggerCounter = triggerCounter + 1;
          .form__label.form__label-line
            span.form__label-name Эпиляция
            select.form__select
              option(value="") Не требуется
              option(value="") Вариант 1
              option(value="") Вариант 2
          .form__label
            +trigger-alone('Наращивание', false)
        .form-box
          .title-alt Кожа
          .form__label.form__label-line
            span.form__label-name ЗАГАР
            +form-trigger(["Нет","Моментальный","Натуральный"],triggerCounter)
            - var triggerCounter = triggerCounter + 1;
          .form__label.form__label-line
            span.form__label-name Бодиарт
            +form-trigger(["Нет","По степени оголения"],triggerCounter)
            - var triggerCounter = triggerCounter + 1;
        .form-box
          .form__label.form__label-line
            span.form__label-name Степень оголения
            select.form__select
              option(value="") Без оголения
              option(value="") Вариант 1
              option(value="") Вариант 2
          .form__label.form__label-line
            span.form__label-name Телесные контакты:
            select.form__select
              option(value="") Полный
              option(value="") Вариант 1
              option(value="") Вариант 2
          .form-box__action
            button.btn.btn--light.btn--small + Добавить требование
        .popup__action
          input(type="submit" name="" value="Задать условия").btn.btn--accent