.alert {
  margin-bottom: 12px;
  position: relative;
  padding: 24px 80px 20px;

  @include media($lg) {
    padding: 60px 12px 12px;
  }

  &--war {
    background: #FFF1A0;
  }

  &--ok {
    background: #C6EEC7;
  }

  &__icon {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 40px;

    @include media($lg) {
      top: 12px;
      left: 12px;
    }
  }

  &__close {
    position: absolute;
    top: 22px;
    right: 20px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 2px;
      background: #000;
    }

    &:after {
      transform: translate(-50%,-50%) rotate(45deg);
    }

    &:before {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
}