.posts {

  &-filter {
    border-bottom: none;

    .filter__line {
      padding-bottom: 0;
    }

    .form__label {
      max-width: 300px;
      width: 100%;

      @include media($lg) {
        max-width: 100%;
      }
    }

    .form__label--line {
      @include media($lg) {
        display: flex;
        flex-wrap: wrap;
      }
      .form__label-name {
        width: 100%;
        flex: 0 0 100%;
      }
      .form__input-search {
        flex: 1;
        min-width: 0;
      }
    }
  }

  &-sort {
    margin-left: auto;

    .form__label {
      max-width: 100%;
    }

    .form__select {
      width: 192px;
    }

    .form__input {
      width: 246px;
    }
  }

  &-excerpt {
    margin-bottom: 50px;
    display: flex;
    padding: 0 80px 0 160px;
    position: relative;

    @include media($lg) {
      display: block;
      padding: 0;
      margin-bottom: 20px;
    }

    &__rating {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;

      @include media($lg) {
        position: static;
        margin-bottom: 20px;
      }

      &.selected {
        .posts-excerpt__rating-btn {
          pointer-events: none;
        }
      }

      &-num {
        margin-top: 6px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #000;
        display: block;
      }

      &-btn {
        border: none;
        background-color: transparent;
        display: block;
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        .icon {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 1px solid;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
        }

        &--like {
          color: #50C473;
          &.active {
            .icon {
              background: #50C473;
              border-color: #50C473;
            }
          }
        }

        &--dizlike {
          color: #FF6B61;
          &.active {
            .icon {
              background: #FF6B61;
              border-color: #FF6B61;
            }
          }
        }

        &.active {
          .icon {
            color: #fff;
          }
        }
      }
    }

    &__text {
      flex: 1;
      font-size: 22px;
    }
  }

  &-img {
    margin-bottom: 50px;

    @include media($lg) {
      margin-bottom: 20px;
    }

    img {
      display: block;
      width: 100%;
    }

    figcaption {
      margin-top: 16px;
      font-style: italic;
      color: #808080;
    }
  }

  &-cont {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
  }

  &-blockquote {
    padding-top: 42px;
    display: flex;
    border-top: 2px solid #000;
    margin-top: 42px;
    margin-bottom: 110px;

    @include media($lg) {
      margin-bottom: 30px;
      display: block;
    }

    &__info {
      margin-right: 30px;
      min-width: 165px;

      @include media($lg) {
        min-width: 0;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
      }
    }

    &__avatar {
      width: 135px;
      height: 135px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 13px;
      display: block;

      @include media($lg) {
        margin-left: auto;
        margin-right: auto;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__name {
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 5px;

      a {
        &:hover {
          color: $colorAccent;
        }
      }
    }

    &__prof {
      font-size: 15px;
      font-weight: 400;
      color: #A4A4A4;
    }

    &__text {
      font-size: 21px;
      font-style: italic;
      letter-spacing: 0.42px;
      line-height: 1.52;

      @include media($lg) {
        font-size: 16px;
      }
    }
  }

  &-action {
    margin-top: 30px;
  }
}