.profile {
  padding-bottom: 40px;

  &__form {
    width: 100%;
    max-width: 620px;
    margin-left: 80px;
    padding-top: 15px;

    @include media($lg) {
      max-width: 100%;
      margin-left: 0;
    }

    .form__label {
      margin-bottom: 20px;
    }
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .person-stats__box {
      flex: 0 0 calc(33.3333% - 50px);
      width: 100%;
      max-width: calc(33.3333% - 50px);

      @include media($lg) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .person-stat__val {
      padding-right: 0;
    }
  }

  .page__header {
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    @include media($lg) {
      display: block;
    }
  }

  &-avatar {
    flex: 0 0 300px;
    width: 100%;
    max-width: 300px;
    margin-right: 20px;

    @include media($lg) {
      max-width: 100%;
      margin-bottom: 40px;
      margin-right: 0;
    }

    &--small {
      flex: 0 0 220px;
      max-width: 220px;
    }

    &__del {
      font-weight: 400;
      color: $colorAccent;
    }

    &--edit {
      .card__content {
        margin-bottom: 0;
      }

      .card__box {
        display: none;
        position: relative;

        &.edit {
          label,
          .card__video,
          .card__img {
            opacity: .5;
          }

          &:hover {
            label {
              opacity: 1;
            }
          }
        }

        &.active {
          display: block;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #D8D8D8;
          z-index: -1;
        }

        video,
        img {
          opacity: .1;
        }

        & > label {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 1px;
          text-align: center;
          cursor: pointer;

          & > span {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background: #fff;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          input {
            display: none;
          }
        }
      }

      .card__list {

        @include media($lg) {
          display: flex;
        }

        li {
          margin-right: 8px;
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.197209);

          &:last-child {
            margin-right: 0;

            span {
              background-color: transparent;
              padding-left: 2px;
              padding-top: 0;

              .icon {
                color: #fff;
                font-size: 10px;
              }
            }
          }

          &:hover,
          &.active {
            a {
              border-color: transparent;
            }
          }
        }

        a {
          display: block;
          position: relative;
          overflow: hidden;
          width: 44px;
          height: 58px;
          border: 2px solid #fff;
          background: #D8D8D8;
        }

        video,
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        span {
          position: absolute;
          transform: translate(-50%,-50%);
          top: 50%;
          left: 50%;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          background: #fff;
          border: 1px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          padding-top: 1px;
          padding-left: 1px;
        }
      }
    }

    &__nav {
      margin-bottom: 1px;
    }
  }

  &-main {
    flex: 0 0 calc(100% - 320px);
    width: 100%;
    max-width: calc(100% - 320px);

    @include media($lg) {
      max-width: 100%;
    }

    &--big {
      flex: 0 0 calc(100% - 240px);
      max-width: calc(100% - 240px);

      @include media($lg) {
        max-width: 100%;
      }
    }
  }

  &__nav {
    margin-bottom: 30px;
    flex: 0 0 100%;
    width: 100%;
  }

  &-status {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;

    @include media($lg) {
      display: block;
    }

    &__activity {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &__val {
      margin-right: 20px;
      padding-left: 20px;
      position: relative;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      position: relative;

      &:before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 50%;
      }

      &--free {
        &:before {
          background-color: #50c473;
        }
      }
    }

    &__prof {
      display: flex;
      margin-right: 20px;

      @include media($lg) {
        margin-right: 0;
        margin-bottom: 20px;
        flex-wrap: wrap;
      }

      &-item {
        display: flex;
        align-items: center;
        white-space: nowrap;
        height: 40px;
        padding: 0 10px;
        background-color: #ffffff;
        color: #2a2a2a;
        font-size: 20px;
        transition: $transitionMain;

        &:hover,
        &.active {
          color: #ffffff;
          box-shadow: inset 0 -3px 0 $colorAccentAlt;
          background-color: $colorAccentAlt;
        }
      }
    }
  }

  &-agents {
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    @include media($lg) {
      display: none;
    }

    &__title {
      letter-spacing: 1px;
      margin-right: 10px;
      display: inline-block;
    }

    &__item {
      color: inherit;
      transition: $transitionMain;

      &:hover {
        color: $colorAccent;
      }
    }
  }

  &-actions {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__bottom {
      flex: 0 0 100%;
      width: 100%;
      margin-top: 28px;
    }
  }

  &-skills {

    &__list {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item {
      margin-bottom: 8px;
      font-weight: 400;
      position: relative;
      padding-left: 28px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        background: $colorAccent;
        width: 21px;
        height: 15px;
      }

      &:after {
        content: 'x';
        position: absolute;
        top: 1px;
        left: 7.5px;
        color: #fff;
        font-size: 14px;
      }

      &.active {

        &:before {
          background: $colorAvocado;
        }

        &:after {
          content: '';
          top: 6px;
          left: 9px;
          width: 5px;
          height: 9px;
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(45deg);
        }
      }
    }
  }

  &-lists {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #d8d8d8;

    @include media($lg) {
      justify-content: space-between;
    }
  }

  &-list {
    flex: 0 0 320px;
    width: 100%;
    max-width: 320px;
    margin-top: 30px;

    @include media($lg) {
      flex: 0 0 calc(50% - 5px);
      max-width: calc(50% - 5px);
    }

    .profile-item__title {
      margin-bottom: 24px;
    }

    &__item {
      font-size: 14px;
      line-height: 1.71;
      margin-bottom: 1px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-item {

    &__title {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 14px;
      text-transform: uppercase;
      margin-bottom: 10px;

      @include media($lg) {
        margin-bottom: 0;
      }
    }
  }

  &-info {

    &__top {
      background-color: #fff;
      padding: 30px 10px 25px;
      margin-bottom: 20px;
      display: flex;

      @include media($lg) {
        display: block;
        padding: 19px 10px;
      }
    }

    &__box {
      position: relative;
      padding-left: 36px;
      margin-left: auto;

      @include media($lg) {
        display: flex;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 0;

        &:first-child {
          margin-top: 0;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &-link {
        margin-left: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 50px;
        height: 29px;
        transition: $transitionMain;

        @include media($lg) {
          display: none;
        }

        &:hover {
          background: $colorAccent;
          border-color: $colorAccent;
          color: #fff;
        }
      }

      &-icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 32px;

        &--sm {
          font-size: 24px;
        }
      }

      .profile-item__title {
        max-width: 140px;
      }

      &-val {
        margin-top: 12px;
        font-size: 24px;

        @include media($lg) {
          margin-top: 0;
          min-width: 80px;
          width: 80px;
          margin-left: auto;
        }

        &--italic {
          font-style: italic;
        }
      }

      &--alt {
        min-width: 150px;
        padding-left: 0;

        @include media($lg) {
          display: none;
        }

        .profile-info__box-icon {
          position: static;
        }

        .profile-info__box-val {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 16px;
          text-transform: uppercase;
          max-width: 115px;
          margin-top: 4px;

          a {
            transition: $transitionMain;

            &:hover {
              color: $colorAccent;
            }
          }
        }
      }
    }

    &__items {
      display: flex;
      align-items: flex-start;
      padding-bottom: 15px;

      @include media($lg) {
        flex-wrap: wrap;
      }
    }

    &__stats {
      display: flex;
      max-width: 640px;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-end;

      @include media($lg) {
        justify-content: flex-start;
      }

      &--full {
        max-width: 100%;
        justify-content: flex-start;
      }
    }

    &__stat {
      flex: 0 0 160px;
      width: 160px;
      max-width: 160px;
      margin-bottom: 17px;

      @include media($lg) {
        flex: 0 0 140px;
        max-width: 140px;
      }

      &-val {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  &-social {
    margin-left: auto;
    min-width: 140px;

    @include media($lg) {
      margin-left: 0;
    }

    &__list {
      display: flex;
    }

    &__item {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      display: block;
      font-size: 24px;
      transition: $transitionMain;
      line-height: 1;

      &:hover {
        color: $colorAccent;
      }
    }
  }

  &-comp {
    margin-bottom: 12px;

    &__title {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 14px;
      text-transform: uppercase;
      margin-bottom: 9px;
    }

    &__val {
      font-size: 14px;
    }
  }

  &-link {
    color: $colorAccent;
    border-bottom: 1px dashed;
    transition: $transitionMain;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}