mixin popup-add-specialist(modifier)
  #popup-add-specialist.popup.popup-add-specialist&attributes(attributes)
    .popup__content
      .popup__title Добавить специалиста
      ul.line-nav.owl-carousel.project__nav
        each name in ['Контакты','Избранные специалисты']
          li.line-nav__item(class= ( name == "Контакты" ) ? "active" : "")
            a(href="#").line-nav__link= name

      +filter-con(true)

      .cards
        .cards__list
          - for ( var i = 1; i <= 2; i++ ) {
            each object in main.card['cards-slider']
              +card(object.imgName,
                    object.name,
                    object.prof,
                    object.isPro,
                    object.isVerif,
                    object.list,
                    object.rating,
                    object.ratingVal)
          - }