mixin popup-fee(modifier)
  #popup-fee.popup.popup-fee&attributes(attributes)
    .popup__content
      .popup__title Гонорар
      .popup__text Для участия в проекте вам необходимо указать желаемый гонорар участника.
        br
        | Он может отличаться от значения, установленного заказчиком.
      .popup__cont
        .form__label
          span.form__label-name ГОНОРАР КЛИЕНТА
          .form__value 20 000 руб.
        .form__label
          span.form__label-name Ваш желаемый гонорар
          input(type="text" name="" value="25 000 руб.").form__input
      .popup__action
        a(href="#").btn.btn--accent Принять участие