.project {

  &-box {
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.07);
    margin-bottom: 10px;

    &__info {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      background-color: #ffffff;
      margin-bottom: 15px;
    }

    &__avatar {
      width: 60px;
      height: 60px;
      min-width: 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 20px;
      margin-top: -4px;

      @include media($lg) {
        display: none;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &__item {
      padding-right: 10px;
      min-width: 160px;

      @include media($lg) {
        margin-bottom: 20px;
        min-width: 0;
        padding-right: 25px;
      }

      &-title {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 14px;
        text-transform: uppercase;
        margin-bottom: 11px;
      }

      &-val {

        &--price {
          border-radius: 3px;
          background-color: #fbd653;
          padding: 3px 5px;
        }
      }
    }

    &__btn {
      width: 185px;
      max-width: 185px;
      margin-left: auto;

      @include media($lg) {
        display: none;
      }
    }

    &__text {
      flex: 0 0 100%;
      width: 100%;
      margin-top: 20px;

      @include media($lg) {
        margin-top: 10px;
      }
    }
  }

  &-parts {
    padding: 0 20px;
    max-width: 1180px;
    padding-bottom: 15px;

    &__title {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 14px;
      text-transform: uppercase;

      &-num {
        margin-left: 5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: #000;
        width: 20px;
        height: 20px;
        font-size: 11px;
        letter-spacing: 0;
        line-height: 1;
      }
    }

    &__list {
      display: flex;
    }
  }

  &__nav {
    .line-nav__item {
      padding-top: 20px;
    }
  }

  &-cont {
    &__label {
      width: 220px;
      margin-bottom: 0;

      @include media($lg) {
        margin-bottom: 20px;
        width: 100%;

        @supports (flex-direction: column-reverse) {
          margin-top: 20px;
          margin-bottom: 0;
        }
      }
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      @include media($lg) {
        display: block;
        margin-bottom: 10px;

        @supports (flex-direction: column-reverse) {
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }
  }

  &-line {
    display: flex;
    align-items: center;
    min-height: 71px;
    padding: 10px;

    @include media($lg) {
      flex-wrap: wrap;
      position: relative;
    }

    &__download {
       @include media($lg) {
        font-size: 11px;
        height: 28px;
        margin-top: 10px;
       }
    }

    &--top {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 14px;

      @include media($lg) {
        display: none;
      }

      .project-line__checkbox-box {
        border-color: #000;
      }
    }

    &__specialist {
      flex: 0 0 140px;
      width: 100%;
      max-width: 140px;
    }

    &__fio {
      flex: 0 0 220px;
      width: 100%;
      max-width: 220px;

      @include media($lg) {
        margin-bottom: 7px;
        max-width: 100%;
        flex: 1;
      }
    }

    &__status-alt {
      flex: 1;
      display: flex;
      align-items: center;

      @include media($lg) {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        margin-right: 0;
        padding-top: 10px;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: -10px;
          width: calc(100% + 20px);
          border-bottom: 1px solid #D8D8D8;
        }
      }

      &-text {
        max-width: 395px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
      }
    }

    &__more {
      color: $colorAccent;
      border-bottom: 1px dashed;
      transition: $transitionMain;

      @include media($lg) {
        margin-right: 20px;
      }

      &:hover {
        border-bottom-color: transparent;
      }
    }

    &__btn {
      max-width: 100%;
      width: auto;
      padding-left: 18px;
      padding-right: 18px;
      margin-left: auto;

      @include media($lg){
        height: 28px;
        font-size: 11px;
      }
    }

    &__checkbox {

      @include media($lg) {
        display: none;
      }

      &-input {
        display: none;

        &:checked ~ .project-line__checkbox-box {
          border-color: #000;

          &:after {
            opacity: 1;
          }
        }
      }

      &-box {
        display: block;
        position: relative;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        border: 1px solid #c3c3c3;
        cursor: pointer;
        transition: $transitionMain;

        &:after {
          content: '';
          position: absolute;
          top: 1px;
          left: 6px;
          width: 5px;
          height: 10px;
          border-bottom: 1px solid;
          border-right: 1px solid;
          transform: rotate(45deg);
          opacity: 0;
          transition: $transitionMain;
        }
      }
    }

    &__menu {
      position: relative;

      @include media($lg) {
        position: static;
      }

      &.active {
        .project-line__menu-drop {
          display: block;
        }
        .project-line__menu-burger {
          background: $colorAccent;
        }
      }

      &-btn {
        position: relative;
        width: 17px;
        height: 12px;
        display: block;

        &:hover {
          .project-line__menu-burger {
            background: $colorAccent;
          }
        }
      }

      &-burger {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background: #a9a9a9;
        transition: $transitionMain;

        &:after,
        &:before {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background: inherit;
        }

        &:after {
          top: -5px;
        }
        &:before{
          bottom: -5px;
        }
      }

      &-drop {
        position: absolute;
        top: 100%;
        left: -25px;
        display: none;
        padding: 10px 15px;
        background: #fff;
        border-radius: 4px;
        z-index: 50;
        width: 310px;
        margin-top: 15px;
        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.07);

        @include media($lg) {
          left: 0;
          max-width: 100%;
          top: auto;
          margin-top: 5px;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 30px;
          border-bottom: 13px solid #fff;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;

          @include media($lg) {
            display: none;
          }
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 100%;
          height: 15px;
          width: 100%;
        }

        li {
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        a {
          &:hover {
            color: $colorAccent;
          }
        }
      }
    }

    &__href {
      flex: 0 0 130px;
      width: 100%;
      max-width: 130px;
    }

    &__file {
      display: flex;
      align-items: center;

      &-format {
        width: 58px;
        min-width: 58px;
        height: 30px;
        border-radius: 3px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        background: $colorAvocado;
      }

      &-name {
        max-width: 850px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &-input {
          display: none;
          border: 1px solid #ccc;
          padding: 3px;
          font-size: inherit;
          font-style: inherit;
          font-weight: inherit;
          font-family: inherit;
          width: 100%;
        }

        &.edit {
          .project-line__file-name-input {
            display: block;
          }

          span {
            display: block;
            height: 0;
            padding-right: 10px;
          }
        }
      }
    }

    &__item {
      margin-right: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-child {
        margin-right: 0;
      }
    }

    &__name {
      flex: 1;
      padding: 10px 0;

      @include media($lg) {
        flex: 0 0 calc(100% - 60px);
        max-width: calc(100% - 60px);
        padding: 0;
        position: relative;
        padding-bottom: 7px;
        overflow: visible;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: -49px;
          width: calc(100% + 81px);
          border-bottom: 1px solid #D8D8D8;
        }
      }

      &-link {
        transition: $transitionMain;

        &:hover {
          color: $colorAccent;
        }
      }
    }

    &__action {
      flex: .5;
      margin-left: auto;
      margin-right: auto;
      padding-right: 20px;

      @include media($lg) {
        margin-left: 0;
        margin-right: 0;
        flex: initial;
        position: relative;
        bottom: -5px;
      }
    }

    &__num {
      color: #fff;
      background: $colorAvocado;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      font-size: 11px;
      display: inline-block;
      width: 20px;
      height: 20px;
      padding-top: 1px;
      margin-left: 5px;
      position: relative;
      top: -10px;

      @include media($lg) {
        top: 0;
      }
    }

    &__check {
      width: 51px;
      min-width: 51px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: visible;

      @include media($lg) {
        width: 18px;
        min-width: 18px;
        margin-bottom: 7px;
      }
    }

    &__date {
      flex: 0 0 150px;
      width: 100%;
      max-width: 150px;

      @include media($lg) {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin-top: 7px;
      }
    }

    &__status {
      flex: 0 0 140px;
      width: 100%;
      max-width: 140px;

      @include media($lg) {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin-top: 7px;
      }
    }

    &__stars {
      flex: 0 0 130px;
      width: 100%;
      max-width: 130px;

      @include media($lg) {
        display: none;
      }
    }
  }

  &-lines {
    .project-line {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
      background-color: #ffffff;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .project-line__specialist {
      font-weight: 500;

      @include media($lg) {
        margin-bottom: 7px;
      }
    }

    .project-line__action {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        background: #F7F8FA;
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;

        @include media($lg) {
          width: 30px;
          height: 30px;
          min-width: 30px;
        }


        &.active,
        &:hover {
          background: #FF6B61;

          .icon {
            color: #fff;
          }
        }

        .icon {
          color: #000;
          font-size: 21px;

          @include media($lg) {
            font-size: 18px;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-file {
    &__input {
      display: none;
    }
    &__btn {
      width: 220px;
    }
  }
}