.sort {
  display: flex;
  align-items: center;

  &__item {
    font-size: 16px;
    margin-right: 10px;
    transition: $transitionMain;

    &:hover,
    &.active {
      color: $colorAccentAlt;
    }

    &:last-child {
      margin-right: 0;
    }

    &--big {
      @include media($lg) {
        display: none;
      }
    }
  }

  &__icon {
    position: relative;
    bottom: -2px;
  }
}