.score {

  &-history {
    margin-top: 20px;

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      background: #FFFFFF;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.121773);
      padding: 25px 30px;

      @include media($lg) {
        flex-wrap: wrap;
        padding: 12px 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-name {
        width: 50%;
        padding-right: 20px;

        @include media($lg) {
          order: 2;
          flex: 0 0 100%;
          width: 100%;
          margin-bottom: 10px;
          padding-right: 0;
        }
      }

      &-date {
        flex: 1;

        @include media($lg) {
          order: 1;
          flex: 0 0 100%;
          width: 100%;
          margin-bottom: 4px;
          color: #808080;
        }
      }

      &-val {
        font-weight: 400;

        @include media($lg) {
          order: 3;
        }

        &--more {
          color: #32B67A;
        }

        &--less {
          color: #E75153;
        }
      }
    }
  }

  &-summa {
    margin-bottom: 30px;

    &__line {
      background: #FFFFFF;
      border: 1px solid #DBDBDB;
      min-width: 300px;
      padding: 0 10px;
      height: 64px;
      font-size: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__icon {
      margin-right: 15px;
      color: $colorAccentAlt;
      position: relative;
      top: -2px;
    }

    &__num {
      white-space: nowrap;
    }

    &__input {
      background-color: transparent;
      border: none;
      font-size: inherit;
      min-width: 0;
      width: 0;
      max-width: 0;
      flex: auto;

      &.focused {
        max-width: 230px;
        width: auto;

        & ~ .score-summa__num,
        & ~ .score-summa__text {
          display: none;
        }
      }
    }

    &__text {
      margin-left: 5px;
      flex: 1;
    }
  }

  &__items {
    align-items: flex-start;

    .btn {
      max-width: 120px;
    }
  }

  &__pro {
    background: #5C53FB;
    color: #fff;

    .rating-box {
      max-width: 100%;
      width: 100%;
      position: relative;
      display: block;

      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }

    .rating-box__text {
      float: left;

      @include media($lg) {
        float: none;
      }
    }

    .rating-box__title,
    .rating-box__text,
    .form__select {
      max-width: calc(50% - 12px);

      @include media($lg) {
        max-width: 100%;
      }
    }

    .rating-box__text {
      color: inherit;
    }

    .form__select {
      margin: 15px 0 20px;
    }
  }
}