mixin form-items(array)
  .form-items&attributes(attributes)
    .form-items__list
      each name in array
        .form-items__item
          .form-items__item-name= name
          a(href="#").form-items__item-close
    a(href="#").btn.btn--alt.btn--small.form-items__btn Добавить