.form-items {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: $bdrsMain;
  padding: 0 10px 0 0;
  display: flex;
  flex-wrap: wrap;

  &__list{
    flex: 1;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    background: #F7F7F7;
    border-radius: $bdrsMain;
    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    height: 42px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    font-size: 14px;

    &-name{
      white-space: nowrap;
    }

    &-close {
      position: relative;
      width: 15px;
      height: 100%;
      margin-left: 6px;

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 1px;
        background: #000;
      }

      &:after {
        transform: translate(-50%,-50%) rotate(45deg);
      }

      &:before {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }
  }

  &__btn {
    margin-top: auto;
    margin-bottom: auto;
  }
}