.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: none;
  cursor: pointer;
  max-width: 219px;
  width: 100%;
  height: 54px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 1px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: $bdrsMain;
  padding-top: 2px;
  transition: $transitionMain;
  white-space: nowrap;

  &--accent {
    background: $colorAccent;
    color: #fff;
    border-color: $colorAccent;
  }

  &--light {
    border: 1px solid #000000;
    background: transparent;

    &:hover {
      background: #000;
      color: #fff;
    }
  }

  &--alt {
    background: $colorAccentAlt;
    border-color: $colorAccentAlt;
    color: #fff;
  }

  &--blueber {
    color: #fff;
    background: $colorBlueBerry;
    border-color: $colorBlueBerry;
  }

  &--gray {
    border: 1px solid rgba(215, 215, 215, 0.7);
    color: #999999;

    &:hover {
      color: #fff;
      background-color: #999;
    }
  }

  &--small {
    height: 28px;
    font-size: 11px;
    max-width: 134px;
  }

  &--green {
    background-color: $colorAvocado;
  }

  &--price {
    background-color: #fbe20b;
    color: #000000;
  }

  &--aut {
    display: inline-flex;
    width: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}