.nav {
  display: flex;
  margin-right: auto;

  @include media($lg) {
    display: block;
    margin-bottom: 30px;
  }

  &__item {
    margin-right: 19px;
    display: flex;
    align-items: center;
    position: relative;

    @include media($lg) {
      margin-bottom: 19px;
      display: block;
    }

    &:last-child {
      margin-right: 0;

      @include media($lg) {
        margin-bottom: 0;
      }
    }


    &:hover {
      .nav__drop {
        opacity: 1;
        visibility: visible;

        @include media($lg) {
          display: block;
        }
      }
    }
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $colorAccent;
    margin-left: 3px;
    position: relative;
    top: -2px;

    @include media($lg) {
      display: inline-flex;
      vertical-align: middle;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: #fff;
    }

    &:after {
      width: 8px;
      height: 1px;
    }

    &:before {
      height: 8px;
      width: 1px;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    transition: $transitionMain;

    &:hover {
      color: $colorAccent;
    }

    &--drop {
      position: relative;
      padding-right: 11px;

      &:after {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        top: 4px;
        right: 0;
        border-bottom: 1px solid;
        border-right: 1px solid;
        transform: rotate(45deg);
      }
    }
  }

  &__drop {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    border: 1px solid #FFFFFF;
    padding: 20px;
    width: 300px;
    opacity: 0;
    visibility: hidden;

    @include media($lg) {
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
      margin-top: 20px;
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 30px;
      border-bottom: 15px solid #fff;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;

      @include media($lg) {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 65px;

      @include media($lg) {
        display: none;
      }
    }

    &-link {
      a {
        color: $colorAccent;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-bottom: 7px;
    }

    li {
      margin-right: 10px;
      margin-bottom: 10px;
      width: calc(50% - 10px);

      a {
        display: block;
        padding: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        color: #000;
        border-radius: 3px;
        height: 60px;
      }
    }
  }
}