mixin nav(modifier)
  ul.nav&attributes(attributes)
    each object in main.nav.mainNav
      li.nav__item
        a(href= object.href || "#", class= object.drop ? "nav__link--drop" : "").nav__link= object.name
        if object.btn
          a(href="#").nav__add
        if ( object.name == 'Специалисты')
          .nav__drop
            ul
              li
                a(href="#", style="background: #D1E7EF;") КИНО
              li
                a(href="#", style="background: #F4EFAF;") МОДа
              li
                a(href="#", style="background: #D1EFE4;") ТЕАТР
              li
                a(href="#", style="background: #FCE1CE;") Мероприятия
            .nav__drop-link
              a(href="#") Все специалисты