.section {
  margin-bottom: 80px;

  @include media($lg) {
    margin-bottom: 30px;
  }

  &--bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/section__bg.png');
    padding-top: 20px;

    @include media($lg) {
      background-size: 320px;
      background-position: center top;
    }
  }

  &--light {
    background: #fff;
  }

  &-action {
    display: flex;
    justify-content: center;
    // margin-top: 65px;

    &__btn {
      max-width: 198px;
    }
  }
}