// h1, h2, h3, h4
.title-alt,
.title,
.page__title,
.section__title,
.main-title,
.title-sm {
  line-height: 1.16;
  color: $colorTextAlt;
}

.main-title {
  font-size: 56px;
  font-weight: 300;

  @include media($lg) {
    font-size: 36px;
  }
}

// h1
.page__title,
.section__title {
  font-size: 48px;
  font-weight: 300;
}

.page__title {

  @include media($lg) {
    font-size: 36px;
  }
}

.section__title {
  text-align: center;
  margin-bottom: 50px;

  @include media($lg) {
    text-align: left;
    margin-bottom: 19px;
    font-size: 24px;
    font-weight: 500;
  }
}

// h2
.title,
h2 {
  font-size: 36px;
  font-weight: 500;
}
.title {
  margin-bottom: 50px;

  @include media($lg) {
    margin-bottom: 25px;
  }
}

.title--center {
  text-align: center;

  @include media($lg) {
    text-align: left;
  }
}

// h3
.title-alt,
h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

// h4
.title-sm,
h4 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}