mixin form-trigger(array,triggerCounter)
  .form-trigger&attributes(attributes)
    each name in array
      label.form-trigger__item
        if ( name == array[0] )
          input(type="radio" name="trigger_" + triggerCounter, checked).form-trigger__input
        else
          input(type="radio" name="trigger_" + triggerCounter).form-trigger__input
        span.form-trigger__item-name= name