.form-trigger {
  display: flex;
  flex-wrap: wrap;

  &__input {
    display: none;

    &:checked ~ .form-trigger__item-name {
      background: $colorAccentAlt;
      color: #fff;
      border-color: $colorAccentAlt;
    }
  }

  &__item {

    &:first-child {
      border-radius: $bdrsMain 0 0 $bdrsMain;

      .form-trigger__item-name {
        margin-left: 0;
      }
    }

    &:last-child {
      border-radius: 0 $bdrsMain $bdrsMain 0;
    }

    &-name {
      border-radius: inherit;
      border: 1px solid #DBDBDB;
      height: 29px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding: 0 10px;
      margin-left: -1px;
      cursor: pointer;
      min-width: 120px;
      justify-content: center;
      font-size: 14px;
    }
  }
}