.pro {
  text-align: center;

  @include media($lg) {
    padding-top: 15px;
  }

  &__title {
    position: relative;
    max-width: 264px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    @include media($lg) {
      max-width: 174px;
      margin-bottom: 20px;
    }

    img {
      display: block;
      max-width: 100%;
    }

    &-text {
      position: absolute;
      left: 100%;
      bottom: 100%;
      height: 15px;
      display: flex;
      align-items: center;
      padding: 0 5px;
      text-transform: uppercase;
      color: #fff;
      background: $colorAccentAlt;
      font-size: 10px;
      font-weight: 500;
      transform: translateY(50%);
      line-height: 1;
    }
  }

  &__subtitle {
    color: #222222;
    font-size: 42px;

    @include media($lg) {
      font-size: 24px;
    }
  }

  &__top {
    margin-bottom: 85px;

    @include media($lg) {
      margin-bottom: 28px;
    }
  }

  &__img {
    margin-bottom: 92px;

    @include media($lg) {
      margin-bottom: 50px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__items {
    @include row(-10px);
    margin-bottom: 100px;
    justify-content: center;

    @include media($lg) {
      margin-bottom: 30px;
    }
  }

  &__item {
    @include col(1,5);
    padding: 0 10px;
    margin-bottom: 50px;

    @include media($lg) {
      @include col(1,2);
      margin-bottom: 20px;
    }

    .icon {
      font-size: 80px;
      height: 80px;
      margin-bottom: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;

      @include media($lg) {
        height: 48px;
        font-size: 48px;
        margin-bottom: 15px;
      }
    }

    &-name {
      font-size: 22px;

      @include media($lg) {
        font-size: 16px;
      }
    }
  }

  &__score {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;

    @include media($lg) {
      text-align: left;
    }

    .rating__item {
      margin-right: 0;
      margin-bottom: 0;
    }

    .btn,
    .rating-box__text,
    .rating-box__title {
      float: none;
      margin-left: auto;
      margin-right: auto;

      @include media($lg) {
        margin-left: 0;
      }
    }

    .btn {
      max-width: 120px;
    }

    .form__select {
      text-align: left;
    }

    .rating-box__num {
      justify-content: center;

      @include media($lg) {
        justify-content: flex-start;
      }

      &:after {
        display: none;
      }
    }

    .rating-box__list {
      display: none;

      @include media($lg) {
        display: block;
      }
    }
  }
}