.diagram {
  margin-top: 65px;
  margin-bottom: 49px;
  display: flex;

  @include media($lg) {
    display: block;
    margin-bottom: 30px;
    margin-top: 40px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__main {
    flex: 1;
    background: #fff;
    padding: 30px 0;

    @include media($lg) {
      min-width: 800px;
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 15px;

    &-name {
      display: inline-block;
      margin-right: 35px;
    }
  }

  &__date {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
  }

  &__info {
    margin-left: 24px;
    width: 300px;

    @include media($lg) {
      width: 100%;
      margin-left: 0;
    }
  }

  &__icon {
    color: $colorAccent;
    font-size: 40px;
    margin-bottom: 13px;
  }

  &__text {
    display: block;
    font-size: 14px;
    line-height: 22px;
  }

  &__pic {
    height: 300px;
    width: 100%;
  }

  .ct-point {
    display: none;
  }
  .ct-line {
    stroke-width: 1px;
  }
  .ct-grid {
    stroke-dasharray: 0px;
    stroke: #eee;
  }
  .ct-label {
    color: #687178;
  }
  .ct-grid.ct-horizontal {
    &:first-child {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 50px 0;
  }

  &__item {
    margin-right: 25px;
    position: relative;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: '';
      margin-right: 10px;
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      position: relative;
      top: -1px;
    }

    &--all {
      &:before {
        background: #54C290;
      }
    }
    &--active {
      &:before {
        background: #FF6D64;
      }
    }
    &--exp {
      &:before {
        background: #5048DD;
      }
    }
    &--project {
      &:before {
        background: #050505;
      }
    }
  }

  .ct-series-a .ct-line {
    stroke: #050505;
  }
  .ct-series-b .ct-line {
    stroke: #5048DD;
  }
  .ct-series-c .ct-line {
    stroke: #FF6D64;
  }
  .ct-series-d .ct-line {
    stroke: #54C290;
  }
}