.aside-help {
  background-color: #f7f8fa;
  padding: 20px 20px 40px;

  &--light {
    background: #fff;
  }

  .title-alt {
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    position: relative;
    padding-left: 60px;
    min-height: 48px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    transition: $transitionMain;

    &:before {
      content: attr(data-num);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 48px;
      height: 48px;
      background: $colorAccent;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
    }

    &:hover {
      color: $colorAccent;
    }
  }
}