.slider-reviews {

  &--alt {
    margin-bottom: 45px;
  }

  &.owl-carousel .owl-stage-outer {
    overflow: visible;
  }

  .owl-stage {
    display: flex;
  }

  &.owl-carousel .owl-item {
    display: flex;
  }

  &.owl-carousel .owl-item img {
    width: auto;
  }

  &__item {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    background-color: #ffffff;
    padding: 30px 30px 35px;
    text-align: center;
    width: 500px;
    min-width: 500px;
    height: 100%;

    @include media($lg) {
      width: 300px;
      padding: 25px 10px;
      min-width: 300px;
      max-width: 300px;
    }

    &:last-child {
      margin-right: 0;
    }
    
    @supports (flex-direction: column) {
      display: flex;
      flex-direction: column;
    }

    &-img {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;

      @include media($lg) {
        margin-bottom: 20px;
      }

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-text {
      font-size: 20px;
      line-height: 28px;
      color: $colorTextAlt;
      margin-bottom: 30px;
    }

    &-avatar {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto 10px;
      margin-top: auto;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-name {
      color: #353535;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
    }

    &-prof {
      color: #9fa3a7;
      font-weight: 400;
    }
  }
}