.snaps {

  &__info {
    margin-bottom: 20px;
  }

  &--main {
    width: 860px;
    padding-bottom: 25px !important;

    @include media($lg) {
      width: 100%;
    }
  }

  &.scroll-scrolly_visible {
    padding-right: 22px;
    width: auto !important;
  }

  .scroll-element.scroll-y.scroll-scrolly_visible {
    right: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__line {
    display: flex;
  }

  &-card {
    position: relative;
    width: 107px;

    &.active {
      .snaps-card__img {
        opacity: 1;
      }
      .snaps-card__actions {
        opacity: 0;
        transition: $transitionMain;
      }

      &:hover {
        .snaps-card__actions {
          opacity: 1;
        }
      }
    }

    &__box {
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        display: block;
        padding-top: 158px;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: .15;
    }

    &__input {
      display: none;
    }

    &__actions {
      position: absolute;
      right: 3px;
      bottom: 3px;
    }

    &__add {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: relative;

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }

      &:after {
        width: 17px;
        border-bottom: 1px solid #fff;
      }

      &:before {
        height: 17px;
        border-right: 1px solid #fff;
      }
    }
  }
}