.portfolio {

  &__content {
    margin: 0 -10px;

    @include media($lg) {
      margin: 0;
    }
  }

  .title {
    margin-bottom: 30px;
  }

  &__items {
    margin-bottom: 40px;

    &:after {
      content: '';
      display: block;
      clear: both;

      @include media($lg) {
        display: none;
      }
    }
  }

  &-item {
    width: 300px;
    float: left;
    margin: 10px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include media($lg) {
      width: 140px;
      height: 180px;
      margin: 0;
    }

    &--min {
      width: 140px;
      height: 180px;

      @include media($lg) {
        width: auto;
      }
    }

    &--sm {
      width: 540px;
      height: 360px;

      @include media($lg) {
        width: auto;
        height: 180px;
      }
    }

    &--big-h {
      width: 380px;
      height: 488px;

      @include media($lg) {
        width: auto;
        height: 180px;
      }
    }

    &__box {
      position: relative;

      &:hover {
        .portfolio-item__view {
          opacity: 1;
        }
      }
    }

    &__img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    &__view {
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: #ffffff;
      border-radius: 50%;
      bottom: 10px;
      right: 10px;
      opacity: 0;
      transition: $transitionMain;

      @include media($lg) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        background: #000;
        transform: translate(-50%,-50%);

        @include media($lg) {
          display: none;
        }
      }

      &:before {
        width: 12px;
        height: 1px;
      }

      &:after {
        width: 1px;
        height: 12px;
      }
    }

    &__video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      color: #fff;

      &-icon {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        border: 5px solid;
        font-size: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: .1em 0 0 .2em;
      }

      &-text {
        margin-top: 11px;
        display: block;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 24px;
        text-transform: uppercase
      }
    }
  }
}