mixin portfolio(modifier)
  section.section.section--light.portfolio
    .container
      header
        h2.title Портфолио
      ul.line-nav.owl-carousel.profile__nav
        - var lineNavActive = 'Основной фотоальбом';
        each name in ['Основной фотоальбом','Рабочий процесс','Ещё один фотоальбом','Фото из проектов','Видеоальбом']
          li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
            a(href="#").line-nav__link= name
      .portfolio__content
        .portfolio__items
          .portfolio-item
            .portfolio-item__box
              img(src="img/portfolio__img-1.jpg", alt="").portfolio-item__img
              a(href="img/portfolio__img-1.jpg", data-fancybox="gallery").portfolio-item__view
          .portfolio-item
            .portfolio-item__box
              img(src="img/portfolio__img-2.jpg", alt="").portfolio-item__img
              a(href="img/portfolio__img-2.jpg", data-fancybox="gallery").portfolio-item__view
          .portfolio-item.portfolio-item--sm
            .portfolio-item__box
              img(src="img/portfolio__img-3.jpg", alt="").portfolio-item__img
              a(href="img/portfolio__img-3.jpg", data-fancybox="gallery").portfolio-item__view
          .portfolio-item.portfolio-item--min
            .portfolio-item__box
              img(src="img/portfolio__img-6.jpg", alt="").portfolio-item__img
              a(href="img/portfolio__img-6.jpg", data-fancybox="gallery").portfolio-item__view
          .portfolio-item.portfolio-item--big-h
            .portfolio-item__box
              img(src="img/portfolio__img-8.jpg", alt="").portfolio-item__img
              a(href="https://www.youtube.com/embed/PZknH0RI9eM").portfolio-item__video
                +icon('play').portfolio-item__video-icon
                span.portfolio-item__video-text Смотреть видео
          .portfolio-item
            .portfolio-item__box
              img(src="img/portfolio__img-4.jpg", alt="").portfolio-item__img
              a(href="img/portfolio__img-4.jpg", data-fancybox="gallery").portfolio-item__view
          .portfolio-item
            .portfolio-item__box
              img(src="img/portfolio__img-5.jpg", alt="").portfolio-item__img
              a(href="img/portfolio__img-5.jpg", data-fancybox="gallery").portfolio-item__view
          .portfolio-item.portfolio-item--min
            .portfolio-item__box
              img(src="img/portfolio__img-7.jpg", alt="").portfolio-item__img
              a(href="img/portfolio__img-7.jpg", data-fancybox="gallery").portfolio-item__view


        .section-action
          a(href="#").btn.btn--light.section-action__btn Загрузить еще