.tooltip {
  display: inline-block;
  position: relative;

  @include media($lg) {
    position: static;
  }

  &__btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 0 0 1px;
    background-color: transparent;

    &:hover {
      background: #000;
      color: #fff;

      & + .tooltip__drop {
        display: block;
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: -25px;
    margin-top: 15px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.07);
    text-transform: none;
    font-size: 16px;
    line-height: 26px;
    padding: 15px 20px;
    width: 310px;
    z-index: 50;
    letter-spacing: normal;
    font-weight: 300;

     @include media($lg) {
      left: 0;
      max-width: 100%;
      top: auto;
      margin-top: 5px;
     }

    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 30px;
      border-bottom: 13px solid #fff;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;

       @include media($lg) {
        display: none;
       }
    }
  }
}