.inner {
  display: flex;
  margin-bottom: 45px;

  @include media($lg) {
    margin-bottom: 30px;
  }

  &__aside {
    flex: 0 0 220px;
    width: 100%;
    max-width: 220px;
    margin-right: 20px;

    @include media($lg) {
      display: none;
      max-width: 100%;
    }

    &-mobile {
      @include media($lg) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
        z-index: 100;
        display: block;
        padding: 20px 60px 20px 10px;
        opacity: 0;
        visibility: hidden;
        transition: $transitionMain;
      }

      &.active {
        @include media($lg) {
          opacity: 1;
          visibility: visible;
        }
      }

      &-close {
        display: none;

        @include media($lg) {
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;
          width: 22px;
          height: 22px;
          background-color: transparent;
          border: none;
          z-index: 101;

          &:after,
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 1px;
            background: #000;
          }

          &:after {
            transform: translate(-50%,-50%) rotate(45deg);
          }

          &:before {
            transform: translate(-50%,-50%) rotate(-45deg);
          }
        }
      }
    }
  }

  &__main {
    flex: 1;

    @include media($lg) {
      width: 100%;
    }
  }
}