.footer {
  background-color: #ffffff;

  &__main {
    padding: 70px 0 32px;
    display: flex;

    @include media($lg) {
      padding-top: 80px;
      padding-bottom: 0;
    }
  }

  &-item {
    flex: 1;

    @include media($lg) {
      display: none;
    }

    &--big {
      flex: 2;

      .footer-item__content {
        display: flex;
        flex-wrap: wrap;
      }

      .footer-list {
        flex: 0 0 50%;
        width: 100%;
        max-width: 50%;
      }
    }

    &--contact {
      margin-left: 100px;
      flex: 0 0 480px;
      width: 100%;
      max-width: 480px;

      @include media($lg) {
        display: block;
        max-width: 100%;
        margin-left: 0;
        flex: 0 0 100%;
      }
    }

    &__title {
      margin-bottom: 29px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;

      @include media($lg) {
        display: none;
      }
    }
  }

  &-list {
    margin-bottom: 20px;

    &__item {
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      color: #222222;
      transition: $transitionMain;

      &:hover {
        color: $colorAccent;
      }
    }
  }

  &__social {
    @include media($lg) {
      justify-content: center;
    }
  }

  &__subscription {
    margin-bottom: 35px;

    @include media($lg) {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dfdfdf;
    padding: 43px 0 53px;
    color: $colorTextAlt;
    position: relative;

    @include media($lg) {
      display: block;
      border-top: none;
      padding-top: 16px;
      padding-bottom: 30px;
    }
  }

  &__logo {
    position: absolute;
    max-width: 132px;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);

    @include media($lg) {
      top: auto;
      bottom: 100%;
      margin-bottom: 65px;
    }
  }

  &__privacy {
    @include media($lg) {
      display: none;
    }
  }

  &__copy {
    @include media($lg) {
      text-align: center;
    }
  }
}