mixin footer(modifier)
  footer.footer&attributes(attributes)
    .container
      .footer__main
        .footer-item.footer-item--big
          .footer-item__title Сервис
          .footer-item__content
            ul.footer-list
              each href,name in main.footer['list-1']
                li.footer-list__item
                  a(href= href || "#").footer-list__link= name
            ul.footer-list
              each href,name in main.footer['list-2']
                li.footer-list__item
                  a(href= href || "#").footer-list__link= name
            ul.footer-list
              each href,name in main.footer['list-3']
                li.footer-list__item
                  a(href= href || "#").footer-list__link= name
        .footer-item
          .footer-item__title Помощь
          .footer-item__content
            ul.footer-list
              each href,name in main.footer['list-4']
                li.footer-list__item
                  a(href= href || "#").footer-list__link= name
            ul.footer-list
              each href,name in main.footer['list-5']
                li.footer-list__item
                  a(href= href || "#").footer-list__link= name
        .footer-item.footer-item--contact
          .footer-item__title Подписка на новости сервиса
          .footer-item__content
            +subscription()(class="footer__subscription")
            +social('main')(class="footer__social")
      .footer__bottom
        a(href="#").footer__privacy Политика конфиденциальности
        +logo()(class="footer__logo")
        .footer__copy Ratingram © 2018