.card {
  @include col(1,5);
  padding: 0 10px;
  margin-bottom: 40px;

  @include media($lg) {
    @include col(1,2);
    margin-bottom: 15px;
  }

  &s {

    &-empty {
      padding-top: 60px;
      text-align: center;
      flex: 0 0 100%;
      width: 100%;

      &__icon {
        font-size: 71px;
        margin-bottom: 35px;
      }

      &__text {
        font-size: 36px;
      }
    }

    &__list {
      @include row(-10px);
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }

    &__more {
      max-width: 245px;
    }

    &--small {

      .card {
        @include col(1,8);
        margin-bottom: 20px;

        @include media($lg) {
          @include col(1,2);
          margin-bottom: 15px;
        }
      }

      .cards__action {
        margin-top: 40px;
      }

      .card__list {
        display: none;
      }
    }

    &--line {
      .cards__action {
        margin-top: 40px;
      }
    }
  }

  &__content {
    position: relative;

    &:hover {
      .card__rating {
        height: 13px;

        &-val {
          font-size: 10px;
        }
      }

      .price-status {
        opacity: 0;
      }

      .card__actions,
      .card__favorite {
        opacity: 1;
      }
    }

    &--avatar {
      margin-bottom: 20px;

      .card__favorite {
        opacity: 1;
      }
      .card__item {
        width: 42px;
        height: 56px;
      }
      .card__rating {
        height: 13px;
        top: 100%;
        margin-top: 1px;

        &-val {
          font-size: 10px;
        }
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__box {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      padding-top: 133%;
    }
  }

  &__video,
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__status {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 15px;
    z-index: 2;
  }

  &__pro {
    text-transform: uppercase;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: 0 5px;
    font-size: 10px;
    font-weight: 500;
    background: #4138db;
  }

  &__verif {
    height: 100%;
    width: 20px;
    position: relative;
    background: $colorAccent;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 7px;
      transform: rotate(45deg);
      width: 5px;
      height: 9px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }

  &__favorite {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 24px;
    color: #fff;
    z-index: 6;
    transition: $transitionMain;
    opacity: 0;

    &.active {
      color: $colorAccent;
      opacity: 1;
    }
  }

  &__list {
    position: absolute;
    bottom: 16px;
    left: 5px;
    display: flex;
    z-index: 2;

    @include media($lg) {
      display: none;
    }
  }

  &__item {
    width: 36px;
    height: 48px;
    overflow: hidden;
    margin-right: 8px;
    transition: .3s;
    box-shadow: 0 0 0 3px transparent;

    &--video {
      position: relative;
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #fff;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      padding-left: 3px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &.active {
      box-shadow: 0 0 0 3px #fff;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__rating {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    overflow: hidden;
    z-index: 5;
    transition: $transitionMain;
    background: #fff;

    &-val {
      background: $colorAccent;
      text-align: center;
      color: #fff;
      font-size: 0;
      height: inherit;
      line-height: 10px;
      padding-top: 2px;
      transition: font-size $transitionMain;
    }
  }

  &__actions {
    position: absolute;
    right: 5px;
    bottom: 16px;
    display: flex;
    opacity: 0;
    transition: $transitionMain;
    z-index: 6;

    @include media($lg) {
      display: none;
    }
  }

  &__btn {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
    font-size: 18px;
    color: #fff;
    padding-top: 2px;
    padding-left: 2px;

    .icon {
      height: 18px;
    }
  }

  &__name {
    margin-top: 10px;
    font-weight: 500;
    color: #1b2125;
  }

  &__prof {
    color: #1b2125;
    margin-top: 3px;

    @include media($lg) {
      display: none;
    }
  }
}