mixin card(imgName,name,prof,isPro,isVerif,list,rating,ratingVal,testMode)
  .card&attributes(attributes)
    .card__content
      a(href="#").card__link
      .card__box
        img(src="img/" + imgName, alt="").card__img
        if (isPro || isVerif)
          .card__status
            if isPro
              .card__pro pro
            if isVerif
              .card__verif
        if testMode
          span.price-status
            i(class= "price-" + testMode)
        a(href="#").card__favorite
          +icon('favorite')
        if list
          .card__list
            each className,imgItem in list
              a(href="#").card__item
                img(src="img/" + imgItem, alt="")
          .card__actions
            a(href="#").btn.btn--accent.card__btn
              +icon('messages')
            a(href="#").btn.btn--alt.card__btn
              +icon('plus')
        .card__rating
          .card__rating-val(style="width: " + rating + "%;")= ratingVal
      .card__name= name
      .card__prof= prof