extends ../templates/layout-main

block variables
  - var headerIsAuth = false;  // переключить тип шапки

block content
  .page(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      .inner
        .inner__main
          .about.pro
            .pro__top
              .pro__title
                img(src="img/logo-alt.png", alt="")
              .pro__subtitle Профессионалы индустрии рекламы, 
                br
                | кино и шоубизнеса

            .pro__items
              each iconName,name in {"Создавайте проекты":"pr-add","Учавствуйте в кастингах":"casts","Общайтесь с коллегами":"dialogs","Прозрачное ценообразование":"price-r","Большой каталог профессионалов":"profs-m"}
                .pro__item
                  +icon(iconName)
                  .pro__item-name= name

            .about__video
              img(src="img/video__img.jpg", alt="")
              a(href="https://www.youtube.com/embed/PZknH0RI9eM").about__video-btn.js-popup-video
                +icon('play')
                span Смотреть видео

            .about__items.pro__items
              .about__item
                .about__item__title более
                .about__item__num 50 000
                .about__item__name специалистов
              .about__item
                .about__item__title более
                .about__item__num 56
                .about__item__name специализаций
              .about__item
                .about__item__title более
                .about__item__num 100
                .about__item__name проектов каждую неделю