extends ../templates/layout-main

block variables
  - var headerIsAuth = true;  // переключить тип шапки

block content
  section.section.top-box.sing-in(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      .sing-in__box.sing-in__box--sm
        form.form.sing-in__form
          .page__title.sing-in__title Авторизация
          label.form__label
            span.form__label-name Номер телефона
              sup *
            span.sing-in__input
              +icon('phone').sing-in__input-icon
              input(type="tel" name="" value="" placeholder="" autofocus).form__input.form__input-phone
          label.form__label
            span.form__label-name Пароль
            span.sing-in__input
              +icon('pass').sing-in__input-icon
              input(type="password" name="" value="" placehodler="").form__input
          input(type="submit" name="submit" value="Войти").btn.btn--accent
          .sing-in__action
            a(href="password-recovery.html").sing-in__link Забыли пароль?
          .sing-in__info
            .sing-in__info-text У вас нет аккаунта?
            a(href="registration.html").sing-in__link.sing-in__link--sm Регистрация