extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            a(href="#").page__header-item Проект
            h1.page__title Создание кастинга
          form.form.profile__content

            .projects-cont
              .projects-cont__main
                .form-box
                  .title-alt Основная информация:
                  label.form__label
                    span.form__label-name Проект
                    input(type="text" name="" placeholder="" value="Рекламная съемка Reebok").form__input
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Доступ
                      select.form__select
                        option(value="") Это открытый кастинг
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Название кастинга
                      input(type="text" name="" placeholder="" value="Подбор моделей на съемки").form__input
                    label.form__label.form__label--half.form__label--date
                      span.form__label-name Дата проведения
                      input(type="text" name="" placeholder="" value="09 Май 2019").form__input.form__date.form__date--full
                    label.form__label.form__label--half
                      span.form__label-name Организатор
                      select.form__select
                        option(value="") Reebok
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Место проведения
                      select.form__select
                        option(value="") Москва
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Тип проекта
                      select.form__select
                        option(value="") Рекламная фотосессия
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                .form-box
                  .title-alt Требования к участникам:
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Специализация исполнителя
                      select.form__select
                        option(value="") Рекламные фотосъемки
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Рост исполнителя
                      select.form__select
                        option(value="") до 190 см
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Требования к документам
                      select.form__select
                        option(value="") Наличие загранпаспорта
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Профильное образование
                      select.form__select
                        option(value="") Актерское
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    .form-box__action
                      button.btn.btn--light.btn--small + Добавить требование
                  .form__label
                    span.form__label-name Описание кастинга
                    textarea(placeholder="Опишите ваш кастинг").form__textarea
                  .form__label
                    span.form__label-name Пригласить участников
                    .form__files
                      .form__file.form__persons
                        span.project-card__person.project-card__person--gray
                          a(href="#").project-card__person-avatar
                            img(src="img/project-card__avatar-1.jpg", alt="")
                          a(href="#").project-card__person-name Ольга Иванова
                        label.form__file-label
                          .btn.btn--light.btn--small.form__file-btn + Пригласить
                        button.form__file-del
                .form-box
                  .title-alt Дополнительные файлы:
                  .form__label
                    span.form__label-name ПРИКРЕПИТЬ ФАЙЛЫ
                    .form__files
                      .form__file
                        span.form__file-name
                        label.form__file-label
                          input(type="file" name="file[]").form__file-input
                          .btn.btn--light.btn--small.form__file-btn Выберите файл...
                        button.form__file-del
                  .form-box__action
                    button.btn.btn--light.btn--small.form-more-files + Добавить файл


              .projects-cont__aside
                .aside-help
                  .title-alt Помощь
                  ul.aside-help__list
                    li.aside-help__item
                      a(href="#", data-num="1").aside-help__link Что такое кастинг?
                    li.aside-help__item
                      a(href="#", data-num="2").aside-help__link Сколько людей можно добавить?
                    li.aside-help__item
                      a(href="#", data-num="3").aside-help__link Как отобрать исполнителя?
                    li.aside-help__item
                      a(href="#", data-num="4").aside-help__link Как поставить задачу?
                  a(href="#").btn.btn--light Перейти в раздел FAQ

            .form-actions
              input(type="submit" name="submit" value="Создать кастинг").btn.btn--accent

