extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Права на материалы"; // выбор активного пункта во вкладках
  - var triggerCounter = 1;

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            a(href="#").page__header-item Проект: Рекламная сьемка для New Balance
            h1.page__title Редактирование прав/условий исполнителя

            .flex-line
              .project-part.card
                .card__content
                  a(href="#").card__link
                  .card__box
                    img(src="img/card__img-1.jpg", alt="")
                    .card__status
                      .card__pro pro
                      .card__verif
                    .card__rating
                      .card__rating-val(style="width: 50%;") 5
                .card__content
                  .project-part__actions
                    a(href="#").btn.btn--small.project-part__price 350 000 Р
                    a(href="#").btn.btn--small.project-part__list
                      +icon('lists')
                  a(href="#").card__name Андрюшина Рената
                  .card__prof модель

              .page__info.page__info--small Вы можете задать стоимость работы вручную в желтом поле, таким образом все кандидаты будут видеть фиксированный размер оплаты за проект. Иначе, они будут видеть гонорар, расчитанный по их рейтингу.

          form.form.profile__content

            .projects-cont

              ul.line-nav.owl-carousel
                each href,name in main['line-nav']['casting-creation-alt']
                  li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")(class= ( name == "Условия сьемки" ) ? "line-nav__item-tooltip" : "")
                    a(href= href).line-nav__link= name
                    if ( name == "Условия сьемки" )
                      +tooltip()

              .projects-cont__main
                .form-box
                  .form__label
                    span.form__label-name Тип прав
                      +tooltip()
                    +trigger('Неограниченные','Ограниченные').projects__trigger
                .form-box
                  .form__label
                    span.form__label-name Сроки
                    .form__date-line
                      span.form__date-line-name начиная с
                      .form__label--datepicker
                        input(type="text" name="" value="10 Май 2019").form__date.form__input
                      span.form__date-line-name на срок
                      select.form__select
                        option(value="") 1 месяц
                        option(value="") 2 месяца
                        option(value="") 3 месяца
                        option(value="") 4 месяца
                        option(value="") 5 месяцев
                        option(value="") 6 месяцев
                        option(value="") 7 месяцев
                        option(value="") 8 месяцев
                        option(value="") 9 месяцев
                        option(value="") 10 месяцев
                        option(value="") 11 месяцев
                        option(value="") 12 месяцев
                  .form__label
                    span.form__label-name Использование
                    +form-items(['Газеты','Журналы'])
                  .form__label
                    span.form__label-name Распространение
                    +form-items(['Все страны и города'])
                  .form__label
                    +trigger-alone('Только в рамках портфолио', true)
                    +trigger-alone('С правом на использование', true)
                  .form__label
                    span.form__label-name Передача результатов проекта:
                    +trigger-alone('Все материалы', false)
                    +trigger-alone('Все согласованные материалы', true)
                    +trigger-alone('Только обработанные материалы', true)
                    +trigger-alone('Обработанные материалы сниженного качества', true)


              .projects-cont__aside

            .form-actions
              input(type="submit" name="submit" value="Опубликовать поиск").btn.btn--accent

