extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Основные требования"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            a(href="#").page__header-item Проект: Рекламная сьемка для New Balance
            h1.page__title Подбор исполнителя

          form.form.profile__content

            .projects-cont
              .projects-cont__main
                .form__label-list
                  label.form__label.form__label--half
                    span.form__label-name Доступ
                    select.form__select
                      option(value="") Это открытый кастинг
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                      option(value="") Вариант 3
                  label.form__label.form__label--half.form__label--date
                    span.form__label-name Дата проведения
                    input(type="text" name="" placeholder="" value="09 Май 2019").form__input.form__date.form__date--full
                  label.form__label.form__label--half
                    span.form__label-name Организатор
                    select.form__select
                      option(value="") Reebok
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                      option(value="") Вариант 3
                  label.form__label.form__label--half
                    span.form__label-name Место проведения
                    select.form__select
                      option(value="") Москва
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                      option(value="") Вариант 3
                  label.form__label.form__label--half
                    span.form__label-name Тип проекта
                    select.form__select
                      option(value="") Рекламная фотосессия
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                      option(value="") Вариант 3
                .form__label
                  span.form__label-name Описание кастинга
                  textarea(placeholder="Опишите ваш кастинг").form__textarea
                .title-alt Дополнительные файлы:
                .form__label
                  span.form__label-name ПРИКРЕПИТЬ ФАЙЛЫ
                  .form__files
                    .form__file
                      span.form__file-name
                      label.form__file-label
                        input(type="file" name="file[]").form__file-input
                        .btn.btn--light.btn--small.form__file-btn Выберите файл...
                      button.form__file-del
                .form-box__action
                  button.btn.btn--light.btn--small.form-more-files + Добавить файл

              .projects-cont__aside

            .page__header
              .page__info.page__info--small Вы можете задать стоимость работы вручную в желтом поле, таким образом все кандидаты будут видеть фиксированный размер оплаты за проект. Иначе, они будут видеть гонорар, расчитанный по их рейтингу.
              .page__stats
                | Подходит 
                span.page__stats-accent 345 моделей
                |  с гонорарами 
                span.page__stats-price от 50 000 до 180 000 Р
                |  за проект, с учетом заданых прав и условий.

            ul.line-nav.owl-carousel
              each href,name in main['line-nav']['casting-creation']
                li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")(class= ( name == "Условия сьемки" ) ? "line-nav__item-tooltip" : "")
                  a(href= href).line-nav__link= name
                  if ( name == "Условия сьемки" )
                    +tooltip()

            .projects-cont
              .projects-cont__main
                .form__label-list
                  label.form__label.form__label--half
                    span.form__label-name Специализация исполнителя
                    select.form__select
                      option(value="") Рекламные фотосъемки
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                      option(value="") Вариант 3
                  label.form__label.form__label--half
                    span.form__label-name Рост исполнителя
                    select.form__select
                      option(value="") до 190 см
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                      option(value="") Вариант 3
                  label.form__label.form__label--half
                    span.form__label-name Требования к документам
                    select.form__select
                      option(value="") Наличие загранпаспорта
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                      option(value="") Вариант 3
                  label.form__label.form__label--half
                    span.form__label-name Профильное образование
                    select.form__select
                      option(value="") Актерское
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                      option(value="") Вариант 3
                  label.form__label.form__label--half
                    span.form__label-name Степень оголения
                      +tooltip()
                    select.form__select
                      option(value="") Легкое оголение
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                      option(value="") Вариант 3
                  .form__label.form__label--half.form__rating
                    span.form__label-name Рейтинг
                    .form__rating-line
                      label.form__rating-box
                        span от
                        input(type="text" name="" value="0")#rating-range-lower
                      #ratingRange(data-min="0", data-max="10").form__rating-range
                      label.form__rating-box
                        span до
                        input(type="text" name="" value="10")#rating-range-upper
                .form-box__action
                  button.btn.btn--light.btn--small + Добавить требование

              .projects-cont__aside

            .form-actions
              input(type="submit" name="submit" value="Опубликовать поиск").btn.btn--accent

