extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Кандидаты"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header.projects__header
            a(href="#").page__header-item Проект
            h1.page__title Подбор моделей на сьемки
            select.form__select.page__header-select
              option(value="") Все действия
              option(value="") Действие 1
              option(value="") Действие 2
              option(value="") Действие 3

          .project-box__info
            .project-box__avatar
              img(src="img/project__avatar.jpg", alt="").project-part__img
            .project-box__item
              .project-box__item-title Клиент
              .project-box__item-val Reebok
            .project-box__item
              .project-box__item-title Представитель
              .project-box__item-val Джордж Оруэлл
            .project-box__item
              .project-box__item-title Бюджет
              .project-box__item-val
                span.project-box__item-val--price 300 000 руб.
            .project-box__item
              .project-box__item-title Дата
              .project-box__item-val 3 - 25 авуста
            .project-box__item
              .project-box__item-title Место
              .project-box__item-val Москва, м. Кунцевская 
            .project-box__text Международная политика, с другой стороны, неоднозначна. Политическое учение Августина практически формирует прагматический коллапс Советского Союза. Политическое учение Фомы Аквинского сохраняет институциональный социализм. Политическое учение Платона, согласно традиционным представлениям, означает социализм.


          ul.line-nav.owl-carousel.project__nav
            each href,name in main['line-nav']['casting-new']
              li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                a(href= href).line-nav__link= name
                  if ( name == "Кандидаты")
                    span.line-nav__link-num 18


          +filter()

          .cards.cards--line
            .cards__list
              - for ( var i = 1; i <= 2; i++ )
                .card-line.card-line--alt
                  .card-line__avatar.card__content
                    a(href="#").card__link
                    .card__box
                      img(src="img/card__img-1.jpg", alt="").card__img
                      .card__status
                        .card__pro pro
                        .card__verif
                      a(href="#").card__favorite
                        +icon('favorite')
                      .card__list
                        a(href="#").card__item.active
                          img(src="img/card__img-2.jpg", alt="")
                        a(href="#").card__item
                          img(src="img/card__img-6.jpg", alt="")
                      .card__rating
                        .card__rating-val(style="width: 65%;") 6.5
                  .card-line__content
                    .card-line__top
                      .card-line__info
                        .card-line__name Ирина Шувалова
                        .card-line__prof модель
                      .card-line__actions
                        a(href="#", data-name="Сообщение").btn.btn--accent.card__btn.card-line__btn
                          +icon('messages')
                        a(href="").btn.btn--light.card-line__btn + Пригласить ...
                    .card-line__cont
                      .card-line__stats.person-stats.person-stats--third
                        ul.person-stats__box
                          each val,name in {'Рост':'181 см.','Вес':'70 кг.','Цвет волос':'Рыжий','Длина волос':'Короткие','Языки':'Русский/Англ.','Грудь':'90 см','Бедра':'80 cм','Талия':'65 см'}
                            li.person-stat
                              .person-stat__name
                                span.person-stat__name-val= name
                              .person-stat__val= val
                      .card-line__slider.owl-carousel.card-line__slider--small
                        - for ( var x = 1; x <= 10; x++)
                          .card-line__slide
                            a(href="img/card-line__img-" + x + ".jpg", data-fancybox="gallery-" + i).card-line__slide-img
                              img(src="img/card-line__img-" + x + ".jpg" alt="")
                    .card-line__work-price
                      +icon('arrow-long-down').card-line__work-price-icon
                      .card-line__work-price-text ГОТОВА РАБОТАТЬ ЗА 12 000 руб.
                  .card-line__bottom
                    button.card-line__chat-trigger(data-text="- скрыть переписку") Раскрыть переписку (6)
                    .card-line__actions
                      a(href="#").btn.btn--small.btn--light В кандидаты
                      a(href="#").btn.btn--small.btn--light Отказать
                      a(href="#").btn.btn--small.btn--light В спам
                      a(href="#").btn.btn--small.btn--alt Назначить исполнителем

                  .card-line__chat ТУТ ЧАТ
