extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "ОТКАЗ"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header.projects__header
            a(href="#").page__header-item Проект
            h1.page__title Подбор моделей на сьемки
            select.form__select.page__header-select
              option(value="") Все действия
              option(value="") Действие 1
              option(value="") Действие 2
              option(value="") Действие 3

          .project-box__info
            .project-box__avatar
              img(src="img/project__avatar.jpg", alt="").project-part__img
            .project-box__item
              .project-box__item-title Клиент
              .project-box__item-val Reebok
            .project-box__item
              .project-box__item-title Представитель
              .project-box__item-val Джордж Оруэлл
            .project-box__item
              .project-box__item-title Бюджет
              .project-box__item-val
                span.project-box__item-val--price 300 000 руб.
            .project-box__item
              .project-box__item-title Дата
              .project-box__item-val 3 - 25 авуста
            .project-box__item
              .project-box__item-title Место
              .project-box__item-val Москва, м. Кунцевская 
            .project-box__text Международная политика, с другой стороны, неоднозначна. Политическое учение Августина практически формирует прагматический коллапс Советского Союза. Политическое учение Фомы Аквинского сохраняет институциональный социализм. Политическое учение Платона, согласно традиционным представлениям, означает социализм.


          ul.line-nav.owl-carousel.project__nav
            each href,name in main['line-nav']['casting-new']
              li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                a(href= href).line-nav__link= name
                  if ( name == "Кандидаты")
                    span.line-nav__link-num 18


          +filter()

          .cards.cards--line
            .cards__list
              .cards-empty
                +icon('woman').cards-empty__icon
                .cards-empty__text Данный список пуст
