extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Основные требования"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header.projects__header
            a(href="#").page__header-item Проект: Рекламная сьемка для New Balance
            h1.page__title Подбор моделей на сьемки
            select.form__select.page__header-select
              option(value="") Все действия
              option(value="") Действие 1
              option(value="") Действие 2
              option(value="") Действие 3

          .project-box__info
            .project-box__avatar
              img(src="img/project__avatar.jpg", alt="").project-part__img
            .project-box__item
              .project-box__item-title Клиент
              .project-box__item-val Reebok
            .project-box__item
              .project-box__item-title Представитель
              .project-box__item-val Джордж Оруэлл
            .project-box__item
              .project-box__item-title Бюджет
              .project-box__item-val
                span.project-box__item-val--price 300 000 руб.
            .project-box__item
              .project-box__item-title Дата
              .project-box__item-val 3 - 25 авуста
            .project-box__item
              .project-box__item-title Место
              .project-box__item-val Москва, м. Кунцевская 
            .project-box__text Международная политика, с другой стороны, неоднозначна. Политическое учение Августина практически формирует прагматический коллапс Советского Союза. Политическое учение Фомы Аквинского сохраняет институциональный социализм. Политическое учение Платона, согласно традиционным представлениям, означает социализм.

          form.form.profile__content
            .projects-cont
              .projects-cont__main
                .form-box.form-box--other
                  .title-alt Информация по очному кастингу:
                  .form__label-list
                    label.form__label.form__label--1-3
                      span.form__label-name Место проведения
                      select.form__select
                        option(value="") Москва
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--1-3
                      span.form__label-name Дата проведения
                      input(type="text" name="" placeholder="" value="09 Май 2019").form__input
                    label.form__label.form__label--1-3
                      span.form__label-name Время проведения
                      input(type="text" name="" placeholder="" value="10:00").form__input
                  label.form__label
                    span.form__label-name Дополнительная информация по кастингу
                    textarea.form__textarea(placeholder="Опишите ваш кастинг")

            .page__stats
              | Подходит 
              span.page__stats-accent 345 моделей
              |  с гонорарами 
              span.page__stats-price от 50 000 до 180 000 Р
              |  за проект, с учетом заданых прав и условий.

            .projects-cont

              ul.line-nav.owl-carousel
                each href,name in main['line-nav']['casting-creation']
                  li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")(class= ( name == "Условия сьемки" ) ? "line-nav__item-tooltip" : "")
                    a(href= href).line-nav__link= name
                    if ( name == "Условия сьемки" )
                      +tooltip()

              .projects-cont__main
                .form-box
                  .title-alt Основная информация:
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Тип проекта
                      select.form__select
                        option(value="") Рекламная фотосессия
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                  .title-alt Требования к участникам:
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Специализация исполнителя
                      select.form__select
                        option(value="") Рекламные фотосъемки
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Рост исполнителя
                      select.form__select
                        option(value="") до 190 см
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Требования к документам
                      select.form__select
                        option(value="") Наличие загранпаспорта
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Профильное образование
                      select.form__select
                        option(value="") Актерское
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Степень оголения
                        +tooltip()
                      select.form__select
                        option(value="") Легкое оголение
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    .form__label.form__label--half.form__rating
                      span.form__label-name Рейтинг
                      .form__rating-line
                        label.form__rating-box
                          span от
                          input(type="text" name="" value="0")#rating-range-lower
                        #ratingRange(data-min="0", data-max="10").form__rating-range
                        label.form__rating-box
                          span до
                          input(type="text" name="" value="10")#rating-range-upper
                  .form-box__action
                    button.btn.btn--light.btn--small + Добавить требование
                  .title-alt Дополнительные файлы:
                  .form__label
                    span.form__label-name ПРИКРЕПИТЬ ФАЙЛЫ
                    .form__files
                      .form__file
                        span.form__file-name
                        label.form__file-label
                          input(type="file" name="file[]").form__file-input
                          .btn.btn--light.btn--small.form__file-btn Выберите файл...
                        button.form__file-del
                  .form-box__action
                    button.btn.btn--light.btn--small.form-more-files + Добавить файл


              .projects-cont__aside

            .form-actions
              input(type="submit" name="submit" value="Опубликовать поиск").btn.btn--accent

