extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Условия сьемки"; // выбор активного пункта во вкладках
  - var triggerCounter = 1;

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            a(href="#").page__header-item Проект: Рекламная сьемка для New Balance
            h1.page__title Редактирование прав/условий исполнителя

            .flex-line
              .project-part.card
                .card__content
                  a(href="#").card__link
                  .card__box
                    img(src="img/card__img-1.jpg", alt="")
                    .card__status
                      .card__pro pro
                      .card__verif
                    .card__rating
                      .card__rating-val(style="width: 50%;") 5
                .card__content
                  .project-part__actions
                    a(href="#").btn.btn--small.project-part__price 350 000 Р
                    a(href="#").btn.btn--small.project-part__list
                      +icon('lists')
                  a(href="#").card__name Андрюшина Рената
                  .card__prof модель

              .page__info.page__info--small Вы можете задать стоимость работы вручную в желтом поле, таким образом все кандидаты будут видеть фиксированный размер оплаты за проект. Иначе, они будут видеть гонорар, расчитанный по их рейтингу.
          form.form.profile__content

            .projects-cont

              ul.line-nav.owl-carousel
                each href,name in main['line-nav']['casting-creation-alt']
                  li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")(class= ( name == "Условия сьемки" ) ? "line-nav__item-tooltip" : "")
                    a(href= href).line-nav__link= name
                    if ( name == "Условия сьемки" )
                      +tooltip()

              .projects-cont__main
                .form-box
                  .form__label
                    span.form__label-name Место съемки
                    +form-items(['Газеты','Журналы'])
                  .form__label
                    span.form__label-name НЕКОМФОРТНЫЕ УСЛОВИЯ:
                    +form-items(['Все страны и города'])
                  .form__label
                    span.form__label-name Физическая нагрузка:
                    +form-trigger(["Легкая","Средняя","Тяжелая"],triggerCounter)
                    - var triggerCounter = triggerCounter + 1;
                .form-box
                  .title-alt Волосы
                  .form__label.form__label-line
                    span.form__label-name ОКРАШИВАНИЕ
                    +form-trigger(["Нет","Тонирование","Окраска"],triggerCounter)
                    - var triggerCounter = triggerCounter + 1;
                  .form__label.form__label-line
                    span.form__label-name Стрижка
                    +form-trigger(["По грудь","По плечо","Налысо"],triggerCounter)
                    - var triggerCounter = triggerCounter + 1;
                  .form__label.form__label-line
                    span.form__label-name Эпиляция
                    select.form__select
                      option(value="") Не требуется
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                  .form__label
                    +trigger-alone('Наращивание', false)
                .form-box
                  .title-alt Кожа
                  .form__label.form__label-line
                    span.form__label-name ЗАГАР
                    +form-trigger(["Нет","Моментальный","Натуральный"],triggerCounter)
                    - var triggerCounter = triggerCounter + 1;
                  .form__label.form__label-line
                    span.form__label-name Бодиарт
                    +form-trigger(["Нет","По степени оголения"],triggerCounter)
                    - var triggerCounter = triggerCounter + 1;
                .form-box
                  .form__label.form__label-line
                    span.form__label-name Степень оголения
                    select.form__select
                      option(value="") Без оголения
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                  .form__label.form__label-line
                    span.form__label-name Телесные контакты:
                    select.form__select
                      option(value="") Полный
                      option(value="") Вариант 1
                      option(value="") Вариант 2
                  .form-box__action
                    button.btn.btn--light.btn--small + Добавить требование


              .projects-cont__aside

            .form-actions
              input(type="submit" name="submit" value="Опубликовать поиск").btn.btn--accent

