extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Актуальные проекты"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner.projects
        .inner__main
          header.page__header.projects__header
            a(href="#").page__header-item Проект
            h1.page__title Закрытие кастинга
          form.form.profile__content

            .projects-cont
              .projects-cont__main
                .form-box
                  .title-alt Отзывы для участников:
                  .projects__reviews
                    - for ( var i = 1; i <= 2; i++ )
                      .projects-review
                        .projects-review__info
                          .projects-review__name
                            .projects-review__avatar
                              img(src="img/project__avatar-1.jpg", alt="").projects-review__img
                            .projects-review__name-val Ольга Велес
                          .projects-review__prof Модель
                          .projects-review__stars
                            .projects-review__stars-title Оценка за проект
                            +stars(i)
                          .btn.btn--light.btn--small.projects-review__btn Оставить отзыв
                        .projects-review__cont
                          textarea(placeholder="Оставьте свой отзыв").projects-review__text

              .projects-cont__aside.projects-cont__aside--light
                .aside-help
                  .title-alt Помощь
                  ul.aside-help__list
                    li.aside-help__item
                      a(href="#", data-num="1").aside-help__link Что такое проект?
                    li.aside-help__item
                      a(href="#", data-num="2").aside-help__link Как создать кастинг?
                    li.aside-help__item
                      a(href="#", data-num="3").aside-help__link Как отобрать исполнителя?
                    li.aside-help__item
                      a(href="#", data-num="4").aside-help__link Как поставить задачу?
                  a(href="#").btn.btn--light Перейти в раздел FAQ

            .form-actions
              input(type="submit" name="submit" value="Закрыть кастинг").btn.btn--accent

