extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Диалоги

          .chat
            .chat__aside
            .chat__main