extends ../templates/layout-main

block variables
  - var headerIsAuth = true;  // переключить тип шапки

block content
  section.section.top-box.sing-in(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      .sing-in__box
        form.form.sing-in__form
          .sing-in__img
            img(src="img/success.svg", alt="")
          .page__title.sing-in__title Ваша учетная запись подтверждена
          .sing-in__info Теперь вы можете полноценно пользоваться нашим сервисом.
            br
            | Перейдите на главную страницу для ознакомления, или начните заполнять ваш профиль.

          a(href="#").btn.btn--accent.sing-in__btn Перейти к заполнению профиля