extends ../templates/layout-main

block variables
  - var headerIsAuth = true;  // переключить тип шапки

block content
  section.section.top-box.sing-in(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      .sing-in__box
        form.form.sing-in__form.sing-in__form--sm
          .page__title.sing-in__title Подтверждение регистрации
          +sms-code()
          label.form__label
            span.form__label-name Номер телефона
              sup *
            span.sing-in__input
              +icon('phone').sing-in__input-icon
              input(type="tel" name="" value="+7 (495) 000-00-00" placehodler="").form__input.form__input--dark.form__input-phone
          a(href="#").sing-in__link.sing-in__link--alt Отправить код еще раз
          br
          input(type="submit" name="submit" value="Подтвердить регистрацию").btn.btn--accent.sing-in__btn