extends ../templates/layout-main

block variables
  - var headerIsAuth = false;  // переключить тип шапки

block content
  .contacts(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      header.page__header
        h1.page__title Контакты
      .page-cont
        .text
          h2 Служба поддержки
          p Телефон службы поддержки:
            br
            | в Москве — +7 (495) 000 00 00;
            br
            | в Санкт-Петербурге — +7 (495) 000 00 00;
            br
            | в других городах — +7 (495) 000 00 00.
            br
            | Поддержка пользователей с 9:00 до 21:00 по московскому времени, без выходных.

          h2 Пишите нам
          p Технические проблемы, пожелания, предложения: 
            a(href="mailto:privet@ratingram.com") privet@ratingram.com
            br
            | Все вопросы связанные с верификацией исполнителей: 
            a(href="mailto:privet@ratingram.com") privet@ratingram.com
            br
            | Реклама и маркетинг: 
            a(href="mailto:marketing@ratingram.com") marketing@ratingram.com
            br
            | Для СМИ: 
            a(href="mailto:pr@ratingram.com") pr@ratingram.com
            br
            | Проблемы c вводом/выводом денег: 
            a(href="mailto:money@ratingram.com") money@ratingram.com
          p Отправляйте запросы либо с адреса, на который был зарегистрирован аккаунт в Ratingram, либо указывайте свой точный логин на сервисе.
          p В противном случае заявки не будут рассматриваться.

          h2 Почтовый адрес
          p 123100, Россия, г. Москва, а/я 000
