extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Помощь

          .page__cont
            .page__main
              .page__info.page__info--light.page__info--small В данном разделе мы собрали ответы на самые популярные вопросы наших пользователей. Если вам не удалось нвйти ответ на интересующий вас вопрос - воспользуйтесь формой обратной связи и мы ответим вам.
              .form
                .form__label.form__label--page
                  span.form__label-name Категория вопросов
                  select.form__select
                    option(value="") Работа с проектами
                    option(value="") Работа с проектами 1
                    option(value="") Работа с проектами 2
                    option(value="") Работа с проектами 3
            .page__aside

          .page__cont
            .page__main
              each title in ['Для чего нужен проект? Обязательно ли его создавать?','Как создать кастинг в открытом проекте?','Как создать задачу в открытом проекте?','Сколько участников я могу пригласить в проект?','Как сделать проект закрытым для посторонних людей?',' Существует лимит на прикрепляемые к проекту файлы? ']
                .accordion
                  .accordion__title= title
                  .accordion__content Функционал раздела “Проекты” позволяет создать под одним началом совокупность кастингов и задач, присущих одному рабочему проекту. Проект позволяет осуществлять групповую коммуникацию между участниками проекта и взаимодействовать в рамках поставленных задач. Если вам не требуется сложная организация процесса, то вы можете не создавать проект, формируя задачи для исполнителя напрямую в разделе “Задачи”.
            .page__aside
              .page-box.page-box--alt
                .page-box__title Не нашли ответа на свой вопрос?
                .page-box__text Воспользуйтесь формой и задайте свой вопрос. Мы ответим в кратчайшие сроки.
                .page-box__action
                  a(href="#").btn.btn--accent.page-box__btn Задать вопрос
