extends ../templates/layout-main

block variables
  - var headerIsLight = true;  // переключить тип шапки

block content

  section.section.top-box(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      .top-box__content
        h1.main-title.top-box__title Профессионалы индустрии рекламы, кино и шоубизнеса
        .top-box__text Только проверенные специалисты и надежные работодатели
        .top-box__action
          a(href="#").btn.btn--accent Зарегистрироваться
          a(href="#").btn.btn--light.top-box__new Создать проект
      .top-box__info Модель на обложке - 
        a(href="#").top-box__info-link Анна Гринфилд
      a(href="#").top-box__scroll
        +icon('mouse')
      a(href="https://www.youtube.com/embed/PZknH0RI9eM").top-box__play.js-popup-video
        +icon('play').top-box__play-icon

  section.section.section--bg
    .container
      header
        h2.section__title Новые лица на проекте
      .cards-slider
        .cards-slider__list.owl-carousel
          each object in main.card['cards-slider']
            +card(object.imgName,
                  object.name,
                  object.prof,
                  object.isPro,
                  object.isVerif,
                  object.list,
                  object.rating,
                  object.ratingVal)
      .section-action
        a(href="#").btn.btn--light.section-action__btn Все специалисты

  section.section
    .container
      header
        h2.section__title Лучшие проекты<br>для профессионалов
      .project-cards
        - for ( var i = 1; i <= 3; i++ ) {
          +project-card()
        - }
      .section-action
        a(href="#").btn.btn--light.section-action__btn Все проекты

  section.section
    .container
      header
        h2.section__title Эти компании находят<br>специалистов у нас
      .slider-reviews.owl-carousel
        each object in main['slider-reviews'].company
          .slider-reviews__item
            .slider-reviews__item-img
              img(src="img/" + object.logo, alt="")
            .slider-reviews__item-text!= object.text
            .slider-reviews__item-avatar
              img(src="img/" + object.avatar, alt="")
            .slider-reviews__item-name= object.name
            .slider-reviews__item-prof= object.prof