extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Мои проекты"; // выбор активного пункта во вкладках

block content

  .banner
    .banner__bg
      img(src="img/top-box__bg-2.jpg", alt="").banner__bg-img
    .container
      .banner__box
        img(src="img/banner__img-1.png", alt="").banner__pic
        h1.banner__title-alt Косметика <br>для профессионалов
        a(href="#").btn.btn--blueber.banner__btn Купить со скидкой 20%

  .container
    ul.line-nav.owl-carousel
      each href,name in main['line-nav'].employer
        li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
          a(href= href).line-nav__link= name
    .inner
      .inner__aside
        form.form
          .form__box
            a(href="#").btn.btn--light.form__add Создать проект
            label.form__label
              span.form__label-name Сортировать
              select.form__select
                option(value="") По дате публикации
                option(value="") Цена по убыванию
                option(value="") Цена по возрастанию
          label.form__label
            span.form__label-name Специализация
            select.form__select
              option(value="") Все специализации
              option(value="") Модель
              option(value="") Актёр
              option(value="") Стилист
              option(value="") Телеведущая
          label.form__label
            span.form__label-name Город
            select.form__select
              option(value="") Санкт-Петербург
              option(value="") Москва
              option(value="") Уфа
              option(value="") Казать
              option(value="") Воронеж
          .form__label
            span.form__label-name Бюджет
            .form__price-box
              label.form__rating-box
                span от
                input(type="text" name="" value="0")#price-range-lower
              label.form__rating-box
                span до
                input(type="text" name="" value="1000000")#price-range-upper
              #priceRange(data-min="0", data-max="1000000").form__rating-range
          .form__label
            a(href="#").btn.btn--light.form__filter.filter__add + Фильтр
          label.form__label.form-checkbox
            input(type="checkbox" name="verif").form__check
            span.form-checkbox__box
            span.form-checkbox__name Для верифицированных
          label.form__label.form-checkbox
            input(type="checkbox" name="pro").form__check
            span.form-checkbox__box
            span.form-checkbox__name Только для PRO
          .form-action
            input(type="submit" name="submit" value="Фильтровать").btn.btn--accent.form-action__btn
            input(type="reset" name="reset" value="Очистить").btn.btn--light.form-action__btn
      .inner__main
        .project-cards
          - for ( var i = 1; i <= 3; i++ ) {
            +project-card()
          - }
        .section-action
          a(href="#").btn.btn--light.section-action__btn Все проекты

  section.section.section--bg
    .container
      header
        h2.section__title.center Новые лица на проекте
      .cards-slider
        .cards-slider__list.owl-carousel
          each object in main.card['cards-slider']
            +card(object.imgName,
                  object.name,
                  object.prof,
                  object.isPro,
                  object.isVerif,
                  object.list,
                  object.rating,
                  object.ratingVal)
      .section-action
        a(href="#").btn.btn--light.section-action__btn Все специалисты