block variables

doctype html
html(lang="ru")
  include ../templates/head
  include ../templates/blocks

  body(class=pageClass)
    .wrap
      .box
        .box__title Главные страницы
        ul
          li
            a(href="index.html" target="_blank") Главная - гость
          li
            a(href="index-1.html" target="_blank") Главная - гость (другой баннер)
          li
            a(href="index-executor.html" target="_blank") Главная - исполнитель
          li
            a(href="index-executor-advertising.html" target="_blank") Главная - исполнитель - реклама
          li
            a(href="index-employer.html" target="_blank") Главная - работодатель
          li
            a(href="index-executor-advertising-nobanner.html" target="_blank") Главная - исполнитель - без рекламы
      .box
        .box__title Специалисты
        ul
          li
            a(href="specialists-cards-big.html" target="_blank") Крупные карточки
          li
            a(href="specialists-cards-small.html" target="_blank") Маленькие карточки
          li
            a(href="specialists-cards-list.html" target="_blank") Список карточек - общий вид
          li
            a(href="specialists-cards-list-photo.html" target="_blank") Список карточек - фото
          li
            a(href="specialists-cards-list-specifications.html" target="_blank") Список карточек - характеристики
          li
            a(href="specialists-contacts.html" target="_blank") Специалист - контакты
          li
            a(href="specialists-favorites.html" target="_blank") Специалист - избранное
      .box
        .box__title Профиль специалиста
        ul
          li
            a(href="profile-specialist.html" target="_blank") Общая информация
          li
            a(href="profile-specialist-parameters.html" target="_blank") Параметры
          li
            a(href="profile-specialist-snaps.html" target="_blank") Снэпы
          li
            a(href="profile-specialist-skills.html" target="_blank") Навыки
          li
            a(href="profile-specialist-edit.html" target="_blank") Редактирование
      .box
        .box__title Профиль заказчика
        ul
          li
            a(href="profile-customer.html" target="_blank") Активные проекты
          li
            a(href="profile-customer-gallery.html" target="_blank") Активные проекты - галерея
          li
            a(href="profile-customer-info.html" target="_blank") Информация
      .box
        .box__title Профиль агента
        ul
          li
            a(href="profile-agent.html" target="_blank") Активные проекты
      .box
        .box__title Проекты
        ul
          li
            a(href="projects-executor.html" target="_blank") Исполнитель
          li
            a(href="projects-executor-my-projects.html" target="_blank") Исполнитель - мои проекты
          li
            a(href="projects-executor-completed.html" target="_blank") Исполнитель - завершенные проекты
          li
            a(href="projects-executor-drafts.html" target="_blank") Исполнитель - черновики
          li
            a(href="project-creation.html" target="_blank") Создание проекта
          li
            a(href="project-closing.html" target="_blank") Закрытие проекта
          li
            a(href="project-castings.html" target="_blank") Проект - кастинги
          li
            a(href="project-rights.html" target="_blank") Проект - права
          li
            a(href="project-conditions.html" target="_blank") Проект - условия
          li
            a(href="project-chat.html" target="_blank") Проект - чат
          li
            a(href="project-files.html" target="_blank") Проект - файлы
      .box
        .box__title Кастинг
        ul
          li
            a(href="casting-creation.html" target="_blank") Создание Кастинга
          li
            a(href="casting-creation-copy.html" target="_blank") Создание Кастинга - Copy
          li
            a(href="casting-creation-main-info.html" target="_blank") Создание Кастинга - Основная информация
          li
            a(href="casting-creation-main-info-alt.html" target="_blank") Создание Кастинга - Основная информация (2)
          li
            a(href="casting-creation-conditions.html" target="_blank") Создание Кастинга - условия
          li
            a(href="casting-creation-rights.html" target="_blank") Создание Кастинга - права
          li
            a(href="casting-search.html" target="_blank") Кастинг - поиск
          li
            a(href="casting-contact.html" target="_blank") Кастинг - контакты
          li
            a(href="casting-request.html" target="_blank") Кастинг - Заявки
          li
            a(href="casting-candidates.html" target="_blank") Кастинг - Кандидаты
          li
            a(href="casting-surrender.html" target="_blank") Кастинг - Отказ
          li
            a(href="casting-spam.html" target="_blank") Кастинг - Спам
          li
            a(href="casting-closing.html" target="_blank") Закрытие кастинга
      .box
        .box__title Диалоги
        ul
          li
            a(href="chat.html" target="_blank") Чат
      .box
        .box__title Авторизация / Регистрация / Восстановление пароля
        ul
          li
            a(href="authorization.html" target="_blank") Авторизация
          li
            a(href="registration.html" target="_blank") Регистрация
          li
            a(href="confirm-registration.html" target="_blank") Подтверждение регистрации
          li
            a(href="confirm-registration-success.html" target="_blank") Учетная запись подтверждена
          li
            a(href="password-recovery.html" target="_blank") Восстановление пароля
          li
            a(href="password-new.html" target="_blank") Новый пароль
          li
            a(href="password-new-success.html" target="_blank") Новый пароль установлен
      .box
        .box__title Счёт
        ul
          li
            a(href="score.html" target="_blank") Счёт
          li
            a(href="score-replenishment.html" target="_blank") Пополнение счета
          li
            a(href="operation-history.html" target="_blank") История операций
      .box
        .box__title Рейтинг
        ul
          li
            a(href="rating.html" target="_blank") Рейтинг
      .box
        .box__title Помощь
        ul
          li
            a(href="faq.html" target="_blank") Помощь
          li
            a(href="send-question.html" target="_blank") Отправить вопрос
      .box
        .box__title Новости
        ul
          li
            a(href="news.html" target="_blank") Новости
          li
            a(href="news-single.html" target="_blank") Новость
      .box
        .box__title Статьи
        ul
          li
            a(href="posts.html" target="_blank") Статьи
          li
            a(href="posts-single.html" target="_blank") Статья
          li
            a(href="posts-creation.html" target="_blank") Добавление статьи
      .box
        ul
          li
            a(href="contacts.html" target="_blank") Контакты сервиса
          li
            a(href="paid-options.html" target="_blank") Платные опции проекта
          li
            a(href="pro.html" target="_blank") PRO аккаунт
          li
            a(href="privacy-policy.html" target="_blank") Политика конфиденциальности
          li
            a(href="service-rules.html" target="_blank") Правила сервиса
          li
            a(href="about.html" target="_blank") О проекте
      .box
        .box__title Попапы
        ul
          li
            a(href="#popup-fee").js-popup Гонорар
          li
            a(href="#popup-right").js-popup Права
          li
            a(href="#popup-set-right").js-popup Задать права
          li
            a(href="#popup-conditions").js-popup Условия
          li
            a(href="#popup-set-conditions").js-popup Задать условия
          li
            a(href="#popup-add-specialist").js-popup Добавить специалиста
      .hidden
        +popup-fee()
        +popup-set-right()
        +popup-conditions()
        +popup-set-conditions()
        +popup-add-specialist()
        +popup-right()
      block popup

    //- .wrap
    //-   .act
    //-     .act__title Этап 1
    //-     .act__cont
    //-       .box
    //-         .box__title Главные страницы
    //-         ul
    //-           li
    //-             a(href="index.html" target="_blank") Главная - гость
    //-           li
    //-             a(href="index-1.html" target="_blank") Главная - гость (другой баннер)
    //-           li
    //-             a(href="index-executor.html" target="_blank") Главная - исполнитель
    //-           li
    //-             a(href="index-executor-advertising.html" target="_blank") Главная - исполнитель - реклама
    //-           li
    //-             a(href="index-employer.html" target="_blank") Главная - работодатель
    //-           li
    //-             a(href="index-executor-advertising-nobanner.html" target="_blank") Главная - исполнитель - без рекламы

    //-   .act
    //-     .act__title Этап 2
    //-     .act__cont
    //-       .box
    //-         .box__title Специалисты
    //-         ul
    //-           li
    //-             a(href="specialists-cards-big.html" target="_blank") Крупные карточки
    //-           li
    //-             a(href="specialists-cards-small.html" target="_blank") Маленькие карточки
    //-           li
    //-             a(href="specialists-cards-list.html" target="_blank") Список карточек - общий вид
    //-           li
    //-             a(href="specialists-cards-list-photo.html" target="_blank") Список карточек - фото
    //-           li
    //-             a(href="specialists-cards-list-specifications.html" target="_blank") Список карточек - характеристики
    //-           li
    //-             a(href="specialists-contacts.html" target="_blank") Специалист - контакты
    //-           li
    //-             a(href="specialists-favorites.html" target="_blank") Специалист - избранное
    //-       .box
    //-         .box__title Профиль специалиста
    //-         ul
    //-           li
    //-             a(href="profile-specialist.html" target="_blank") Общая информация
    //-           li
    //-             a(href="profile-specialist-parameters.html" target="_blank") Параметры
    //-           li
    //-             a(href="profile-specialist-snaps.html" target="_blank") Снэпы
    //-           li
    //-             a(href="profile-specialist-skills.html" target="_blank") Навыки
    //-           li
    //-             a(href="profile-specialist-edit.html" target="_blank") Редактирование
    //-       .box
    //-         .box__title Профиль заказчика
    //-         ul
    //-           li
    //-             a(href="profile-customer.html" target="_blank") Активные проекты
    //-           li
    //-             a(href="profile-customer-gallery.html" target="_blank") Активные проекты - галерея
    //-           li
    //-             a(href="profile-customer-info.html" target="_blank") Информация
    //-       .box
    //-         .box__title Профиль агента
    //-         ul
    //-           li
    //-             a(href="profile-agent.html" target="_blank") Активные проекты
    //-       .box
    //-         .box__title Проекты
    //-         ul
    //-           li
    //-             a(href="projects-executor.html" target="_blank") Исполнитель
    //-           li
    //-             a(href="projects-executor-my-projects.html" target="_blank") Исполнитель - мои проекты
    //-           li
    //-             a(href="projects-executor-completed.html" target="_blank") Исполнитель - завершенные проекты
    //-           li
    //-             a(href="projects-executor-drafts.html" target="_blank") Исполнитель - черновики
    //-           li
    //-             a(href="project-creation.html" target="_blank") Создание проекта
    //-           li
    //-             a(href="project-closing.html" target="_blank") Закрытие проекта
    //-           li
    //-             a(href="project-castings.html" target="_blank") Проект - кастинги
    //-           li
    //-             a(href="project-rights.html" target="_blank") Проект - права
    //-           li
    //-             a(href="project-conditions.html" target="_blank") Проект - условия
    //-           li
    //-             a(href="project-chat.html" target="_blank") Проект - чат
    //-           li
    //-             a(href="project-files.html" target="_blank") Проект - файлы

    //-   .act
    //-     .act__title Этап 3
    //-     .act__cont
    //-       .box
    //-         .box__title Кастинг
    //-         ul
    //-           li
    //-             a(href="casting-creation.html" target="_blank") Создание Кастинга
    //-           li
    //-             a(href="casting-creation-copy.html" target="_blank") Создание Кастинга - Copy
    //-           li
    //-             a(href="casting-creation-main-info.html" target="_blank") Создание Кастинга - Основная информация
    //-           li
    //-             a(href="casting-creation-main-info-alt.html" target="_blank") Создание Кастинга - Основная информация (2)
    //-           li
    //-             a(href="casting-creation-conditions.html" target="_blank") Создание Кастинга - условия
    //-           li
    //-             a(href="casting-creation-rights.html" target="_blank") Создание Кастинга - права
    //-           li
    //-             a(href="casting-search.html" target="_blank") Кастинг - поиск
    //-           li
    //-             a(href="casting-contact.html" target="_blank") Кастинг - контакты
    //-           li
    //-             a(href="casting-request.html" target="_blank") Кастинг - Заявки
    //-           li
    //-             a(href="casting-candidates.html" target="_blank") Кастинг - Кандидаты
    //-           li
    //-             a(href="casting-surrender.html" target="_blank") Кастинг - Отказ
    //-           li
    //-             a(href="casting-spam.html" target="_blank") Кастинг - Спам
    //-           li
    //-             a(href="casting-closing.html" target="_blank") Закрытие кастинга
    //-       .box
    //-         .box__title Диалоги
    //-         ul
    //-           li
    //-             a(href="chat.html" target="_blank") Чат
    //-       .box
    //-         .box__title Авторизация / Регистрация / Восстановление пароля
    //-         ul
    //-           li
    //-             a(href="authorization.html" target="_blank") Авторизация
    //-           li
    //-             a(href="registration.html" target="_blank") Регистрация
    //-           li
    //-             a(href="confirm-registration.html" target="_blank") Подтверждение регистрации
    //-           li
    //-             a(href="confirm-registration-success.html" target="_blank") Учетная запись подтверждена
    //-           li
    //-             a(href="password-recovery.html" target="_blank") Восстановление пароля
    //-           li
    //-             a(href="password-new.html" target="_blank") Новый пароль
    //-           li
    //-             a(href="password-new-success.html" target="_blank") Новый пароль установлен
    //-       .box
    //-         .box__title Счёт
    //-         ul
    //-           li
    //-             a(href="score.html" target="_blank") Счёт
    //-           li
    //-             a(href="score-replenishment.html" target="_blank") Пополнение счета
    //-           li
    //-             a(href="operation-history.html" target="_blank") История операций
    //-       .box
    //-         .box__title Рейтинг
    //-         ul
    //-           li
    //-             a(href="rating.html" target="_blank") Рейтинг

    //-   .act.active
    //-     .act__title Этап 4
    //-     .act__cont
    //-       .box
    //-         .box__title Помощь
    //-         ul
    //-           li
    //-             a(href="faq.html" target="_blank") Помощь
    //-           li
    //-             a(href="send-question.html" target="_blank") Отправить вопрос
    //-       .box
    //-         .box__title Новости
    //-         ul
    //-           li
    //-             a(href="news.html" target="_blank") Новости
    //-           li
    //-             a(href="news-single.html" target="_blank") Новость
    //-       .box
    //-         .box__title Статьи
    //-         ul
    //-           li
    //-             a(href="posts.html" target="_blank") Статьи
    //-           li
    //-             a(href="posts-single.html" target="_blank") Статья
    //-           li
    //-             a(href="posts-creation.html" target="_blank") Добавление статьи
    //-       .box
    //-         ul
    //-           li
    //-             a(href="contacts.html" target="_blank") Контакты сервиса
    //-           li
    //-             a(href="paid-options.html" target="_blank") Платные опции проекта
    //-           li
    //-             a(href="pro.html" target="_blank") PRO аккаунт
    //-           li
    //-             a(href="privacy-policy.html" target="_blank") Политика конфиденциальности
    //-           li
    //-             a(href="service-rules.html" target="_blank") Правила сервиса
    //-           li
    //-             a(href="about.html" target="_blank") О проекте
    //-       .box
    //-         .box__title Попапы
    //-         ul
    //-           li
    //-             a(href="#popup-fee").js-popup Гонорар
    //-           li
    //-             a(href="#popup-right").js-popup Права
    //-           li
    //-             a(href="#popup-set-right").js-popup Задать права
    //-           li
    //-             a(href="#popup-conditions").js-popup Условия
    //-           li
    //-             a(href="#popup-set-conditions").js-popup Задать условия
    //-           li
    //-             a(href="#popup-add-specialist").js-popup Добавить специалиста
    script(src="js/main.js")
    block script
    script.
      $('.act__title').on('click', function(e) {
        e.preventDefault();
        $(this).closest('.act')
               .toggleClass('active');
      });



block styles
  style.
    .act {}
    .act__title {
      display: flex;
      -ms-align-items: center;
      align-items: center;
      font-size: 20px;
      padding: 10px 20px;
      background: #f3f3f3;
      margin-bottom: 10px;
      cursor: pointer;
      border: 1px solid #eee;
    }
    .act__title:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      margin-left: auto;
    }
    .act__cont {
      padding: 0 20px;
      display: none;
    }
    .act.active .act__title {
      background: rgba(0,0,0,.45);
      color: #fff;
    }
    .act.active .act__cont {
      display: block;
      border-bottom: 1px solid #333;
      margin-bottom: 30px;
    }
    .act.active:last-child .act__cont {
      margin-bottom: 0;
      border-bottom: 0;
    }
    hr {
      margin-bottom: 20px;
    }
    .wrap {
      padding: 50px;
    }
    .box {
      margin: 0 auto 30px;
    }
    .box__title {
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 500;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    li {
      flex: 0 0 calc(50% - 10px);
      width: 100%;
      max-width: calc(50% - 10px);
      margin-bottom: 5px !important;
    }
