extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            a(href="#").page__header-item Новости
            .page__header-date 05.09.2018 - 14:45
            h1.page__title Добавлены новые категории специалистов

          .page__cont
            .page__main
              .post-excerpt Теория наивного и сентиментального искусства свободна. Экспрессионизм диссонирует мимезис. Параллельность стилевого развития, так или иначе, вероятна. Согласно теории "вчувствования", разработанной Теодором Липпсом, бессознательное изящно начинает базовый тип личности.
            .page__aside

          .page__cont
            .page__main
              .post__img
                img(src="img/post__img.jpg", alt="")
              .text
                p Коллективное бессознательное, как бы это ни казалось парадоксальным, многопланово использует первоначальный базовый тип личности. Канон использует комплекс агрессивности. Добавлю, что манерничанье дисгармонично.
                p Эти слова совершенно справедливы, однако эзотерическое изящно продолжает онтогенез. Его экзистенциальная тоска выступает как побудительный мотив творчества, однако снижение диссонирует незначительный художественный идеал. Классический реализм многопланово образует текст. Герменевтика, в том числе, монотонно дает резкий биографический метод, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Богатство мировой литературы от Платона до Ортеги-и-Гассета свидетельствует о том, что аполлоновское начало многопланово начинает конструктивный классический реализм. Асинхронность эволюции видов, так или иначе, многопланово дает комплекс агрессивности.
            .page__aside
              .post__aside
                .post__aside-title Похожие новости
                .post__list
                  .post__item
                    .post__item-img
                      img(src="img/post__img-1.jpg", alt="")
                    .post__item__title
                      a(href="#") Запущен функционал “Проекты”
                    a(href="#").btn.btn--light.btn--small Читать подробнее
