extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Новости

          .page__cont.page__cont-top
            .page__main
              .form
                .form__label.form__label--line
                  .form__label-name Сортировать
                  select.form__select
                    option(value="") По дате публикации
                    option(value="") По дате публикации 1
                    option(value="") По дате публикации 2
                    option(value="") По дате публикации 3
                  input(type="text" name="" placeholder="Поиск по новостям").form__input.form__input-search
            .page__aside

          .page__cont
            .page__main
              .news__items
                each object in main.news.list
                  .news-item(class= object.isBtn ? "news-item--big" : "")
                    a(href="#").news-item__img
                      img(src="img/" + object.imgName, alt="")
                    .news-item__info
                      .news-item__date 05.09.2018 - 14:45
                      .news-item__title
                        a(href="#")= object.title
                      .news-item__text= object.text
                      if object.isBtn
                        a(href="#").btn.btn--light.btn--small.news-item__btn Читать подробнее
              .news__more
                a(href="#").btn.btn--light Загрузить еще 50 из 560
            .page__aside
              .page-box.page-box--alt
                .page-box__title Подписаться на новости проекта
                .form.page-box__form
                  .form__label.form__label--icon
                    +icon('email')
                    input(type="email" name="" placeholder="email").form__input
                .page-box__action
                  a(href="#").btn.btn--accent.page-box__btn Подписаться
