extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "История операций"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            a(href="#").page__header-item Счет   —   История операций
            h1.page__title История операций

          ul.line-nav.owl-carousel
            each href,name in main['line-nav'].score
              li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                a(href= href).line-nav__link= name

          .form__label.form__label--datepicker.form__label--alone
            span.form__label-name История за период
            input(type="text" name="" value="август 2018 - декабрь 2018").form__input.form__date-range

          .score-history
            .score-history__item
              .score-history__item-name Пополнение через Visa *0075
              .score-history__item-date 8 августа 2018
              .score-history__item-val.score-history__item-val--more +5000 руб.
            .score-history__item
              .score-history__item-name Покупка проектов: 10 шт.
              .score-history__item-date 8 августа 2018
              .score-history__item-val.score-history__item-val--less -1000 руб.
            .score-history__item
              .score-history__item-name Продление PRO-аккаунта на 6 месяцев
              .score-history__item-date 6 августа 2018
              .score-history__item-val.score-history__item-val--less -3600 руб.