extends ../templates/layout-main

block variables
  - var headerIsAuth = false;  // переключить тип шапки

block content
  .contacts(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      header.page__header
        h1.page__title Платные опции проекта
      .page-cont.page-cont--alt

        .rating__items.score__items
          .rating__item.rating__item--full.score__pro.form
            .rating-box
              .rating-box__title
                span.rating-box__title-inscription pro
                | PRO-аккаунт
              .rating-box__text Все платные функции сайта без ограничений
              ul.rating-box__list
                li - Неограниченные проекты;
                li - Закрытые кастинги;
                li - Эксклюзивные анкеты;
                li - Бейджик PRO;
                li - Дополнительный рейтинг;
              select.form__select
                option(value="") на 3 месяца
                option(value="" selected) на 6 месяцев
                option(value="") на 12 месяцев
                option(value="") на 24 месяца
              .rating-box__num.rating-box__num--sm 3600 руб.
              a(href="#").btn.btn--accent.rating-box__btn Купить
          .rating__item.rating__item--half
            .rating-box
              .rating-box__title Офлайн-верификация
              .rating-box__text Подтверждение вашей личности офлайн
              .rating-box__num.rating-box__num--sm 5000 руб.
              a(href="#").btn.btn--light.rating-box__btn Купить
          .rating__item.rating__item--half
            .rating-box
              .rating-box__title Оценка портфолио
              .rating-box__text Оценка ваших работ составом жюри нашего проекта
              .rating-box__num.rating-box__num--sm 2500 руб.
              a(href="#").btn.btn--light.rating-box__btn Купить