extends ../templates/layout-main

block variables
  - var headerIsAuth = true;  // переключить тип шапки

block content
  section.section.top-box.sing-in(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      .sing-in__box
        form.form.sing-in__form
          .page__title.sing-in__title Новый пароль установлен
          .sing-in__info Вы установили новый пароль. 
            br
            | Теперь вы можете продолжить работать с сервисом.

          a(href="authorization.html").btn.btn--accent.sing-in__btn Перейти к авторизации