extends ../templates/layout-main

block variables
  - var headerIsAuth = true;  // переключить тип шапки

block content
  section.section.top-box.sing-in(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      .sing-in__box
        form.form.sing-in__form
          .page__title.sing-in__title Восстановление доступа
          label.form__label
            span.form__label-name Номер телефона
              sup *
            span.sing-in__input
              +icon('phone').sing-in__input-icon
              input(type="tel" name="" value="" placehodler="" autofocus).form__input.form__input-phone

          input(type="submit" name="submit" value="Восстановить").btn.btn--accent