extends ../templates/layout-main

block variables
  - var headerIsAuth = true;  // переключить тип шапки

block content
  section.section.top-box.sing-in(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      .sing-in__box
        form.form.sing-in__form.sing-in__form--sm
          .page__title.sing-in__title Установите <br>новый пароль
          label.form__label
            span.form__label-name Пароль
              sup *
            span.sing-in__input
              +icon('pass').sing-in__input-icon
              input(type="password" name="" value="" placehodler="" autofocus).form__input
          label.form__label
            span.form__label-name Подтвердите Пароль
              sup *
            span.sing-in__input
              +icon('pass').sing-in__input-icon
              input(type="password" name="" value="" placehodler="").form__input

          input(type="submit" name="submit" value="Задать пароль").btn.btn--accent.sing-in__btn