extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            a(href="#").page__header-item Статьи
            .page__header-post-info
              .card-post__line
                .card-post__date 05.09.2018
                ul.card-post__tags
                  li
                    a(href="#") Мода
              .card-post__line
                a(href="").card-post__user
                  span.card-post__user-avatar
                    img(src="img/card-post__avatar.jpg", alt="")
                  span.card-post__user-text Ольга Велес / Фотограф
                .card-post__rating
                  +icon('star')
                  | 5.25
            h1.page__title Секреты правильного студийного света: разбор популярных практик

          .posts-excerpt
            .posts-excerpt__rating
              button.posts-excerpt__rating-btn.posts-excerpt__rating-btn--like
                +icon('like-r')
                span.posts-excerpt__rating-num 36
              button.posts-excerpt__rating-btn.posts-excerpt__rating-btn--dizlike
                +icon('dizlike-r')
                span.posts-excerpt__rating-num 12
            .posts-excerpt__text Теория наивного и сентиментального искусства свободна. Экспрессионизм диссонирует мимезис. Параллельность стилевого развития, так или иначе, вероятна. Согласно теории "вчувствования", разработанной Теодором Липпсом, бессознательное изящно начинает базовый тип личности.

          figure.posts-img
            img(src="img/posts__img.jpg", alt="")
            figcaption Фотография: Иван Маркин

          .posts-cont
            .text
              p Коллективное бессознательное, как бы это ни казалось парадоксальным, многопланово использует первоначальный базовый тип личности. Канон использует комплекс агрессивности. Добавлю, что манерничанье дисгармонично.
              p Эти слова совершенно справедливы, однако эзотерическое изящно продолжает онтогенез. Его экзистенциальная тоска выступает как побудительный мотив творчества, однако снижение диссонирует незначительный художественный идеал. Классический реализм многопланово образует текст. Герменевтика, в том числе, монотонно дает резкий биографический метод, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Богатство мировой литературы от Платона до Ортеги-и-Гассета свидетельствует о том, что аполлоновское начало многопланово начинает конструктивный классический реализм. Асинхронность эволюции видов, так или иначе, многопланово дает комплекс агрессивности.
              p Мистерия вызывает миракль, таким образом, второй комплекс движущих сил получил разработку в трудах А.Берталанфи и Ш.Бюлера. Шиллер утверждал: реализм диссонирует бессознательный базовый тип личности. Одиночество трансформирует персональный ритм. Структурализм имеет невротический художественный идеал. Типическое вызывает элитарный флегматик. Флобер, описывая нервный припадок Эммы Бовари, переживает его сам: фантазия возможна.

              .posts-blockquote
                .posts-blockquote__info
                  a(href="#").posts-blockquote__avatar
                    img(src="img/posts-blockquote__avatar.jpg", alt="")
                  .posts-blockquote__name
                    a(href="#") Ева Маркина
                  .posts-blockquote__prof Фотограф
                blockquote.posts-blockquote__text “Мистерия вызывает миракль, таким образом, второй комплекс движущих сил получил разработку в трудах А.Берталанфи и Ш.Бюлера. Шиллер утверждал: реализм диссонирует бессознательный базовый тип личности. Одиночество трансформирует персональный ритм. Структурализм имеет невротический художественный идеал. Типическое вызывает элитарный флегматик.”

              p Эти слова совершенно справедливы, однако эзотерическое изящно продолжает онтогенез. Его экзистенциальная тоска выступает как побудительный мотив творчества, однако снижение диссонирует незначительный художественный идеал. Классический реализм многопланово образует текст. Герменевтика, в том числе, монотонно дает резкий биографический метод, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Богатство мировой литературы от Платона до Ортеги-и-Гассета свидетельствует о том, что аполлоновское начало многопланово начинает конструктивный классический реализм. Асинхронность эволюции видов, так или иначе, многопланово дает комплекс агрессивности.

            .posts-action
              a(href="#").btn.btn--alt Обсудить на форуме
  .comments
    .container
      .comments__title комментарии (3):
      .comments__content
        .comment
          .comment__cont
            a(href="#").comment__avatar
              img(src="img/comment__avatar-1.jpg", alt="")
            .comment__main
              .comment__top
                .comment__user
                  a(href="#") Ольга Евсеева
                .comment__date 2 дня назад
              .comment__text Имидж предприятия усиливает целевой сегмент рынка. Диверсификация бизнеса, конечно, трансформирует стратегический фактор коммуникации. Рейтинг концентрирует из ряда вон выходящий медиамикс. Потребительская культура, в рамках сегодняшних воззрений, экономит продуктовый ассортимент.
              .comment__action
                a(href="#") Ответить на комментарий
          .comment__answer
            .comment
              .comment__cont
                a(href="#").comment__avatar
                  img(src="img/comment__avatar-2.jpg", alt="")
                .comment__main
                  .comment__top
                    .comment__user
                      a(href="#") Антон Трухоненко
                    .comment__date 3 часа назад
                  .comment__text хорошая статья! спасибо
                  .comment__action
                    a(href="#") Ответить на комментарий
              .comment__answer
        .comment
          .comment__cont
            a(href="#").comment__avatar
              img(src="img/comment__avatar-3.jpg", alt="")
            .comment__main
              .comment__top
                .comment__user
                  a(href="#") Анна Тормилина
                .comment__date 5 минут назад
              .comment__text Организация службы маркетинга изменяет стратегический маркетинг. Маркетинговая активность охватывает побочный PR-эффект, осознав маркетинг как часть производства. Таргетирование, безусловно, концентрирует рекламный блок. Восприятие марки недостижимо.
              .comment__action
                a(href="#") Ответить на комментарий
      form.comment__form
        .comment__avatar
          img(src="img/comment__avatar-4.jpg", alt="")
        .comment__main
          .comment__textarea
            textarea.form__textarea
          .form-action
            input(type="submit" name="" value="Отправить комментарий").btn.btn--accent.btn--aut
