extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Статьи

          form.form.filter.posts-filter
            .filter__line
              label.form__label
                span.form__label-name Специализация автора
                select.form__select
                  option(value="") Любая
                  option(value="") Любая 1
                  option(value="") Любая 2
                  option(value="") Любая 3
              label.form__label
                span.form__label-name Тематика
                select.form__select
                  option(value="") Все тематики
                  option(value="") Все тематики 1
                  option(value="") Все тематики 2
                  option(value="") Все тематики 3
              .posts-sort
                label.form__label.form__label--line
                  span.form__label-name Сортировать
                  select.form__select
                    option(value="") По дате публикации
                    option(value="") По дате публикации 1
                    option(value="") По дате публикации 2
                    option(value="") По дате публикации 3
                  input(type="text" name="" placeholder="Поиск по новостям").form__input.form__input-search

          .page__cont
            .page__main
              .cards
                .cards__list
                  each object in main.posts.cards
                    +card-post(object)
                .cards__action
                  a(href="#").btn.btn--light.cards__more Загрузить еще 50 из 560

            .page__aside
              .page-box.page-box--alt
                .page-box__title Подписаться на статьи
                .form.page-box__form
                  .form__label.form__label--icon
                    +icon('email')
                    input(type="email" name="" placeholder="email").form__input
                .page-box__action
                  a(href="#").btn.btn--accent.page-box__btn Подписаться
              a(href="#").btn.btn--alt.page__aside-btn + Предложить статью