extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          .pro
            .pro__top
              .pro__title
                img(src="img/logo-alt.png", alt="")
                .pro__title-text pro
              .pro__subtitle Раскройте свой потенциал 
                br
                | с PRO аккаунтом
            .pro__img
              img(src="img/pro.png", alt="")
            .pro__items
              //- each iconName,name in {"Неограниченные проекты":"items","Доступ к закрытым кастингам":"lock","Эксклюзивные анкеты":"prof","Дополнительный рейтинг":"star-m","Бейдж PRO и допуск в PRO-проекты":"badge"}
              each iconName,name in {"Скидка на новые проекты":"sale-alt","30 инвайтов":"email-invite","Доступ к профилям и проектам 18+":"prof","Повышение профессионального рейтинга":"star-m","Бейдж PRO и допуск в PRO-проекты":"badge","Возможность скрывать проекты":"eye-close","Приоритетное место в поиске и кастингах":"flag-alt"}
                .pro__item
                  +icon(iconName)
                  .pro__item-name= name
            .pro__score
              .rating__item.rating__item--full.score__pro.form
                .rating-box
                  .rating-box__title
                    span.rating-box__title-inscription pro
                    | PRO-аккаунт
                  .rating-box__text Все платные функции сайта без ограничений
                  ul.rating-box__list
                    li - Неограниченные проекты;
                    li - Закрытые кастинги;
                    li - Эксклюзивные анкеты;
                    li - Бейджик PRO;
                    li - Дополнительный рейтинг;
                  select.form__select
                    option(value="") на 3 месяца
                    option(value="" selected) на 6 месяцев
                    option(value="") на 12 месяцев
                    option(value="") на 24 месяца
                  .rating-box__num.rating-box__num--sm 3600 руб.
                  a(href="#").btn.btn--accent.rating-box__btn Купить
