extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Общая информация"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner.profile
        .inner__main
          header.page__header
            .page__header-item Ирина Богданова
            h1.page__title Редактирование профиля
          .profile__content
            ul.line-nav.owl-carousel.profile__nav
              each href,name in main['line-nav']['profile-specialist-edit']
                li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                  a(href= href).line-nav__link= name

            .profile-avatar.profile-avatar--edit
              .card__content.card__content--avatar
                .card__box(data-box="1").active
                  img(src="", alt="").card__img
                  label
                    input(type="file" name="" accept="image/*").card__file
                    span +
                    | ЛИЦЕВОЙ ПОРТРЕТ
                .card__box(data-box="2")
                  img(src="", alt="").card__img
                  label
                    input(type="file" name="" accept="image/*").card__file
                    span +
                    | Второй портрет
                .card__box(data-box="3")
                  video(src="").card__video
                  label.isVideo
                    input(type="file" name="" accept="video/*").card__file
                    span +
                    | Видео
                ul.card__list
                  li.active
                    a(href="#", data-box="1")
                      img(src="", alt="").hidden
                      span +
                  li
                    a(href="#", data-box="2")
                      img(src="", alt="").hidden
                      span +
                  li
                    a(href="#", data-box="3")
                      video(src="").hidden
                      span
                        +icon('play')

            .profile-main
              form.form.profile__form
                .form-box
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Имя
                        sup *
                      input(type="text" name="" placeholder="" value="Ирина" required).form__input
                    label.form__label.form__label--half
                      span.form__label-name Фамилия
                        sup *
                      input(type="text" name="" placeholder="" value="Богданова" required).form__input
                  .form__label.form__label--line.form__label--date
                    span.form__label-name Дата рождения
                    input(type="text" name="" placeholder="" value="25").form__input
                    select.form__select
                      each name in ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь']
                        option(value="")= name
                    select.form__select
                      - for ( var num = 2019; num >= 1986; num --)
                        option(value="")= num
                      option(value="" selected) 1985
                      - for ( var num = 1984; num >= 1970; num --)
                        option(value="")= num
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Страна проживания
                      select.form__select
                        option(value="") Россия
                        option(value="") США
                        option(value="") Италия
                        option(value="") Автсралия
                    label.form__label.form__label--half
                      span.form__label-name Город
                      select.form__select
                        option(value="") Санкт-Петербург
                        option(value="") Москва
                        option(value="") Уфа
                        option(value="") Казань
                  .form__label.form__label--half
                    span.form__label-name ПОЛ
                    select.form__select
                      option(value="") Мужской
                      option(value="") Женский
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name E-mail
                      input(type="email" name="email" placeholder="" value="irina.bogdanova@gmail.com").form__input
                    label.form__label.form__label--half
                      span.form__label-name Телефон
                      input(type="tel" name="phone" placeholder="" value="+7 (916) 530-00-00").form__input.form__input-phone
                .form-box
                  .title-alt Паспортные данные:
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Паспорт
                        +tooltip()
                      select.form__select
                        option(value="") Гражданский
                        option(value="") вариант 1
                        option(value="") вариант 2
                        option(value="") вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Серия и номер
                      input(type="text" name="" placeholder="" value="5000800-700900" required).form__input
                .form-box
                  .title-alt Открытые визы:
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Тип визы
                        +tooltip()
                      select.form__select
                        option(value="") Шенгенская
                        option(value="") вариант 1
                        option(value="") вариант 2
                        option(value="") вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Действительна до
                      select.form__select
                        option(value="") августа 2021
                        option(value="") вариант 1
                        option(value="") вариант 2
                        option(value="") вариант 3
                  .form-box__action
                    button.btn.btn--light.btn--small + Добавить визу
                .form-box
                  .title-alt Языки:
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Язык
                      select.form__select
                        option(value="") Английский
                        option(value="") вариант 1
                        option(value="") вариант 2
                        option(value="") вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Уровень
                      select.form__select
                        option(value="") Свободный разговорный
                        option(value="") вариант 1
                        option(value="") вариант 2
                        option(value="") вариант 3
                  .form-box__action
                    button.btn.btn--light.btn--small + Добавить язык
                .form-box
                  .title-alt Социальные профили:
                  label.form__label.form__label--social
                    span.form__label-name Instagram
                    +icon('instagram').form__label-icon
                    input(type="text" name="" placeholder="" value="instagram.com/irina.bogdanova").form__input
                  label.form__label.form__label--social
                    span.form__label-name Facebook
                    +icon('facebook-dark').form__label-icon
                    input(type="text" name="" placeholder="" value="facebook.com/irina.bogdanova").form__input
                  .form-box__action
                    button.btn.btn--light.btn--small.form-box__btn--social + Добавить профиль
                .form-action
                  input(type="submit" name="submit" value="Сохранить").btn.btn--accent