extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Актуальные проекты"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner.profile
        .inner__main
          header.page__header
            a(href="#").page__header-item Специалисты
            h1.page__title Влад Гребенский
            .page__header-prof агент
            .page__views
              +icon('view').page__views-icon
              .page__views-val 20
          .profile__content

            .profile-avatar.profile-avatar--small
              .card__content.card__content--avatar
                .card__box
                  img(src="img/card__img-3.jpg", alt="").card__img
                .card__rating
                  .card__rating-val(style="width: 53.5%;") 5.35
              .profile-actions
                a(href="#").btn.btn--accent.card__btn
                  +icon('messages')
                a(href="#").btn.btn--gray.btn--small В черный список
                .profile-actions__bottom
                  .profile-comp
                    .profile-comp__title Компания
                    .profile-comp__val BBDO Moscow
                  a(href="#").profile-link Подробнее

            .profile-main.profile-main--big
              .title-sm Контракты со специалистами
              .slider-agent.owl-carousel
                - for ( var i = 1; i <= 4; i++ ) {
                  each object in main.card['cards-slider']
                    +card(object.imgName,
                          object.name,
                          object.prof,
                          object.isPro,
                          object.isVerif,
                          false,
                          object.rating,
                          object.ratingVal)
                - }

              ul.line-nav.owl-carousel.profile__nav
                each href,name in main['line-nav']['profile-agent']
                  li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                    a(href= href).line-nav__link= name

              .profile-info
                .project-cards
                  - for ( var i = 1; i <= 2; i++ ) {
                    +project-card()
                  - }

    section.section
      .container
        header
          h2.title.title--center Отзывы
        .slider-reviews.slider-reviews--alt.owl-carousel
          each object in main['slider-reviews'].company
            .slider-reviews__item
              .slider-reviews__item-text!= object.text
              .slider-reviews__item-avatar
                img(src="img/" + object.avatar, alt="")
              .slider-reviews__item-name= object.name
              .slider-reviews__item-prof= object.prof
        .section-action
          a(href="#").btn.btn--light Показать все отзывы

