extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Общая информация"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner.profile
        .inner__main
          header.page__header
            a(href="#").page__header-item Специалисты
            h1.page__title Ирина Богданова
            .page__views
              a(href="#") Редактировать профиль
              //- +icon('view').page__views-icon
              //- .page__views-val 12 560
            .profile-status
              .profile-status__prof
                a(href="#").profile-status__prof-item.active актер
                a(href="#").profile-status__prof-item модель
                a(href="#").profile-status__prof-item стилист
              .profile-status__val.profile-status__val--free Свободна
              .profile-status__activity
                span.profile-status__activity-val 21.08 - Москва
                | , 
                span.profile-status__activity-val 05.09 - Милан
                | , 
                span.profile-status__activity-val 30.09 - Москва
            .profile-agents
              .profile-agents__title Агенты:
              a(href="#").profile-agents__item Ольга Власова (Россия)
              | , 
              a(href="#").profile-agents__item James Cutcher (Sweden)
          .profile__content

            .profile-avatar
              .card__content.card__content--avatar
                .card__box
                  img(src="img/card__img-2.jpg", alt="").card__img
                  a(href="#").card__favorite
                    +icon('favorite')
                  .card__list
                    a(href="#").card__item
                      img(src="img/card__img-3.jpg", alt="")
                    a(href="#").card__item
                      img(src="img/card__img-6.jpg", alt="")
                    a(href="https://www.youtube.com/embed/PZknH0RI9eM").card__item.card__item--video
                      +icon('play').card__item-icon
                      img(src="img/card__img-5.jpg", alt="")
                .card__rating
                  .card__rating-val(style="width: 53.5%;") 5.35
              .profile-actions
                a(href="#").btn.btn--accent.card__btn
                  +icon('messages')
                a(href="#").btn.btn--light + Предложить работу
                .profile-actions__bottom
                  a(href="#").btn.btn--gray.btn--small В черный список


            .profile-main
              ul.line-nav.owl-carousel.profile__nav
                each href,name in main['line-nav']['profile-specialist']
                  li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                    a(href= href).line-nav__link= name

              .profile-info
                .profile-info__top
                  .profile-info__box
                    +icon('list').profile-info__box-icon
                    .profile-item__title Активных проектов
                    .profile-info__box-val.profile-info__box-val--italic Нет
                  .profile-info__box
                    +icon('list-alt').profile-info__box-icon
                    .profile-item__title Завершенных проектов
                    .profile-info__box-val 25
                      a(href="#").profile-info__box-link
                        +icon('long-arrow-right')
                  .profile-info__box
                    +icon('price').profile-info__box-icon.profile-info__box-icon--sm
                    .profile-item__title Желаемая оплата за час
                    .profile-info__box-val 50$
                  .profile-info__box.profile-info__box--alt
                    +icon('read').profile-info__box-icon.profile-info__box-icon--sm
                    .profile-info__box-val
                      a(href="#") Читать статьи автора
                .profile-info__items
                  .profile-info__stats
                    each val,title in main.profile.stats
                      .profile-info__stat
                        .profile-item__title= title
                        .profile-info__stat-val!= val
                  .profile-social
                    .profile-item__title СОЦ. ПРОФИЛИ
                    ul.profile-social__list
                      li.profile-social__item
                        a(href="#").profile-social__link
                          +icon('instagram').profile-social__icon
                      li.profile-social__item
                        a(href="#").profile-social__link
                          +icon('facebook-dark').profile-social__icon
                .profile-lists
                  .profile-list
                    .profile-item__title ЖАНРЫ ФОТОСЪЕМКИ:
                    ul.profile-list__list
                      each name in ['Beauty','Fashion','Портрет','Life style','Бизнес','Спорт','Белье']
                        li.profile-list__item= name
                  .profile-list
                    .profile-item__title ДОП. ОПЦИИ:
                    ul.profile-list__list
                      each name in ['Актерское образование','Готовность к стрижке/покраске волос','Есть загранпаспорт','Есть снэпшоты']
                        li.profile-list__item= name

    +portfolio()

    section.section
      .container
        header
          h2.title.title--center Работала с заказчиками
        .slider-alt.owl-carousel
          - for ( var i = 1; i <= 4; i++ ) {
            each object in main.card['cards-slider']
              +card(object.imgName,
                    object.name,
                    object.prof,
                    object.isPro,
                    object.isVerif,
                    false,
                    object.rating,
                    object.ratingVal)
          - }

    section.section
      .container
        header
          h2.title.title--center Работала с брендами
        .slider-brands.owl-carousel
          - for ( var i = 1; i <= 3; i++)
            .slider-brands__item
              img(src="img/brands__img-1.png", alt="")
            .slider-brands__item
              img(src="img/brands__img-2.png", alt="")
            .slider-brands__item
              img(src="img/brands__img-3.png", alt="")
            .slider-brands__item
              img(src="img/brands__img-4.png", alt="")

    section.section
      .container
        header
          h2.title.title--center Отзывы
        .slider-reviews.slider-reviews--alt.owl-carousel
          each object in main['slider-reviews'].company
            .slider-reviews__item
              .slider-reviews__item-text!= object.text
              .slider-reviews__item-avatar
                img(src="img/" + object.avatar, alt="")
              .slider-reviews__item-name= object.name
              .slider-reviews__item-prof= object.prof
        .section-action
          a(href="#").btn.btn--light Показать все отзывы

