extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Информация"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner.profile
        .inner__main
          header.page__header
            a(href="#").page__header-item Специалисты
            h1.page__title Влад Гребенский
            .page__header-prof работодатель
            .page__views
              +icon('view').page__views-icon
              .page__views-val 20
          .profile__content

            .profile-avatar.profile-avatar--small
              .card__content.card__content--avatar
                .card__box
                  img(src="img/card__img-3.jpg", alt="").card__img
                .card__rating
                  .card__rating-val(style="width: 53.5%;") 5.35
              .profile-actions
                a(href="#").btn.btn--accent.card__btn
                  +icon('messages')
                a(href="#").btn.btn--gray.btn--small В черный список
                .profile-actions__bottom
                  .profile-comp
                    .profile-comp__title Компания
                    .profile-comp__val BBDO Moscow
                  a(href="#").profile-link Подробнее


            .profile-main.profile-main--big
              ul.line-nav.owl-carousel.profile__nav
                each href,name in main['line-nav']['profile-customer']
                  li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                    a(href= href).line-nav__link= name

              .profile-info
                .profile-info__top
                  .profile-info__box
                    +icon('list').profile-info__box-icon
                    .profile-item__title Активных проектов
                    .profile-info__box-val 3
                      a(href="#").profile-info__box-link
                        +icon('long-arrow-right')
                  .profile-info__box
                    +icon('list-alt').profile-info__box-icon
                    .profile-item__title Завершенных проектов
                    .profile-info__box-val 25
                      a(href="#").profile-info__box-link
                        +icon('long-arrow-right')
                  .profile-info__box
                    +icon('star-light').profile-info__box-icon.profile-info__box-icon--sm
                    .profile-item__title Общий рейтинг на проекте
                    .profile-info__box-val 8.70
                  .profile-info__box
                    +icon('like').profile-info__box-icon.profile-info__box-icon--sm
                    .profile-item__title Отзывов от специалистов
                    .profile-info__box-val 15
                      a(href="#").profile-info__box-link
                        +icon('long-arrow-right')
                .profile-info__items
                  .profile-info__stats.profile-info__stats--full
                    each val,title in main.profile.customer
                      .profile-info__stat
                        .profile-item__title= title
                        .profile-info__stat-val!= val

    section.section
      .container
        header
          h2.title.title--center Работал со специалистами
        .slider-alt.owl-carousel
          - for ( var i = 1; i <= 4; i++ ) {
            each object in main.card['cards-slider']
              +card(object.imgName,
                    object.name,
                    object.prof,
                    object.isPro,
                    object.isVerif,
                    false,
                    object.rating,
                    object.ratingVal)
          - }

    section.section
      .container
        header
          h2.title.title--center Отзывы
        .slider-reviews.slider-reviews--alt.owl-carousel
          each object in main['slider-reviews'].company
            .slider-reviews__item
              .slider-reviews__item-text!= object.text
              .slider-reviews__item-avatar
                img(src="img/" + object.avatar, alt="")
              .slider-reviews__item-name= object.name
              .slider-reviews__item-prof= object.prof
        .section-action
          a(href="#").btn.btn--light Показать все отзывы

