extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Завершенные проекты"; // выбор активного пункта во вкладках

block content

  .page.projects
    .container
      .inner
        .inner__main
          header.page__header.projects__header
            h1.page__title Проекты
            a(href="#").btn.btn--light.projects__new + Создать проект

      ul.line-nav.owl-carousel.projects__nav
        each href,name in main['line-nav'].projects
          li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
            a(href= href).line-nav__link= name
      .inner
        .inner__aside.inner__aside-mobile
          button.inner__aside-mobile-close
          form.form
            .form__box
              label.form__label
                span.form__label-name Сортировать
                select.form__select
                  option(value="") По дате публикации
                  option(value="") Цена по убыванию
                  option(value="") Цена по возрастанию
            label.form__label
              span.form__label-name Специализация
              select.form__select
                option(value="") Все специализации
                option(value="") Модель
                option(value="") Актёр
                option(value="") Стилист
                option(value="") Телеведущая
            label.form__label
              span.form__label-name Город
              select.form__select
                option(value="") Санкт-Петербург
                option(value="") Москва
                option(value="") Уфа
                option(value="") Казать
                option(value="") Воронеж
            .form__label
              span.form__label-name Бюджет
              .form__price-box
                label.form__rating-box
                  span от
                  input(type="text" name="" value="0")#price-range-lower
                label.form__rating-box
                  span до
                  input(type="text" name="" value="1000000")#price-range-upper
                #priceRange(data-min="0", data-max="1000000").form__rating-range
            a(href="#").btn.btn--light.form__filter + Фильтр
            label.form__label.form-checkbox
              input(type="checkbox" name="verif").form__check
              span.form-checkbox__box
              span.form-checkbox__name Для верифицированных
            label.form__label.form-checkbox
              input(type="checkbox" name="pro").form__check
              span.form-checkbox__box
              span.form-checkbox__name Только для PRO
            .form-action
              input(type="submit" name="submit" value="Фильтровать").btn.btn--accent.form-action__btn
              input(type="reset" name="reset" value="Очистить").btn.btn--light.form-action__btn
        .inner__main
          .filter-mobile
            .filter-mobile__controls
              a(href="#").btn.btn--small.btn--alt.filter-mobile__filter Фильтровать
              a(href="#").btn.btn--small.btn--light.filter-mobile__reset Очистить все фильтры
          .project-cards
            - for ( var i = 1; i <= 2; i++ ) {
              +project-card(true)
            - }