extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Условия"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner.projects
        .inner__main
          header.page__header.projects__header
            a(href="#").page__header-item Проекты
            h1.page__title Рекламная фотосъемка New Balance
            .form
              select.form__select.page__header-select
                option(value="") Все действия
                option(value="") Действие 1
                option(value="") Действие 2
                option(value="") Действие 3

          .project
            .project-box
              .project-box__info
                .project-box__avatar
                  img(src="img/project__avatar.jpg", alt="").project-part__img
                .project-box__item
                  .project-box__item-title Клиент
                  .project-box__item-val Reebok
                .project-box__item
                  .project-box__item-title Представитель
                  .project-box__item-val Джордж Оруэлл
                .project-box__item
                  .project-box__item-title Бюджет
                  .project-box__item-val
                    span.project-box__item-val--price 300 000 руб.
                .project-box__item
                  .project-box__item-title Дата
                  .project-box__item-val 3 - 25 авуста
                .project-box__item
                  .project-box__item-title Место
                  .project-box__item-val Москва, м. Кунцевская 
                button.btn.btn--alt.btn--small.project-box__btn Редактировать проект
                .project-box__text Международная политика, с другой стороны, неоднозначна. Политическое учение Августина практически формирует прагматический коллапс Советского Союза. Политическое учение Фомы Аквинского сохраняет институциональный социализм. Политическое учение Платона, согласно традиционным представлениям, означает социализм.
              .project-parts
                .project-parts__title Участники
                  span.project-parts__title-num 5
                .project-parts__list
                  each object in main.project.parts
                    +project-part(object.imgName,
                                  object.name,
                                  object.prof,
                                  object.isPro,
                                  object.isVerif,
                                  object.rating,
                                  object.ratingVal,
                                  object.price,
                                  object.cardBtnText,
                                  object.selectProf,
                                  object.message,
                                  object.messageNew)
                  .project-part.card&attributes(attributes)
                    .card__content
                      .card__box
                        button.btn.btn--accent.project-part__add(data-text="Добавить участника")

            ul.line-nav.owl-carousel.project__nav
              each href,name in main['line-nav'].project
                li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                  a(href= href).line-nav__link= name
                    if ( name == "Чат")
                      span.line-nav__link-num 18

            .project-cont
              .project-cont__main
                .project-line.project-line--top
                  .project-line__item.project-line__check
                    label.project-line__checkbox
                      input(type="checkbox" name="").project-line__checkbox-input.project-line__checkbox-main
                      span.project-line__checkbox-box
                  .project-line__item.project-line__specialist Специалист
                  .project-line__item.project-line__fio ФИО
                  .project-line__item.project-line__status-alt Статус
                .project-lines
                  each object in main.project.rights
                    .project-line
                      .project-line__item.project-line__check
                        label.project-line__checkbox
                          input(type="checkbox" name="").project-line__checkbox-input
                          span.project-line__checkbox-box
                        .project-line__menu
                          a(href="#").project-line__menu-btn
                            span.project-line__menu-burger
                          .project-line__menu-drop
                      .project-line__item.project-line__specialist
                        a(href="#").project-line__name-link= object.specialist
                      .project-line__item.project-line__fio= object.fio
                      .project-line__item.project-line__status-alt
                        .project-line__status-alt-text= object.statusAlt
                        a(href="#").project-line__more Подробнее
                        a(href="#").btn.btn--light.project-line__btn Задать условия

