extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Актуальные проекты"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner.projects
        .inner__main
          header.page__header.projects__header
            a(href="#").page__header-item Проект
            h1.page__title Создание проекта
          form.form.profile__content

            .projects-cont
              .projects-cont__main
                .form-box
                  .title-alt Основная информация:
                  .projects-line
                    +trigger('Открытый','Закрытый').projects__trigger
                    +tooltip().projects__tooltip
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Тип проекта
                      select.form__select
                        option(value="") Фотосъемка
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Подкатегория проекта
                      select.form__select
                        option(value="") Рекламная
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                  label.form__label
                    span.form__label-name Название проекта
                    input(type="text" name="" value="Рекламная съемка Reebok" placeholder="").form__input
                  .form__label
                    span.form__label-name Описание проекта
                    textarea.form__textarea(placeholder="Опишите ваш проект")
                  .form__label-list
                    label.form__label.form__label--half.form__label--datepicker
                      span.form__label-name Дата проведения
                      input(type="text" name="" value="15 декабря 2018" placeholder="").form__input.form__date
                    label.form__label.form__label--half
                      span.form__label-name Время проведения
                      input(type="text" name="" value="15:00" placeholder="").form__input
                    label.form__label.form__label--half
                      span.form__label-name Место проведения
                      input(type="text" name="" value="Москва" placeholder="").form__input
                .form-box.form-box--full
                  .title-alt Собери команду специалистов для проекта:
                  .projects-team
                    .projects-team__line
                      +tooltip().projects-team__tooltip
                      .projects-team__line-item(style="background: #5c53fb; flex: 0 0 290px", data-val="100 Руб.")
                      .projects-team__line-item(style="background: #ff6b61; flex: 0 0 290px", data-val="300 Руб.")
                      .projects-team__line-item(style="background: #b8db38; flex: 0 0 580px", data-val="500 Руб.")
                    .projects-team__list
                      each name in ['Фотограф','Модель','Стилист','Визажист']
                        .projects-team__card
                          button.projects-team__card-close
                          .projects-team__card-box
                            img(src="img/projects__person-default.png", alt="").projects-team__card-img
                          .projects-team__card__name= name
                      .projects-team__card
                        a(href="#").projects-team__card-add
                .form-box
                  .title-alt Ключевые опции проекта:
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name Шенген
                      select.form__select
                        option(value="") Не требуется
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Ню
                      select.form__select
                        option(value="") Не требуется
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Контракт
                      select.form__select
                        option(value="") Заключается рабочий контракт
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                    label.form__label.form__label--half
                      span.form__label-name Актерское образование
                      select.form__select
                        option(value="") Не обязательно
                        option(value="") Вариант 1
                        option(value="") Вариант 2
                        option(value="") Вариант 3
                  .form-box__action
                    button.btn.btn--light.btn--small + Добавить требование
                .form-box
                  .title-alt Дополнительные файлы:
                  .form__label
                    span.form__label-name ПРИКРЕПИТЬ ФАЙЛЫ
                    .form__files
                      .form__file
                        span.form__file-name
                        label.form__file-label
                          input(type="file" name="file[]").form__file-input
                          .btn.btn--light.btn--small.form__file-btn Выберите файл...
                        button.form__file-del
                  .form-box__action
                    button.btn.btn--light.btn--small.form-more-files + Добавить файл

              .projects-cont__aside
                .aside-help
                  .title-alt Помощь
                  ul.aside-help__list
                    li.aside-help__item
                      a(href="#", data-num="1").aside-help__link Что такое проект?
                    li.aside-help__item
                      a(href="#", data-num="2").aside-help__link Как создать кастинг?
                    li.aside-help__item
                      a(href="#", data-num="3").aside-help__link Как отобрать исполнителя?
                    li.aside-help__item
                      a(href="#", data-num="4").aside-help__link Как поставить задачу?
                  a(href="#").btn.btn--light Перейти в раздел FAQ

            .form-actions
              input(type="submit" name="submit" value="Создать проект За 400 руб.").btn.btn--accent
              button.btn.btn--light Сохранить в черновики

