extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Рейтинг
          .rating__items
            .rating__item.rating__item--small
              .rating-box
                .rating-box__title Текущий рейтинг
                .rating-box__text Общий суммарный рейтинг
                .rating-box__num.rating-box__num--up
                  +icon('star')
                  | 5.25
            .rating__item.rating__item--big
              .rating-box
                .rating-box__title Рейтинг активности
                .rating-box__text Показывает насколько активны вы на проекте
                .rating-box__num.rating-box__num--up 1.5
              .rating-box
                .rating-box__title Экспертный рейтинг
                .rating-box__text Данные из профессионального рейтинга
                .rating-box__num.rating-box__num--down 3.0
              .rating-box
                .rating-box__title Проектный рейтинг
                .rating-box__text Рейтинг из ваших завершенных проектов
                .rating-box__num.rating-box__num--down 0.75

          .alert.alert--war
            +icon('lamp').alert__icon
            .alert__text Не забывайте оставлять отзывы специалистам, это повысит ваш проектный рейтинг.
            button.alert__close
          .alert.alert--ok
            +icon('eye').alert__icon
            .alert__text Почаще заходите на проект и смотрите профили специалистов, это повысит ваш рейтинг активности.
            button.alert__close

          .diagram
            .diagram__main
              .diagram__title
                .diagram__title-name Динамика изменения рейтинга
                .diagram__date январь 2018 - август 2018
              #diagram-rating.diagram__pic
              .diagram__list
                .diagram__item.diagram__item--all Общий
                .diagram__item.diagram__item--active Активности
                .diagram__item.diagram__item--exp Экспертный
                .diagram__item.diagram__item--project Проектный
            .diagram__info
              +icon('lamp').diagram__icon
              .diagram__text Предупреждаем, Ваша деловая активность снизилась. От этого страдает проектный рейтинг и рейтинг активности

          .title Приглашайте коллег на проект
          .text
            p При регистрации на проекте по вашему промокоду, вам начисляется дополнительный рейтинг за активность.

          .promo
            .promo-code
              .form__label-name ваш промокод
              .promo__line
                span.promo__num XD-1337-DINGDONG
                button.btn.btn--light.btn--small.promo__btn Скопировать
              .promo__line
                span.promo__num SD-1249-RELAYTOP
                button.btn.btn--light.btn--small.promo__btn.disabled АКТИВИРОВАН
              .promo__line
                span.promo__num VC-2089-STAYTRUE
                button.btn.btn--light.btn--small.promo__btn Скопировать
              .promo__line
                span.promo__num DF-2090-KINGKONG
                button.btn.btn--light.btn--small.promo__btn Скопировать
              .promo__line
                span.promo__num QW-4980-WAYINOUT
                button.btn.btn--light.btn--small.promo__btn Скопировать
            .promo-box
              .rating__item.rating__item--big.score__pro.form
                .rating-box
                  .rating-box__title
                    | Купить промо-коды
                  .rating-box__text Промо-коды работают сразу после приобретения
                  .rating-box__list
                    | Пользователи, приглашенные по промо-коду также получают дополнительный рейтинг за активность в течение месяца после регистрации. Подробнее о рейтинге читайте в разделе FAQ.
                  select.form__select
                    option(value="") 1 промо-код
                    option(value="") 2 промо-кода
                    option(value="" selected) 3 промо-кода
                    option(value="") 4 промо-кода
                  .rating-box__num.rating-box__num--sm 3600 руб.
                  a(href="#").btn.btn--accent.rating-box__btn Купить