extends ../templates/layout-main

block variables
  - var headerIsAuth = true;  // переключить тип шапки

block content
  section.section.top-box.sing-in(style="background-image:url(img/top-box__bg-1.jpg);")
    .container
      .sing-in__box
        form.form.sing-in__form
          .page__title.sing-in__title Регистрация
          .form__label-list
            label.form__label.form__label--half-alt
              span.form__label-name вы регистрируетесь как:
                sup *
              select.form__select
                option(value="") Специалист
                option(value="") Вариант 1
                option(value="") Вариант 2
                option(value="") Вариант 3
            label.form__label.form__label--half
              span.form__label-name ИНДустрия
                sup *
              select.form__select
                option(value="") Мода
                option(value="") Вариант 1
                option(value="") Вариант 2
                option(value="") Вариант 3
            label.form__label.form__label--half
              span.form__label-name Специализация
                sup *
              select.form__select
                option(value="") Модель
                option(value="") Вариант 1
                option(value="") Вариант 2
                option(value="") Вариант 3
            label.form__label.form__label--half
              span.form__label-name Имя
                sup *
              span.sing-in__input
                input(type="password" name="" value="" placehodler="").form__input
            label.form__label.form__label--half
              span.form__label-name Фамилия
                sup *
              span.sing-in__input
                input(type="password" name="" value="" placehodler="").form__input
          label.form__label
            span.form__label-name Ваш e-mail
              sup *
            span.sing-in__input
              +icon('email').sing-in__input-icon
              input(type="email" name="" value="" placehodler="").form__input
          label.form__label
            span.form__label-name Номер телефона
              sup *
            span.sing-in__input
              +icon('phone').sing-in__input-icon
              input(type="tel" name="" value="" placehodler="").form__input.form__input-phone
            span.form__text Мы пришлем код подтверждения на указанный номер телефона
          .form__label-list
            label.form__label.form__label--half
              span.form__label-name Пароль
              span.sing-in__input
                +icon('pass').sing-in__input-icon
                input(type="password" name="" value="" placehodler="").form__input
            label.form__label.form__label--half
              span.form__label-name Подтвердите Пароль
              span.sing-in__input
                +icon('pass').sing-in__input-icon
                input(type="password" name="" value="" placehodler="").form__input
          label.form__label
            span.form__label-name Промокод
              sup *
            span.sing-in__input
              input(type="text" name="" value="" placehodler="").form__input

          input(type="submit" name="submit" value="Зарегистрироваться").btn.btn--accent
        .sing-in__info
          .sing-in__info-text Уже есть аккаунт?
          a(href="authorization.html").sing-in__link.sing-in__link--sm Авторизация