extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Пополнить баланс"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            a(href="#").page__header-item Счет   —   Пополнение счета
            h1.page__title Пополнение счета

          ul.line-nav.owl-carousel
            each href,name in main['line-nav'].score
              li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                a(href= href).line-nav__link= name

          form.form
            label.form__label.score-summa
              span.form__label-name Сумма к пополнению
              span.score-summa__line
                +icon('rur-circle').score-summa__icon
                input(type="text" name="" value="51680").score-summa__input
                span.score-summa__num 51 680
                span.score-summa__text руб.

            .title-alt Способ оплаты:
            .pay
              .pay-item.active
                label.pay-item__top
                  input(type="radio" name="pay" checked).pay-item__radio
                  span.pay-item__check
                  span.pay-item__name Яндекс.Касса
                  span.pay-item__logo
                    img(src="img/pay__logo-1.png", alt="")
                .pay-item__content
                  .pay-item__text Произвести оплату посредством пластиковой карты Visa или Mastercard
                  label.form__label
                    span.form__label-name Номер карты
                    input(type="text" name="" placeholder="0000 0000 0000 0000").form__input
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name ИМЯ Владельца
                      input(type="text" name="" placeholder="").form__input
                    label.form__label.form__label.form__label--1-4
                      span.form__label-name Дата
                      input(type="text" name="" placeholder="MM / ГГ").form__input
                    label.form__label.form__label.form__label--1-4
                      span.form__label-name CVV
                      input(type="text" name="" placeholder="").form__input
              .pay-item
                label.pay-item__top
                  input(type="radio" name="pay").pay-item__radio
                  span.pay-item__check
                  span.pay-item__name Webmoney
                  span.pay-item__logo
                    img(src="img/pay__logo-2.png", alt="")
                .pay-item__content
                  .pay-item__text Произвести оплату посредством Webmoney
                  label.form__label
                    span.form__label-name Номер карты
                    input(type="text" name="" placeholder="0000 0000 0000 0000").form__input
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name ИМЯ Владельца
                      input(type="text" name="" placeholder="").form__input
                    label.form__label.form__label.form__label--1-4
                      span.form__label-name Дата
                      input(type="text" name="" placeholder="MM / ГГ").form__input
                    label.form__label.form__label.form__label--1-4
                      span.form__label-name CVV
                      input(type="text" name="" placeholder="").form__input
              .pay-item
                label.pay-item__top
                  input(type="radio" name="pay").pay-item__radio
                  span.pay-item__check
                  span.pay-item__name Qiwi-кошелек
                  span.pay-item__logo
                    img(src="img/pay__logo-3.png", alt="")
                .pay-item__content
                  .pay-item__text Произвести оплату посредством Qiwi
                  label.form__label
                    span.form__label-name Номер карты
                    input(type="text" name="" placeholder="0000 0000 0000 0000").form__input
                  .form__label-list
                    label.form__label.form__label--half
                      span.form__label-name ИМЯ Владельца
                      input(type="text" name="" placeholder="").form__input
                    label.form__label.form__label.form__label--1-4
                      span.form__label-name Дата
                      input(type="text" name="" placeholder="MM / ГГ").form__input
                    label.form__label.form__label.form__label--1-4
                      span.form__label-name CVV
                      input(type="text" name="" placeholder="").form__input

            .form__action
              a(href="#").btn.btn--accent Перейти к оплате