extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Ваш кошелек"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Ваш счет

          ul.line-nav.owl-carousel
            each href,name in main['line-nav'].score
              li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                a(href= href).line-nav__link= name

          .rating__items
            .rating__item.rating__item--small
              .rating-box
                .rating-box__title Текущий баланс
                .rating-box__text Ваш баланс для оплаты услуг внутри проекта
                .rating-box__num.rating-box__num--price
                  +icon('rur-circle')
                  | 51 680 руб.
                a(href="#").btn.btn--light.rating-box__btn Пополнить
            .rating__item.rating__item--big
              .rating-box
                .rating-box__title Доступно завершенных проектов
                .rating-box__text Проекты, в которых вы учавствовали для повышения вашего рейтинга
                .rating-box__num 15 проектов
                a(href="#").btn.btn--light.rating-box__btn Создать проект

          .title Услуги
          .rating__items.score__items
            .rating__item.rating__item--big.score__pro.form
              .rating-box
                .rating-box__title
                  span.rating-box__title-inscription pro
                  | PRO-аккаунт
                .rating-box__text Все платные функции сайта без ограничений
                ul.rating-box__list
                  li - Неограниченные проекты;
                  li - Закрытые кастинги;
                  li - Эксклюзивные анкеты;
                  li - Бейджик PRO;
                  li - Дополнительный рейтинг;
                select.form__select
                  option(value="") на 3 месяца
                  option(value="" selected) на 6 месяцев
                  option(value="") на 12 месяцев
                  option(value="") на 24 месяца
                .rating-box__num.rating-box__num--sm 3600 руб.
                a(href="#").btn.btn--accent.rating-box__btn Купить
            .rating__item.rating__item--small
              .rating-box
                .rating-box__title Офлайн-верификация
                .rating-box__text Подтверждение вашей личности офлайн
                .rating-box__num.rating-box__num--sm 5000 руб.
                a(href="#").btn.btn--light.rating-box__btn Купить
            .rating__item.rating__item--small
              .rating-box
                .rating-box__title Оценка портфолио
                .rating-box__text Оценка ваших работ составом жюри нашего проекта
                .rating-box__num.rating-box__num--sm 2500 руб.
                a(href="#").btn.btn--light.rating-box__btn Купить