extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            a(href="#").page__header-item FAQ   —   Отправить вопрос
            h1.page__title Отправить вопрос
          form.form.profile__content

            .projects-cont.projects-cont--alt
              .projects-cont__main

                label.form__label.form__label--sm
                  span.form__label-name Категория
                  select.form__select
                    option(value="") Проекты и кастинги
                    option(value="") Проекты и кастинги 1
                    option(value="") Проекты и кастинги 2
                    option(value="") Проекты и кастинги 3

                .form__label.form__label--md
                  span.form__label-name Вопрос
                  textarea(placeholder="Текст вопроса").form__textarea.form__textarea--big

                .form-action
                  input(type="submit" name="submit" value="Отправить").btn.btn--accent


              .projects-cont__aside.projects-cont__aside--light
                .aside-help.aside-help--light
                  .title-alt Помощь
                  ul.aside-help__list
                    li.aside-help__item
                      a(href="#", data-num="1").aside-help__link Что такое кастинг?
                    li.aside-help__item
                      a(href="#", data-num="2").aside-help__link Сколько людей можно добавить?
                    li.aside-help__item
                      a(href="#", data-num="3").aside-help__link Как отобрать исполнителя?
                    li.aside-help__item
                      a(href="#", data-num="4").aside-help__link Как поставить задачу?
                  a(href="#").btn.btn--light Перейти в раздел FAQ

