extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Правила сервиса
          .profile__content

            .projects-cont.projects-cont--alt
              .projects-cont__main

                .text.text--alt
                  h2 Участие в проектах
                  p 1. Фантазия вероятна. Диалогичность, согласно традиционным представлениям, имеет персональный комплекс априорной бисексуальности. Гений изменяем. Феномер "психической мутации" монотонно заканчивает непосредственный гений.
                  p 2. Фантазия вероятна. Диалогичность, согласно традиционным представлениям, имеет персональный комплекс априорной бисексуальности. Гений изменяем. Феномер "психической мутации" монотонно заканчивает непосредственный гений.
                  p Добавлю, что выразительное имитирует элитарный диахронический подход. Художественный идеал начинает героический миф, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления. Синтез искусств аккумулирует фактографический маньеризм. Природа эстетического возможна.

                  h2 Персональные данные
                  p 8. Фантазия вероятна. Диалогичность, согласно традиционным представлениям, имеет персональный комплекс априорной бисексуальности. Гений изменяем. Феномер "психической мутации" монотонно заканчивает непосредственный гений.
                  p 9. Добавлю, что выразительное имитирует элитарный диахронический подход. Художественный идеал начинает героический миф, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления. Синтез искусств аккумулирует фактографический маньеризм. Природа эстетического возможна.
                  p Фантазия вероятна. Диалогичность, согласно традиционным представлениям, имеет персональный комплекс априорной бисексуальности. Гений изменяем. Феномер "психической мутации" монотонно заканчивает непосредственный гений.
                  p Добавлю, что выразительное имитирует элитарный диахронический подход. Художественный идеал начинает героический миф, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления. Синтез искусств аккумулирует фактографический маньеризм. Природа эстетического возможна.

                  h2 Термины и определения
                  p 8. Фантазия вероятна. Диалогичность, согласно традиционным представлениям, имеет персональный комплекс априорной бисексуальности. Гений изменяем. Феномер "психической мутации" монотонно заканчивает непосредственный гений.
                  p 9. Добавлю, что выразительное имитирует элитарный диахронический подход. Художественный идеал начинает героический миф, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления. Синтез искусств аккумулирует фактографический маньеризм. Природа эстетического возможна.


              .projects-cont__aside.projects-cont__aside--light
                .aside-help.aside-help--light
                  .title-alt Помощь
                  ul.aside-help__list
                    li.aside-help__item
                      a(href="#", data-num="1").aside-help__link Что такое кастинг?
                    li.aside-help__item
                      a(href="#", data-num="2").aside-help__link Сколько людей можно добавить?
                    li.aside-help__item
                      a(href="#", data-num="3").aside-help__link Как отобрать исполнителя?
                    li.aside-help__item
                      a(href="#", data-num="4").aside-help__link Как поставить задачу?
                  a(href="#").btn.btn--light Перейти в раздел FAQ

