extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Каталог специалистов
          +filter()
          .cards.cards--small
            .cards__list
              - for ( var i = 1; i <= 6; i++ ) {
                each object in main.card['cards-slider']
                  +card(object.imgName,
                        object.name,
                        object.prof,
                        object.isPro,
                        object.isVerif,
                        object.list,
                        object.rating,
                        object.ratingVal)
              - }
            .cards__action
              button.btn.btn--light.cards__more Загрузить еще 50 из 560
