extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Каталог специалистов
          +filter-alt()
          .cards.cards--line
            .cards__list
              - for ( var i = 1; i <= 3; i++ ) {
                .card-line
                  .card-line__avatar.card__content
                    a(href="#").card__link
                    .card__box
                      img(src="img/card__img-1.jpg", alt="").card__img
                      .card__status
                        .card__pro pro
                        .card__verif
                      a(href="#").card__favorite
                        +icon('favorite')
                      .card__list
                        a(href="#").card__item.active
                          img(src="img/card__img-2.jpg", alt="")
                        a(href="#").card__item
                          img(src="img/card__img-6.jpg", alt="")
                      .card__rating
                        .card__rating-val(style="width: 65%;") 6.5
                  .card-line__content
                    .card-line__top
                      .card-line__info
                        .card-line__name Ирина Шувалова
                        .card-line__prof модель
                      .card-line__actions
                        a(href="", data-name="Сообщение").btn.btn--accent.card__btn.card-line__btn
                          +icon('messages')
                        a(href="").btn.btn--light.card-line__btn + Пригласить ...
                    .card-line__cont
                      .card-line__slider.owl-carousel.card-line__slider--full
                        - for ( var x = 1; x <= 10; x++)
                          .card-line__slide
                            a(href="img/card-line__img-" + x + ".jpg", data-fancybox="gallery-" + i).card-line__slide-img
                              img(src="img/card-line__img-" + x + ".jpg" alt="")
              - }
            .cards__action
              button.btn.btn--light.cards__more Загрузить еще 50 из 560
