extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Каталог специалистов
          +filter-alt()
          .cards.cards--line
            .cards__list
              - for ( var i = 1; i <= 3; i++ ) {
                .card-line
                  .card-line__avatar.card__content
                    a(href="#").card__link
                    .card__box
                      img(src="img/card__img-1.jpg", alt="").card__img
                      .card__status
                        .card__pro pro
                        .card__verif
                      a(href="#").card__favorite
                        +icon('favorite')
                      .card__list
                        a(href="#").card__item.active
                          img(src="img/card__img-2.jpg", alt="")
                        a(href="#").card__item
                          img(src="img/card__img-6.jpg", alt="")
                      .card__rating
                        .card__rating-val(style="width: 65%;") 6.5
                  .card-line__content
                    .card-line__top
                      .card-line__info
                        .card-line__name Ирина Шувалова
                        .card-line__prof модель
                      .card-line__actions
                        a(href="", data-name="Сообщение").btn.btn--accent.card__btn.card-line__btn
                          +icon('messages')
                        a(href="").btn.btn--light.card-line__btn + Пригласить ...
                    .card-line__cont
                      .card-line__stats.person-stats.card-line__stats--full
                        - for ( var b = 1; b <= 2; b++ )
                          ul.person-stats__box
                            each val,name in {'Рост':'181 см.','Вес':'70 кг.','Цвет волос':'Рыжий','Длина волос':'Короткие','Языки':'Русский/Англ.','Грудь':'90 см','Бедра':'80 cм','Талия':'65 см'}
                              li.person-stat
                                .person-stat__name
                                  span.person-stat__name-val= name
                                .person-stat__val= val
                          ul.person-stats__box
                            each val,name in {'Глаза': '181 см.','Пирсинг': 'Да','Татуировки': 'Нет','Шрамы': 'Нет','Тип фигуры': 'Стройная','Тип лица': 'Овальное','Размер одежды': 'M/L','Размер обуви': '44'}
                              li.person-stat
                                .person-stat__name
                                  span.person-stat__name-val= name
                                .person-stat__val= val
                          ul.person-stats__box
                            each val,name in {'Шенген': 'Да','Образование': 'Высшее','Город проживания': 'Москва','Гражданство': 'Русская'}
                              li.person-stat
                                .person-stat__name
                                  span.person-stat__name-val= name
                                .person-stat__val= val
              - }
            .cards__action
              button.btn.btn--light.cards__more Загрузить еще 50 из 560
