extends ../templates/layout-main

block variables
  - var headerIsLight = false;  // переключить тип шапки
  - var lineNavActive = "Контакты"; // выбор активного пункта во вкладках

block content
  .page
    .container
      .inner
        .inner__main
          header.page__header
            h1.page__title Контакты
            .page__info В контактах содержатся все профили, с которыми вы взаимодействовали в проектах. <br>Отмеченные вами специалисты находятся в разделе “Избранные специалисты”.

          ul.line-nav.owl-carousel
            each href,name in main['line-nav'].specialists
              li.line-nav__item(class= ( lineNavActive == name ) ? "active" : "")
                a(href= href).line-nav__link= name

          +filter-con()

          .cards
            .cards__list
              - for ( var i = 1; i <= 2; i++ ) {
                each object in main.card['cards-slider']
                  +card(object.imgName,
                        object.name,
                        object.prof,
                        object.isPro,
                        object.isVerif,
                        object.list,
                        object.rating,
                        object.ratingVal)
              - }
