@font-face {
	font-family: "icons";
	src: url('../fonts/icons/icons.eot');
	src: url('../fonts/icons/icons.eot?#iefix') format('eot'),
		url('../fonts/icons/icons.woff2') format('woff2'),
		url('../fonts/icons/icons.woff') format('woff'),
		url('../fonts/icons/icons.ttf') format('truetype'),
		url('../fonts/icons/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-address:before {
	content: "\E001";
}

.icon-arrow-long-down:before {
	content: "\E002";
}

.icon-arrow-long-up:before {
	content: "\E003";
}

.icon-badge:before {
	content: "\E004";
}

.icon-cards--big:before {
	content: "\E005";
}

.icon-cards--list:before {
	content: "\E006";
}

.icon-cards--small:before {
	content: "\E007";
}

.icon-casts:before {
	content: "\E008";
}

.icon-del:before {
	content: "\E009";
}

.icon-dialogs:before {
	content: "\E00A";
}

.icon-dizlike-r:before {
	content: "\E00B";
}

.icon-edit:before {
	content: "\E00C";
}

.icon-email-invite:before {
	content: "\E00D";
}

.icon-email:before {
	content: "\E00E";
}

.icon-eye-close:before {
	content: "\E00F";
}

.icon-eye:before {
	content: "\E010";
}

.icon-facebook-dark:before {
	content: "\E011";
}

.icon-facebook:before {
	content: "\E012";
}

.icon-favorite-full:before {
	content: "\E013";
}

.icon-favorite:before {
	content: "\E014";
}

.icon-flag-alt:before {
	content: "\E015";
}

.icon-instagram:before {
	content: "\E016";
}

.icon-items:before {
	content: "\E017";
}

.icon-lamp:before {
	content: "\E018";
}

.icon-like-r:before {
	content: "\E019";
}

.icon-like:before {
	content: "\E01A";
}

.icon-list-alt:before {
	content: "\E01B";
}

.icon-list:before {
	content: "\E01C";
}

.icon-lists:before {
	content: "\E01D";
}

.icon-lock:before {
	content: "\E01E";
}

.icon-long-arrow-right:before {
	content: "\E01F";
}

.icon-messages:before {
	content: "\E020";
}

.icon-mouse:before {
	content: "\E021";
}

.icon-notifications:before {
	content: "\E022";
}

.icon-pass:before {
	content: "\E023";
}

.icon-phone:before {
	content: "\E024";
}

.icon-play:before {
	content: "\E025";
}

.icon-plus:before {
	content: "\E026";
}

.icon-pr-add:before {
	content: "\E027";
}

.icon-price-r:before {
	content: "\E028";
}

.icon-price:before {
	content: "\E029";
}

.icon-prof:before {
	content: "\E02A";
}

.icon-profs-m:before {
	content: "\E02B";
}

.icon-read:before {
	content: "\E02C";
}

.icon-rur-circle:before {
	content: "\E02D";
}

.icon-rur-dark:before {
	content: "\E02E";
}

.icon-sale-alt:before {
	content: "\E02F";
}

.icon-star-light:before {
	content: "\E030";
}

.icon-star-m:before {
	content: "\E031";
}

.icon-star:before {
	content: "\E032";
}

.icon-twitter:before {
	content: "\E033";
}

.icon-view:before {
	content: "\E034";
}

.icon-woman:before {
	content: "\E035";
}

.icon-youtube:before {
	content: "\E036";
}
