html {
  font-size: $fontSizeMain + px;
  line-height: $lineHeightMain;
}

body {
  font-family: $fontFamilyMain, Arial, sans-serif;
  font-weight: $fontWeightMain;
  background-color: $colorBgMain;
  color: $colorTextMain;
  min-width: 320px;

  &.overflow {
    @include media($lg) {
      overflow: hidden;
    }
  }

  &.menu-opened {
    @include media($lg) {
      overflow: hidden;
    }

    .header__nav {
      @include media($lg) {
        opacity: 1;
        visibility: visible;
      }

      &-content {
        @include media($lg) {
          transform: translateX(0);
        }
      }
    }
  }
}

select,
textarea,
input {
  -webkit-appearance: none;
  font-family: $fontFamilyMain;

  &::placeholder {
    color: #999;
  }
}

.hidden {
  display: none;
}
