.wrapper {
  width: 100%;
  overflow: hidden;

  @supports (flex-direction: column) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.content {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;

  @include media($lg) {
    max-width: 640px + $marginGridMain + $marginGridMain;
    padding: 0 $marginGridMain;
  }
}