.jq-selectbox {
  background: #ffffff;
  width: 100%;
  font-family: $fontFamilyMain;

  &.focused,
  &:active {

    .jq-selectbox__select {
      background: #ffffff;
      box-shadow: none;
      border: 1px solid #dbdbdb;
    }
  }
}

.jq-selectbox__select {
  background: #ffffff;
  box-shadow: none;

  &:hover {
    background: #ffffff;
  }
}

.jq-selectbox__trigger {
  border: none;
  height: 100%;
  width: 30px;
}

.jq-selectbox__trigger-arrow {
  width: 6px;
  height: 6px;
  border: none;
  top: 50%;
  margin-top: -1px;
  border-bottom: 1px solid #635f60;
  border-right: 1px solid #635f60;
  transform: translateY(-50%) rotate(45deg);
}

.jq-selectbox__dropdown {}

.jq-selectbox__select-text {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  font-family: $fontFamilyMain;
  line-height: 1;

  &.placeholder {}
}

.jq-selectbox li {}

.owl-carousel {
  .owl-dots {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    button.owl-dot {
      margin-right: 20px;
      font-size: 0;
      padding: 0;
      background: #ddd;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      border: none;
      box-shadow: none;
      transition: $transitionMain;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        width: 39px;
        background: $colorAccent;
        pointer-events: none;
      }

      &:hover {
        background: $colorAccent;
      }
    }
  }

  .owl-nav {
    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 122px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $colorAccent;
      border: none;
      box-shadow: none;
      z-index: 5;
      color: #fff;
      font-size: 32px;

      &.disabled {
        opacity: 0;
        visibility: hidden;
      }
    }

    button.owl-prev {
      left: -25px;

      span {
        margin-left: -2px;
      }
    }

    button.owl-next {
      right: -25px;

      span {
        margin-right: -2px;
      }
    }
  }
}


/******************* SCROLLBAR *******************/
.scroll-element.scroll-y.scroll-scrolly_visible {
  background: #efefef;
  cursor: pointer;
  position: absolute;
  height: 100%;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  border-radius: 4px;
}

.scroll-element.scroll-x.scroll-scrollx_visible {
  background: #efefef;
  cursor: pointer;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 8px;
  border-radius: 4px;
}

.card-line__stats .scroll-element.scroll-y.scroll-scrolly_visible {
  right: 0;
}

.scroll-element.scroll_y.scroll-scrolly_visible div {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
.scroll-element.scroll_x.scroll-scrollx_visible div {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.scroll-element.scroll-y.scroll-scrolly_visible .scroll-bar {
  background: #dbdbdb;
  z-index: 12;
  height: 46px;
  border-radius: 4px !important;
  cursor: pointer;
}

.scroll-element.scroll-x.scroll-scrollx_visible .scroll-bar {
  background: #dbdbdb;
  z-index: 12;
  widht: 46px;
  border-radius: 4px !important;
  cursor: pointer;
}

.scroll-wrapper > .scroll-content {
  width: 100% !important;
}




// range
.form__rating-range {
  height: 7px;
  background: #D8D8D8;
  box-shadow: none;
  border: none;
}
.noUi-connect {
  background: $colorAccent;
  border: none;
}
.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.0979676);
  cursor: pointer;

  &:after,
  &:before {
    display: none;
  }
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -9px;
}


// canvasjs
// .canvasjs-chart-credit {
//   display: none;
// }