// ЦВЕТА
$colorAccent: #ff6b61;
$colorAlt: #635F60;
$colorBlueBerry: #5d38db;
$colorAccentAlt: #4138db;
$colorAvocado: #50c473;

$colorTextMain: #000000;
$colorTextAlt: #222222;
$colorTextSecondary: #808080;

$colorBgMain: #f7f8fa;
$colorBgAlt: #5C53FB;
// $colorBgSecondary: ;

// ШРИФТЫ
$fontFamilyMain: "Rubik";
$fontFamilyAlt: "Roboto Condensed";

// РАЗМЕРЫ
$fontSizeMain: 16;
$lineHeightMain: 1.5;
$fontWeightMain: 300;

$marginGridMain: 10px;

$lg: 1200px;  // @include media($lg)
$sm: 768px;  // @include media($sm)

$bdrsMain: 3px;

$transitionMain: .3s;

