.pay {
  margin-bottom: 30px;
  max-width: 780px;
  margin-top: 20px;

  &-item {
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #DDE3E8;
    border-radius: $bdrsMain;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .pay-item__content {
        display: block;
      }
    }

    &__top {
      display: flex;
      align-items: center;
      padding: 20px;
      position: relative;
      cursor: pointer;

      @include media($lg) {
        padding: 20px 20px 20px 12px;
      }
    }

    &__radio {
      display: none;

      &:checked {

        & ~ .pay-item__check {
          border-color: $colorAccent;

          &:after {
            opacity: 1;
          }
        }
      }
    }

    &__check {
      width: 18px;
      height: 18px;
      display: block;
      border-radius: 50%;
      border: 2px solid #000;
      margin-right: 15px;
      position: relative;

      @include media($lg) {
        margin-right: 10px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: $colorAccent;
        opacity: 0;
      }
    }

    &__name {
      font-weight: 500;
      line-height: 1.3;
    }

    &__logo {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      img {
        display: block;
        max-width: 100%;
      }
    }

    &__content {
      display: none;
      padding: 0 116px 38px 30px;

      @include media($lg) {
        padding: 0 10px 12px;
      }
    }

    &__text {
      color: #808080;
      margin-bottom: 48px;
    }
  }
}