.trigger-alone {

  & + .trigger-alone {
    margin-top: 10px;
  }

  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &__input {
    display: none;

    &:checked ~ .trigger-alone__box {
      background: $colorAccent;

      &:after {
        left: 21px;
      }
    }
  }

  &__box {
    margin: 0 11px 0 0;
    width: 50px;
    min-width: 50px;
    height: 30px;
    border-radius: 30px;
    background: #999999;
    position: relative;
    transition: $transitionMain;

    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 50%;
      background: #fff;
      width: 28px;
      height: 28px;
      transition: $transitionMain;
    }
  }
}