mixin trigger-alone(name,checked)
  .trigger-alone&attributes(attributes)
    label.trigger-alone__label
      if checked
        input(type="checkbox" name="", checked).trigger-alone__input
      else
        input(type="checkbox" name="").trigger-alone__input
      span.trigger-alone__box
      span.trigger-alone__name= name