.line-nav {
  position: relative;
  margin-bottom: 30px;

  &--first {
    margin-top: 40px;
  }

  @include media($lg) {
    margin-bottom: 20px;
  }
  
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #dbdbdb;
  }

  &__item {
    padding-top: 5px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 3px solid transparent;
      z-index: 2;
      transition: $transitionMain;
    }

    &:hover,
    &.active {
      
      &:after {
        border-bottom-color: #4138db;
      }

      .line-nav__link {
        color: #4138db;
      }
    }

    &-tooltip {
      margin-right: 25px;
    }

    .tooltip {
      position: absolute;
      top: 0;
      right: -25px;
    }
  }

  &__link {
    display: block;
    height: 27px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: $transitionMain;
    position: relative;
    display: flex;
    align-items: flex-start;

    .tooltip {
      margin-left: 5px;
      position: relative;
      top: -5px;
    }

    &-num {
      position: absolute;
      top: -20px;
      right: -20px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $colorAccent;
      color: #fff;
      font-size: 11px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 2px 0 0 1px;
    }
  }
}