.contacts {
  height: inherit;
  background-size: cover;
  background-position: center top;
  padding: 53px 0;

  @include media($lg) {
    background-image: none !important;
    padding: 20px 0 50px;
  }
}