.post {

  &-excerpt {
    font-style: italic;
    font-size: 22px;

    @include media($lg) {
      font-size: 16px;
    }
  }

  &__img {
    margin-bottom: 30px;

    @include media($lg) {
      margin-bottom: 22px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__aside {
    width: 220px;
    margin-left: auto;
    margin-right: 0;

    &-title {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      margin-bottom: 12px;

      img {
        display: block;
        width: 100%;
      }
    }

    &__title {
      font-weight: 500;
      margin-bottom: 8px;

      a {
        &:hover {
          text-decoration: underline;
          color: $colorAccent;
        }
      }
    }

    .btn {
      min-width: 150px;
    }
  }
}