mixin card-post(object)
  .card-post&attributes(attributes)
    .card-post__content
      a(href="#").card-post__img
        img(src="img/" + object.imgName, alt="")
      .card-post__line
        .card-post__date 05.09.2018
        ul.card-post__tags
          li
            a(href="#") Мода
      .card-post__line
        a(href="").card-post__user
          span.card-post__user-avatar
            img(src="img/card-post__avatar.jpg", alt="")
          span.card-post__user-text Ольга Велес / Фотограф
        .card-post__rating
          +icon('star')
          | 5.25
      .card-post__title
        a(href="#")= object.title
      a(href="#").btn.btn--small.btn--light.card-post__btn Читать подробнее
