.card-post {
  @include col(1,2);
  padding: 0 10px;
  margin-bottom: 30px;

  @include media($lg) {
    @include col(1,1);
  }

  &__content {
    height: 100%;

    @supports (flex-direction: column) {
      display: flex;
      flex-direction: column;
    }
  }

  &__img {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    &:before {
      content: '';
      display: block;
      padding-top: 75%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  &__date {
    font-size: 14px;
    margin-right: 20px;
    font-weight: 400;
  }

  &__tags {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

    li {
      margin-right: 5px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;

    &:hover {
      .card-post__user-text {
        text-decoration: underline;
        color: $colorAccent;
      }
    }

    &-avatar {
      display: block;
      width: 24px;
      height: 24px;
      overflow: hidden;
      border-radius: 50px;
      margin-right: 10px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;

    .icon {
      font-size: 12px;
      margin-right: 7px;
      position: relative;
      top: -1px;
      color: $colorAccent;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;

    @include media($lg) {
      font-size: 24px;
    }

    a {
      &:hover {
        text-decoration: underline;
        color: $colorAccent;
      }
    }
  }

  &__btn {
    max-width: 150px;

    @supports (flex-direction: column) {
      margin-top: auto;
    }
  }
}