mixin project-part(imgName,name,prof,isPro,isVerif,rating,ratingVal,price,cardBtnText,selectProf,message,messageNew)
  .project-part.card&attributes(attributes)
    .card__content
      if !selectProf
        a(href="#").card__link
      button.project-part__close
      .card__box(class= selectProf ? 'project-part__box' : '')
        if imgName
          img(src="img/" + imgName, alt="").card__img
        else
          img(src="img/projects__person-default.png", alt="").card__img
        if (isPro || isVerif)
          .card__status
            if isPro
              .card__pro pro
            if isVerif
              .card__verif
        if selectProf
          .project-part__name= selectProf
        if message
          .project-part__messages
            a(href="#").project-part__messages-all= message
            if messageNew
              a(href="#").project-part__messages-num= messageNew
        if rating
          .card__rating
            .card__rating-val(style="width: " + rating + "%;")= ratingVal
      .project-part__actions
        if price
          a(href="#").btn.btn--small.project-part__price= price
        else
          a(href="#").btn.btn--small.btn--light.project-part__btn Не задано
        a(href="#").btn.btn--small.project-part__list
          +icon('lists')
      if cardBtnText
        a(href="#").btn.btn--small.btn--light= cardBtnText
      if name
        a(href="#").card__name= name
      if prof
        .card__prof= prof