.project-part {
  padding: 0;
  margin-right: 20px;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;

  @include media($lg) {
    flex: 0 0 130px;
    max-width: 130px;
  }

  &__add {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    &:after {
      content: attr(data-text);
      position: absolute;
      top: 100%;
      margin-top: 15px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 16px;
      text-transform: uppercase;
      color: #000;
    }

    &:before {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #fff;
      font-size: 18px;
      padding-top: 1px;
      padding-left: 1px;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &__box {
    border: 1px dashed #dbdbdb;
  }

  &__name {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__messages {
    position: absolute;
    right: 7px;
    bottom: 5px;
    width: 36px;
    height: 36px;
    z-index: 10;
    color: #fff;

    &-all {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $colorAccentAlt;
      font-size: 14px;
      font-weight: 400;
      color: inherit;
    }

    &-num {
      position: absolute;
      top: -11px;
      right: -4px;
      z-index: 11;
      font-size: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $colorAvocado;
      padding-top: 1px;
      text-align: center;
      color: inherit;
    }
  }

  .card__link {
    height: 173px;
  }

  .card__content {
    width: 130px;

    &:hover {
      .project-part__close {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .card__prof,
  .card__name {
    font-size: 14px;
    line-height: 18px;
  }

  &__actions {
    margin-top: 6px;
    display: flex;
    margin-bottom: 7px;
  }

  &__list {
    max-width: 28px;
    margin-left: 5px;
    font-size: 16px;

    &:hover {
      background-color: $colorAccentAlt;
      color: #fff;
    }
  }

  &__price {
    background-color: #fbd653;
  }

  &__close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #a7a7a7;
    z-index: 10;
    border: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: $transitionMain;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 1px;
      background: #fff;
    }

    &:after {
      transform: translate(-50%,-50%) rotate(45deg);
    }

    &:before {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
}