.comment {

  &s {
    background: #fff;
    padding: 50px 0 55px;

    @include media($lg) {
      padding: 25px 0 48px;
    }

    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 50px;
      text-transform: uppercase;

      @include media($lg) {
        font-size: 18px;
        margin-bottom: 24px;
      }
    }
  }

  &__cont {
    display: flex;
  }

  &__answer {
    margin-left: 80px;
    margin-top: 15px;

    @include media($lg) {
      margin-left: 0;
    }
  }

  &__avatar {
    margin-right: 22px;
    width: 58px;
    min-width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
    display: block;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__main {
    flex: 1;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 8px;
  }

  &__user {
    font-size: 17px;
    margin-right: 10px;
    font-weight: bold;
    line-height: 1.2;

    a {
      &:hover {
        color: $colorAccent;
        text-decoration: underline;
      }
    }
  }

  &__date {
    font-size: 12px;
    font-weight: 300;
    color: #666666;
  }

  &__action {
    margin-top: 5px;

    a {
      font-size: 14px;
      color: #7A7A7A;

      &:hover {
        color: $colorAccent;
        text-decoration: underline;
      }
    }
  }

  &__form {
    margin-top: 20px;
    display: flex;

    .form-action {
      margin-top: 40px;

      @include media($lg) {
        margin-top: 15px;
      }
    }

    .comment__avatar {
      @include media($lg) {
        display: none;
      }
    }
  }
}