.text {
  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;

    @include media($lg) {
      margin-bottom: 20px;
      margin-top: 40px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-bottom: 15px;

    a {
      color: $colorAccent;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--alt {
    h2 {
      font-size: 30px;

      @include media($lg) {
        font-size: 24px;
      }
    }
  }
}