.card-line {
  width: 100%;
  margin: 0 10px 20px;
  background-color: #ffffff;
  display: flex;

  @include media($lg) {
    position: relative;
    display: block;
  }

  &--alt {
    flex-wrap: wrap;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__work-price {
    position: absolute;
    top: 0;
    right: 0;
    height: 58px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;

    @include media($lg) {
      position: static;
      width: calc(100% + 6px);
      margin-left: -3px;
    }

    span {
      display: inline-block;
      background: #FBE20B;
      border-radius: 3px;
      padding: 8px 10px;
      margin: 0 6px;
    }

    .icon {
      margin-right: 6px;
    }
  }

  &__content {
    padding: 20px;
    flex: 1;
    position: relative;

    @include media($lg) {
      padding: 20px 3px;
      position: static;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @include media($lg) {
      position: absolute;
      top: 0;
      left: 140px;
      display: block;
    }
  }

  &__info {
    flex: 0 0 315px;
    width: 100%;
    max-width: 315px;
  }

  &__actions {
    display: flex;
    align-items: center;

    @include media($lg) {
      display: block;
    }
  }

  &__btn {
    margin-right: 20px;
    padding-left: 18px;
    padding-right: 18px;

    @include media($lg) {
      height: 28px;
      font-size: 11px;
      padding-left: 0;
      padding-right: 0;
      width: 121px;
      border-radius: 0;
      margin: 0 0 8px;

      &:after {
        content: attr(data-name);
      }

      .icon {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__name {
    font-weight: 500;
  }

  &__prof {
    @include media($lg) {
      margin-bottom: 15px;
    }
  }

  &__avatar {
    width: 100%;
    max-width: 220px;
    flex: 0 0 220px;
    padding: 0;

    @include media($lg) {
      width: 130px;
      max-width: 130px;
    }
  }

  .card__favorite {
    opacity: 1;
  }

  &__cont {
    display: flex;
  }

  &__stats {
    padding-top: 4px;
    height: 189px;

    &--full {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .person-stats__box {
        flex: 0 0 270px;
        width: 100%;
        min-width: 270px;
        max-width: 270px;
        margin-right: 50px;

        @include media($lg) {
          flex: 0 0 100%;
          max-width: 100%;
          margin-right: 0;
          min-width: 0;
        }

        &:nth-child(3n) {
          flex: 0 0 220px;
          max-width: 220px;
          margin-right: 0;

          @include media($lg) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
            min-width: 0;
          }
        }
      }
    }
  }

  &__slider {
    flex: 0 0 940px;
    width: 940px;
    max-width: 940px;

    @include media($lg) {
      flex: 1;
      width: auto;
      max-width: 100%;
      right: 0;
      display: flex;
      display: none;
    }

    &--small {
      flex: 0 0 620px;
      width: 620px;
      max-width: 620px;
      right: -14px;

      @include media($lg) {
        flex: 1;
        width: auto;
        max-width: 100%;
        right: 0;
      }
    }

    .owl-nav button.owl-prev,
    .owl-nav button.owl-next {
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      background: #fff;
      color: #000;

      &.disabled {
        opacity: 0;
      }
    }

    .owl-nav button.owl-prev {
      left: 10px;
    }

    .owl-nav button.owl-next {
      right: 10px;
    }

    .owl-item img {
      width: auto;
      display: inline-block;
    }
  }

  &__slide {
    height: 187px;
    text-align: center;

    @include media($lg) {
      width: 130px;
    }

    &-img {
      max-width: 100%;
      max-height: 100%;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__chat {
    flex: 0 0 100%;
    width: 100%;
    display: none;
    text-align: center;
    padding: 20px 10px;

    &.active {
      display: block;
    }

    &-trigger {
      margin-right: auto;
      background-color: transparent;
      border: none;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;

      @include media($lg) {
        order: 2;
        margin-top: 15px;
      }
    }
  }

  &__bottom {
    padding: 10px;
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    align-items: center;

    @include media($lg) {
      flex-wrap: wrap;
      padding-top: 3px;
    }

    .btn {
      margin-left: 10px;
      padding: 0 15px;
      max-width: 100%;

      @include media($lg) {
        margin-left: 0;
        padding: 0 4px;
        font-size: 11px;
        margin-bottom: 4px;
      }
    }

    .card-line__actions {
      @include media($lg) {
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        order: 1;
        flex-wrap: wrap;
      }
    }
  }
}

.price-status {
  display: flex;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  width: 28px;
  height: 28px;
  right: 6px;
  bottom: 16px;
  align-items: center;
  justify-content: center;
}

.price-more {
  border-top: 10px solid #32B67A;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
  display: flex;
}

.price-less {
  border-bottom: 10px solid #E75153;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin: 0 6px;
}