.lang {
  display: flex;

  &__link {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 1;
    padding-top: 2px;

    &.active {
      background-color: #eeeeee;
      pointer-events: none;
    }
  }
}