.profile-box {
  position: relative;
  padding-left: 70px;
  margin-left: 40px;
  color: #000;
  width: 220px;
  bottom: -7px;

  @include media($lg) {
    margin-left: 0;
    margin-bottom: 40px;
    display: block;
  }

  &__drop {
    left: 25px;
    margin-top: 35px;

    @include media($lg) {
      margin-top: 20px;
      margin-left: -70px;
      width: 300px;
    }

    &:before {
      display: none;
    }

    &.active {
      display: block;
      opacity: 1;
      visibility: visible;
    }

    ul {
      display: block;
    }

    li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        padding: 0;
        font-size: 16px;
        display: inline;
        height: auto;
        text-transform: none;
        font-weight: 300;

        &:hover {
          color: $colorAccent;
        }
      }
    }

    &-bottom {
      border-top: 1px solid #D8D8D8;
      padding-top: 14px;
      margin-left: -20px;
      margin-right: -20px;
      padding: 14px 20px 0;

      @include media($lg) {
        padding-left: 100px;
        padding-right: 100px;
        margin-left: -100px;
        margin-right: -100px;
      }

      .btn {
        height: 28px;
        max-width: 78px;
        font-size: 12px;
      }
    }
  }

  &__avatar {
    position: absolute;
    top: -7px;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__prof {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
  }

  &__rating {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: 400;

    @include media($lg) {
      flex-wrap: wrap;
      align-items: flex-start;
      display: flex;
      margin-right: auto;
    }

    &-icon {
      font-size: 12px;
      color: $colorAccent;
      margin-right: 5px;

      @include media($lg) {
        margin-top: 3px;
      }
    }
  }

  &__trigger {
    position: absolute;
    left: 100%;
    margin-left: 6px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #e4e4e4;
    border: none;
    box-shadow: none;
    cursor: pointer;

    @include media($lg) {
      position: relative;
      left: auto;
      top: -2px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 9px;
      width: 5px;
      height: 5px;
      border-bottom: 1px solid #3b3b3b;
      border-right: 1px solid #3b3b3b;
      transform: rotate(45deg);
    }
  }
}