mixin profile-box(modifier)
  .profile-box&attributes(attributes)
    .profile-box__avatar
      img(src="img/avatar.jpg", alt="")
    .profile-box__name Анна Франк
    .profile-box__prof Модель
    .profile-box__rating
      +icon('star').profile-box__rating-icon
      | 8.70
      button.profile-box__trigger
      .nav__drop.profile-box__drop
        ul
          li
            a(href="#") Мой профиль
          li
            a(href="#") Счет
          li
            a(href="#") Рейтинг
          li
            a(href="#") Чаты
        .profile-box__drop-bottom
          a(href="#" class="btn btn--alt") Выйти