.person {

  &-stats {

    &--third {
      width: 100%;
      flex: 0 0 266px;
      max-width: 266px;
      margin-right: 40px;

      @include media($lg) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
      }
    }

    &__box {
      display: table;
      width: 100%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-stat {
    display: table-row;
    font-size: 14px;
    line-height: 1;

    &:last-child {
      .person-stat__name {
        padding-bottom: 0;
      }
    }

    &__name {
      display: table-cell;
      white-space: nowrap;
      font-weight: 500;
      width: 100%;
      padding-bottom: 9px;

      &-val {
        display: flex;

        &:after {
          content: '';
          flex: 1;
          width: 100%;
          display: block;
          margin: 0 2px;
          position: relative;
          top: -2px;
          border-bottom: 1px dotted #aaaaaa;
        }
      }
    }

    &__val {
      display: table-cell;
      white-space: nowrap;
      width: 1%;
      padding-right: 10px;

      @include media($lg) {
        width: 120px;
        min-width: 120px;
      }
    }
  }
}