.projects {

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;

    @include media($lg) {
      display: block;
    }
  }

  header > .form,
  &__new {
    @include media($lg) {
      margin-top: 15px;
      height: 28px;
      font-size: 11px;
    }
  }

  &__nav {
    margin-bottom: 50px;
  }

  &__btn {
    max-width: 243px;
  }

  &-cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;

    &--alt {
      box-shadow: none;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;

      @include media($lg) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__main {
      flex: 1;

      @include media($lg) {
        width: 100%;
      }
    }

    &__aside {
      flex: 0 0 360px;
      width: 100%;
      max-width: 360px;
      margin-left: 20px;
      margin-top: 45px;

      @include media($lg) {
        display: none;
      }

      &--light {
        margin-top: 0;
      }
    }

    .form-box {
      max-width: 680px;

      &--full {
        max-width: 100%;
        border-top: 0;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          max-width: 680px;
          border-top: 1px solid #d8d8d8;
        }
      }

      &--other {
        max-width: 1080px;
      }

      &:last-child {
        padding-bottom: 0;

        .form-box__action {
          margin-bottom: 0;
        }
      }
    }
  }

  &-line {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 30px;
  }

  &__trigger {
    display: inline-flex;
    margin-right: 9px;
  }

  &__tooltip {

    .tooltip__btn {
      background: $colorAccent;
      color: #fff;
      width: 18px;
      height: 18px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &-team {
    width: 100%;
    max-width: 760px;
    margin-bottom: 15px;

    &__tooltip {
      position: absolute;
      left: 0;
      top: 0;
    }

    &__line {
      position: relative;
      margin-bottom: 27px;
      padding-top: 30px;
      display: flex;

      &-item {
        height: 5px;
        position: relative;

        &:after {
          content: attr(data-val);
          position: absolute;
          bottom: 100%;
          right: 13px;
          margin-bottom: 10px;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 14px;
          text-transform: uppercase;
        }
      }
    }

    &__list {
      // padding-top: 60px;
      display: flex;
      padding-bottom: 30px;
    }

    &__card {
      min-width: 130px;
      width: 130px;
      position: relative;
      margin-right: 15px;
      border: 1px dashed #979797;
      background-color: #ffffff;
      height: 173px;

      &__name {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 30px;
        left: 0;
        padding: 0 10px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 14px;
        text-transform: uppercase;
      }

      &-box {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &-add {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background: $colorAccent;
        transform: translate(-50%,-50%);
        width: 60px;
        height: 60px;

        &:after,
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          background: #fff;
        }

        &:after {
          width: 12px;
          height: 1px;
        }

        &:before {
          height: 12px;
          width: 1px;
        }
      }

      &-close {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background: $colorAccent;
        cursor: pointer;

        &:after,
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          background: #fff;
          width: 12px;
          height: 1px;
        }

        &:after {
          transform: translate(-50%,-50%) rotate(45deg);
        }

        &:before {
          transform: translate(-50%,-50%) rotate(-45deg);
        }
      }
    }
  }

  &__reviews {
    width: 100%;
  }

  &-review {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .projects-review__cont {
        display: block;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border-radius: 3px;
      border: 1px solid #dbdbdb;
      background-color: #ffffff;

      @include media($lg) {
        flex-wrap: wrap;
      }
    }

    &__name {
      position: relative;
      border-radius: 3px;
      background-color: #f7f7f7;
      padding-left: 45px;
      padding-right: 5px;
      height: 42px;
      display: flex;
      align-items: center;
      margin-right: 9px;
      width: 140px;
      min-width: 140px;

      @include media($lg) {
        width: 180px;
        min-width: 180px;
        margin-bottom: 10px;
      }

      &-val {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
      }
    }

    &__avatar {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &__prof {
      font-size: 14px;
      margin-right: 9px;
      width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include media($lg) {
        margin-bottom: 10px;
        flex: 0 0 calc(100% - 190px);
        min-width: 150px;
        margin-right: 0;
      }
    }

    &__stars {
      display: flex;
      align-items: center;

      @include media($lg) {
        margin-right: auto;
        margin-top: 7px;
      }

      &-title {
        font-size: 14px;
        margin-right: 18px;
        white-space: nowrap;
      }
    }

    &__btn {
      margin-left: auto;

      @include media($lg) {
        margin-left: 0;
        margin-top: 7px;
      }
    }

    &__cont {
      display: none;
      border: 1px solid #dbdbdb;
      border-top: none;
    }

    &__text {
      height: 140px;
      padding: 20px 15px;
      width: 100%;
      border: none;
    }
  }
}