.burger {
  display: none;

  @include media($lg) {
    display: block;
  }

  &__link {
    display: block;
    position: relative;
    width: 28px;
    height: 20px;
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
    background: #000;

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
    }

    &:after {
      top: -7px;
    }

    &:before {
      bottom: -7px;
    }
  }
}