.filter {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 30px;

  .form__input--search {
    width: 140px;
  }

  &--alt {
    border-bottom: 0;
    margin-bottom: 15px;

    .filter__line {
      margin-bottom: 20px;
      border-bottom: 1px solid #e3e3e3;
      padding-bottom: 5px;

      @include media($lg) {
        margin-bottom: 0;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    @include media($lg) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      background: #fff;
      z-index: 100;
      display: block;
      padding: 20px 60px 20px 10px;
      opacity: 0;
      visibility: hidden;
      transition: $transitionMain;
    }

    &.active {
      @include media($lg) {
        opacity: 1;
        visibility: visible;
      }
    }

    .form__label--notitle {

      @include media($lg) {
        padding-top: 0;
      }
    }

    &-close {
      display: none;

      @include media($lg) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 22px;
        height: 22px;
        background-color: transparent;
        border: none;
        z-index: 101;

        &:after,
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          height: 1px;
          background: #000;
        }

        &:after {
          transform: translate(-50%,-50%) rotate(45deg);
        }

        &:before {
          transform: translate(-50%,-50%) rotate(-45deg);
        }
      }
    }
  }

  &__line {
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;

    @include media($lg) {
      display: block;
    }

    &--alt {
      @include media($lg) {
        & > * {
          display: none;
        }
        .filter__sort {
          display: flex;
          border: none;
          margin-top: 0;
        }
      }
    }

    .form__label {
      margin-right: 20px;
      min-width: 140px;

      @include media($lg) {
        margin-right: 0;
      }

      &-sort {
        min-width: 0;
      }

      &--big {
        min-width: 185px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .form__filter {
      margin-bottom: 0;
    }

    .form__label--notitle {
      align-items: center;
      display: flex;

      @include media($lg) {
        padding-top: 0;
      }
    }
  }

  &__sort {
    margin-left: auto;
    display: flex;
    align-items: center;
    min-width: 258px;
    padding-left: 30px;

    @include media($lg) {
      min-width: 0;
      padding-left: 0;
      border-top: 1px solid #e3e3e3;
      padding-top: 10px;
      margin-top: 10px;
    }

    .form__label {
      @include media($lg) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    .form__label--notitle {
      @include media($lg) {
        padding-top: 24px;
      }
    }

    &-select {
      @include media($lg) {
        flex: 1;
      }
    }

    &-search {
      @include media($lg) {
        display: none;
      }
    }
  }

  &-mobile {
    display: none;

    @include media($lg) {
      display: block;
    }

    &__controls {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: space-between;
    }

    &__filter {
      flex: 1;
      min-width: 107px;
      max-width: 100%;
      margin-right: 8px;
    }

    &__reset {
      flex: 3;
      max-width: 100%;
    }

    &__result {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      margin-right: 10px;
      margin-bottom: 5px;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 1px 25px 0 7px;
      height: 28px;
      align-items: center;
      position: relative;

      &-name {}

      &-close {
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 20px;
        top: 0;
        right: 0;

        &:after,
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 12px;
          height: 1px;
          background: #000;
        }

        &:after {
          transform: translate(-50%,-50%) rotate(45deg);
        }

        &:before {
          transform: translate(-50%,-50%) rotate(-45deg);
        }
      }
    }

    &__btn {
      display: none;

      @include media($lg) {
        display: flex;
        max-width: 100%;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}