mixin filter(modifier)
  form.form.filter&attributes(attributes)
    .filter__line
      .filter-mobile
        .filter-mobile__controls
          a(href="#").btn.btn--small.btn--alt.filter-mobile__filter Фильтровать
          a(href="#").btn.btn--small.btn--light.filter-mobile__reset Очистить все фильтры
        .filter-mobile__result
          each name in ["Модели","Женщины","Москва","С шенгеном","Брюнетки",]
            .filter-mobile__item
              .filter-mobile__item-name= name
              a(href="#").filter-mobile__item-close
      .filter__items
        button.filter__items-close
        //- label.form__label.form__label--big
        //-   span.form__label-name Индустрия
        //-     span.form__label-del
        //-   select.form__select
        //-     option(value="") Все индустрии
        //-     option(value="") Индустрия 1
        //-     option(value="") Индустрия 2
        //-     option(value="") Индустрия 3

        .form__label.form__label--big
          span.form__label-name Индустрия
            span.form__label-del
          .form-sel
            .form-sel-val Все индустрии
            ul.form-sel__drop
              li
                span Индустрия 1
              li.item-inner
                span Индустрия 2
                ul
                  li
                    span Индустрия 2-1
                  li
                    span Индустрия 2-2
                  li
                    span Индустрия 2-3
              li
                span Индустрия 3



        label.form__label.form__label--big
          span.form__label-name Специализация
            span.form__label-del
          select.form__select
            option(value="") Все специализации
            option(value="") Специализация 1
            option(value="") Специализация 2
            option(value="") Специализация 3
        label.form__label
          span.form__label-name Пол
            span.form__label-del
          select.form__select
            option(value="") Любой
            option(value="") Мужской
            option(value="") Женский
        label.form__label
          span.form__label-name Тип фото
            span.form__label-del
          select.form__select
            option(value="") Любой
            option(value="") Тип 1
            option(value="") Тип 2
            option(value="") Тип 3
        .form__label.form__label--notitle
          a(href="#").btn.btn--light.form__filter.filter__add + Фильтр
        input(type="submit" name="submit" value="Фильтровать").btn.btn--accent.filter-mobile__btn
        input(type="reset" name="reset" value="Очистить").btn.btn--light.filter-mobile__btn


      .filter__sort
        label.form__label.filter__sort-select
          span.form__label-name Сортировка
          select.form__select
            option(value="") По рейтингу
            option(value="") По дате добавления
            option(value="") Сортировка 1
            option(value="") Сортировка 2
        .form__label.form__label-sort.form__label--notitle
          .sort
            a(href="specialists-cards-small.html").sort__item.active
              +icon('cards--small').sort__icon
            a(href="specialists-cards-big.html").sort__item.sort__item--big
              +icon('cards--big').sort__icon
            a(href="specialists-cards-list.html").sort__item
              +icon('cards--list').sort__icon

mixin filter-alt(modifier)
  form.form.filter.filter--alt&attributes(attributes)
    .filter__line

      .filter-mobile
        .filter-mobile__controls
          a(href="#").btn.btn--small.btn--alt.filter-mobile__filter Фильтровать
          a(href="#").btn.btn--small.btn--light.filter-mobile__reset Очистить все фильтры
        .filter-mobile__result
          each name in ["Модели","Женщины","Москва","С шенгеном","Брюнетки",]
            .filter-mobile__item
              .filter-mobile__item-name= name
              a(href="#").filter-mobile__item-close

      .filter__items
        button.filter__items-close
        label.form__label.form__label--big
          span.form__label-name Индустрия
          select
            option(value="") Все индустрии
            option(value="") Индестрия 1
            option(value="") Индестрия 2
            option(value="") Индестрия 3
        label.form__label.form__label--big
          span.form__label-name Специализация
          select
            option(value="") Все специализации
            option(value="") Специализация 1
            option(value="") Специализация 2
            option(value="") Специализация 3
        label.form__label
          span.form__label-name Пол
          select
            option(value="") Любой
            option(value="") Мужской
            option(value="") Женский
        .form__label.form__label--notitle
          a(href="#").btn.btn--light.form__filter.filter__add + Фильтр
        input(type="submit" name="submit" value="Фильтровать").btn.btn--accent.filter-mobile__btn
        input(type="reset" name="reset" value="Очистить").btn.btn--light.filter-mobile__btn

    .filter__line.filter__line--alt
      label.form__label
        span.form__label-name Тип фото
        select
          option(value="") Любой
          option(value="") Тип 1
          option(value="") Тип 2
          option(value="") Тип 3
      label.form__label
        span.form__label-name Вид карточки
        select
          option(value="") Фото
          option(value="") Характеристики
          option(value="") Вид 1
          option(value="") Вид 2
      .filter__sort
        label.form__label.filter__sort-select
          span.form__label-name Сортировка
          select
            option(value="") По рейтингу
            option(value="") По дате добавления
            option(value="") Сортировка 1
            option(value="") Сортировка 2
        .form__label.form__label-sort.form__label--notitle
          .sort
            a(href="specialists-cards-small.html").sort__item
              +icon('cards--small').sort__icon
            a(href="specialists-cards-big.html").sort__item.sort__item--big
              +icon('cards--big').sort__icon
            a(href="specialists-cards-list.html").sort__item.active
              +icon('cards--list').sort__icon

mixin filter-con(hideBth)
  form.form.filter&attributes(attributes)
    .filter__line

      .filter-mobile
        .filter-mobile__controls
          a(href="#").btn.btn--small.btn--alt.filter-mobile__filter Фильтровать
          a(href="#").btn.btn--small.btn--light.filter-mobile__reset Очистить все фильтры
        .filter-mobile__result
          each name in ["Модели","Женщины","Москва","С шенгеном","Брюнетки",]
            .filter-mobile__item
              .filter-mobile__item-name= name
              a(href="#").filter-mobile__item-close

      .filter__items
        button.filter__items-close
        label.form__label
          span.form__label-name Индустрия
          select
            option(value="") Все индустрии
            option(value="") Индестрия 1
            option(value="") Индестрия 2
            option(value="") Индестрия 3
        label.form__label
          span.form__label-name Специализация
          select
            option(value="") Все специализации
            option(value="") Специализация 1
            option(value="") Специализация 2
            option(value="") Специализация 3
        if !hideBth
          .form__label.form__label--notitle
            a(href="#").btn.btn--light.form__filter.filter__add + Фильтр
        input(type="submit" name="submit" value="Фильтровать").btn.btn--accent.filter-mobile__btn
        input(type="reset" name="reset" value="Очистить").btn.btn--light.filter-mobile__btn

      .filter__sort
        label.form__label.filter__sort-select
          span.form__label-name Сортировка
          select
            option(value="") По рейтингу
            option(value="") По дате добавления
            option(value="") Сортировка 1
            option(value="") Сортировка 2
        label.form__label.filter__sort-search
          span.form__label-name Поиск
          input(type="text" name="search" placeholder="Поиск по имени").form__input.form__input--search
        .form__label.form__label-sort.form__label--notitle
          .sort
            a(href="#").sort__item
              +icon('cards--small').sort__icon
            a(href="#").sort__item.active
              +icon('cards--big').sort__icon.sort__item--big
            a(href="#").sort__item
              +icon('cards--list').sort__icon