mixin project-card(isLight)
  .project-card&attributes(attributes)
    .project-card__top
      .project-card__person
        a(href="#").project-card__person-avatar
          img(src="img/project-card__avatar-1.jpg", alt="")
        a(href="#").project-card__person-name Ольга Иванова
      .project-card__rating
        +icon('star')
        | 5.50
      .project-card__users
        .project-card__users-num 3
        a(href="#" title="Имя пользователя 1").project-card__user
          img(src="img/project-card__user-1.jpg", alt="")
        a(href="#" title="Имя пользователя 2").project-card__user
          img(src="img/project-card__user-2.jpg", alt="")
        a(href="#" title="Имя пользователя 3").project-card__user
          img(src="img/project-card__user-3.jpg", alt="")
      .project-card__date 1 сентября 2018
      .project-card__address
        +icon('address')
        | Москва, м. Кунцевская
    .project-card__info
      h4.project-card__title Съемки для каталога H&M
        if !isLight
          a(href="#").project-card__link
      .project-card__info-text Нужно снять ролик с участием детей на детской площадке, в парке в Москве. Нужна будет съемка и монтаж ролика. Продолжительность готового ролика примерно 6 минут…
    if !isLight
      .project-card__list
        .project-card__item
          .project-card__item-name идёт подбор модели
          .project-card__item-price
            span.project-card__item-price-val Гонорар: 
              span.project-card__item-price-num 20 000 руб.
          +tooltip().project-card__tooltip
          .project-card__item-users.project-card__users
            .project-card__users-num Участников: 3
            a(href="#" title="Имя пользователя 1").project-card__user
              img(src="img/project-card__user-1.jpg", alt="")
            a(href="#" title="Имя пользователя 2").project-card__user
              img(src="img/project-card__user-2.jpg", alt="")
            a(href="#" title="Имя пользователя 3").project-card__user
              img(src="img/project-card__user-3.jpg", alt="")
          a(href="#").btn.btn--light.project-card__item-btn + Подать заявку
        .project-card__item
          .project-card__item-name идёт подбор Стилиста
          .project-card__item-price
            span.project-card__item-price-val Гонорар: 
              span.project-card__item-price-num 30 000 руб.
          +tooltip().project-card__tooltip
          .project-card__item-users.project-card__users
            .project-card__users-num Участников пока нет
          .btn.project-card__item-btn.project-card__item-btn--dis Заявка отклонена