.project-card {
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.07);
  border-radius: $bdrsMain;
  border: 1px solid #e6eaee;
  background-color: #ffffff;
  padding: 15px 15px 0;
  margin-bottom: 20px;

  @include media($lg) {
    padding: 10px  10px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &s {
    margin-bottom: 30px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 19px;

    @include media($lg) {
      flex-wrap: wrap;
      margin-bottom: 14px;
    }
  }

  &__person {
    display: flex;
    align-items: center;
    min-width: 215px;
    margin-right: 15px;

    @include media($lg) {
      min-width: 0;
      width: calc(50% - 5px);
      order: 1;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    &--gray {
      background: #F7F7F7;
    }

    &-avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-name {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: $transitionMain;

      &:hover {
        color: $colorAccent;
      }
    }
  }

  &__rating {
    font-size: 14px;
    display: flex;
    align-items: center;
    min-width: 145px;
    margin-right: 15px;

    @include media($lg) {
      min-width: 0;
      order: 3;
      margin-right: 18px;
    }

    .icon {
      font-size: 12px;
      color: $colorAccent;
      margin-right: 5px;
    }
  }

  &__users {
    display: flex;
    align-items: center;
    margin-right: 23px;

    @include media($lg) {
      display: none;
    }

    &-num {
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  &__user {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -8px;

    &:nth-of-type(1) {
      margin-left: 10px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  &__date {
    font-size: 14px;
    min-width: 220px;
    margin-right: 15px;

    @include media($lg) {
      min-width: 0;
      order: 4;
    }
  }

  &__address {
    font-size: 14px;

    @include media($lg) {
      order: 2;
      width: calc(50% - 5px);
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon {
      margin-right: 7px;
      font-size: 12px;
      color: #bababa;
    }
  }

  &__info {
    padding-bottom: 20px;
    position: relative;

    @include media($lg) {
      padding-bottom: 8px;
    }

    &-text {
      max-width: 765px;

      @include media($lg) {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 400;
    margin-bottom: 10px;

    @include media($lg) {
      margin-bottom: 0;
    }
  }

  &__link {
    position: absolute;
    bottom: 20px;
    right: 0;
    background: $colorAccent;
    border-radius: 50%;
    width: 52px;
    height: 52px;

    @include media($lg) {
      position: relative;
      top: 3px;
      right: 0;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      margin-left: -1px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(-45deg);
      width: 10px;
      height: 10px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;

      @include media($lg) {
        width: 5px;
        height: 5px;
      }
    }
  }

  &__item {
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid #e6eaee;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;

    @include media($lg) {
      margin-left: -10px;
      margin-right: -10px;
      flex-wrap: wrap;
      padding: 9px 10px;
      position: relative;
    }

    &-name {
      width: 100%;
      max-width: 200px;
      margin-right: 15px;

      @include media($lg) {
        margin-right: 0;
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 10px;
      }
    }

    &-price {
      min-width: 175px;
      margin-right: 5px;

      @include media($lg) {
        min-width: 0;
        margin-right: 5px;
      }

      &-val {
        display: inline-block;
        padding: 8px 10px;
        background: #FBE20B;
        border-radius: $bdrsMain;

        @include media($lg) {
          font-size: 0;
          height: 30px;
          padding: 0 5px;
          display: flex;
          align-items: center;
        }
      }

      &-num {
        @include media($lg) {
          font-size: 12px;
        }
      }
    }

    &-users {

      .project-card__users-num {
        font-size: inherit;
      }

      .project-card__user {
        position: relative;
        top: -1px;
      }
    }

    &-btn {
      margin-left: auto;
      height: 28px;
      font-size: 11px;
      max-width: 140px;
      text-transform: uppercase;
      margin-right: 68px;

      @include media($lg) {
        margin-right: 0;
        max-width: 137px;
      }

      &--dis {
        color: #fff;
        background-color: #635f60;
        max-width: 150px;
        margin-right: 58px;

        @include media($lg) {
          margin-right: 0;
          max-width: 137px;
        }
      }
    }
  }

  &__tooltip {
    margin-right: 12px;
  }
}