mixin header()
  header.header&attributes(attributes)(class= !headerIsLight ? "header--full" : "")
    .container
      .header__content
        +burger()
        +logo()(class="header__logo")
        .header__nav
          .header__nav-bg.js-nav-toggle
          .header__nav-content
            button.header__nav-close.js-nav-toggle
            +nav()
            if !headerIsAuth
              if !headerIsLight
                +profile-box()(class="header-item")
                .header-item
                  a(href="#").header-item__link.header-item__link-drop
                    +icon("notifications","header-item__icon header-item__icon--notifications")
                    span.header-item__num 6
                  .header-item__drop
                    .header-item__drop-list
                      - for ( var i = 1; i <= 5; i++ )
                        .header-item__drop-item
                          a(href="#").header-item__drop-item-avatar
                            img(src="img/project-card__avatar-1.jpg", alt="")
                          .header-item__drop-item-cont
                            a(href="#").header-item__drop-item-name Ольга Браун
                            |  предложила вам задачу 
                            a(href="#") Рекламная съемка Reebok
                          .header-item__drop-item-action
                            a(href="#").btn.btn--light.btn--small Перейти к задаче
                .header-item
                  a(href="#").header-item__link
                    +icon("messages","header-item__icon")
                    span.header-item__num 18
                .header-item
                  a(href="#").header-item__link
                    +icon("rur-dark","header-item__icon header-item__icon--rur")
                    span.header-item__text 850 500 руб.
            if headerIsAuth
              .header__sing-in
                a(href="authorization.html").btn.btn--accent Зарегистрироваться
                a(href="registration.html").btn.btn--light ВОЙТИ
            +lang()