.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;

  .nav__drop {
    margin-top: 20px;
  }

  @include media($lg) {
    position: relative;
    z-index: 100;
    padding: 0;
    background: #ffffff;
    box-shadow: 0 0 7px rgba(0,0,0,.1);
  }

  &--full {
    background: #ffffff;
    box-shadow: 0 0 7px rgba(0,0,0,.1);
    position: relative;

    .nav__drop {
      margin-top: 60px;

      &.profile-box__drop {
        margin-top: 35px;

        @include media($lg) {
          margin-top: 20px;
        }
      }
    }
  }

  &__sing-in {
    display: flex;
    margin-right: 50px;

    @include media($lg) {
      display: block;
      margin-right: 0;
      margin-bottom: 30px;
    }

    .btn {
      padding: 0 20px;
      margin-left: 10px;

      @include media($lg) {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @include media($lg) {
      height: 60px;
    }
  }

  &__logo {
    margin-right: 18px;
    position: relative;
    top: -3px;

    @include media($lg) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      margin-top: 4px;
    }
  }

  &__nav {
    flex: 1;
    margin-right: auto;

    @include media($lg) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transition: $transitionMain;
    }

    &-bg,
    &-close {
      display: none;
    }

    &-bg {
      @include media($lg) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 102;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.4);
      }
    }

    &-close {
      @include media($lg) {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        z-index: 105;
        border: none;
        background-color: transparent;
        box-shadow: none;

        &:after,
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 15px;
          height: 2px;
          background: #000;
        }

        &:after {
          transform: translate(-50%,-50%) rotate(45deg);
        }

        &:before {
          transform: translate(-50%,-50%) rotate(-45deg);
        }
      }
    }

    &-content {
      display: flex;
      align-items: center;

      @include media($lg) {
        position: fixed;
        z-index: 103;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        background: $colorBgMain;
        padding: 50px 10px;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        transition: $transitionMain;
        transform: translateX(-100%);
      }
    }
  }

  &-item {
    margin-right: 20px;
    position: relative;

    @include media($lg) {
      display: inline-block;
      margin-bottom: 20px;
    }

    &__drop {
      position: absolute;
      width: 300px;
      top: 100%;
      margin-top: 60px;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
      border: 1px solid #FFFFFF;
      opacity: 0;
      visibility: hidden;

      @include media($lg) {
        margin-top: 20px;
        left: 0;
        transform: translateX(0);
        display: none;
      }

      &.active {
        opacity: 1;
        visibility: visible;
        display: block;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 15px solid #fff;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;

        @include media($lg) {
          display: none;
        }
      }

      &-list {
        max-height: 250px;

        .scroll-element.scroll-y.scroll-scrolly_visible {
          right: 5px;
          height: calc(100% - 28px);
        }
      }

      &-item {
        border-bottom: 1px solid #F3F3F3;
        margin-right: 30px;
        padding-bottom: 19px;
        padding-top: 25px;
        position: relative;
        padding-left: 40px;

        &:last-child {
          border-bottom: none;
        }

        &-avatar {
          position: absolute;
          top: 23px;
          left: 10px;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          overflow: hidden;
          display: block;
        }

        &-action {
          margin-top: 16px;

          .btn {
            padding-left: 20px;
            padding-right: 20px;
            max-width: 100%;
            display: inline-flex;
            width: auto;
          }
        }

        &-cont {
          color: #383838;
          font-size: 14px;
          line-height: 1.4;

          a {
            color: #000;

            &.header-item__drop-item-name {
              color: inherit;

              &:hover {
                color: $colorAccent;
              }
            }

            &:hover {
              color: $colorAccent;
            }
          }
        }
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      min-height: 28px;
    }

    &__num {
      font-size: 11px;
      font-weight: 400;
      color: #ffffff;
      background-color: #ff6b61;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      text-align: center;
      padding-top: 1px;
      position: absolute;
      top: -17px;
      right: -10px;
    }

    &__text {
      font-size: 14px;
    }

    &__icon {
      font-size: 20px;
      position: relative;
      bottom: -1px;

      &--notifications {
        font-size: 24px;
      }

      &--rur {
        font-size: 18px;
        margin-right: 8px;
      }
    }
  }
}