.slider-alt {

  .card {
    padding: 0;
    max-width: 100%;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 0;

    @include media($lg) {
      width: 130px;
    }

    &__prof {
      @include media($lg) {
        display: block;
      }
    }
  }

  .owl-stage-outer {
    @include media($lg) {
      overflow: visible;
    }
  }

  .owl-nav button.owl-prev,
  .owl-nav button.owl-next {
    top: 61px;
  }
}