.form {

  &-sel {
    position: relative;
    width: 100%;

    &.opened {
      .form-sel__drop {
        display: block;
      }
    }

    &-val {
      display: flex;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 42px;
      padding: 0 30px 0 7px;
      position: relative;
      font-size: 14px;
      background: #fff;
      border: 1px solid #dbdbdb;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
            transform: translateY(-50%) rotate(45deg);
        right: 10px;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid #635f60;
        border-right: 1px solid #635f60;
      }
    }

    &__drop {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      width: 100%;
      background: #fff;
      border-radius: 5px;
      z-index: 110;

      li {
        color: #231F20;
        font-size: 14px;
        position: relative;

        span {
          min-height: 18px;
          padding: 5px 10px 6px;
          cursor: pointer;
          display: block;
        }

        &.selected {
          background-color: #A3ABB1;
          color: #FFF;

          &.item-inner {
            &:after {
              border-color: #fff;
            }
          }
        }

        &:hover {
          background-color: #08C;
          color: #FFF;

          & > ul {
            display: block;
          }

          &.item-inner {
            &:after {
              border-color: #fff;
            }
          }
        }

        &.item-inner {
          &:after {
            content: '';
            position: absolute;
            top: 50%;
                transform: translateY(-50%) rotate(-45deg);
            right: 10px;
            width: 6px;
            height: 6px;
            border-bottom: 1px solid #635f60;
            border-right: 1px solid #635f60;
          }
        }

        & > ul {
          display: none;
          position: absolute;
          left: 100%;
          top: 0;
          width: 100%;
          background: #fff;
          border-radius: 5px;
          z-index: 110;
          max-height: 250px;
          overflow-y: auto;
        }
      }
    }
  }

  &__value {
    font-size: 18px;
  }

  &__price {
    &-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .form__rating-box {
        display: inline-flex;
        width: auto;
        max-width: 48%;
        margin-bottom: 10px;
      }

      .form__rating-range {
        flex: 0 0 calc(100% - 20px);
        width: calc(100% - 20px);
      }
    }
  }

  &__rating {

    &-line {
      display: flex;
      align-items: center;
    }

    &-box {
      display: flex;
      align-items: center;
      height: 42px;
      width: 57px;
      border: 1px solid #DBDBDB;
      background: #fff;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.03);
      border-radius: 3px;
      letter-spacing: 1px;
      font-size: 12px;
      padding: 0 10px;

      span {
        color: #635F60;
        margin-right: 5px;
      }

      input {
        background-color: transparent;
        border: none;
        display: block;
        color: #000;
        flex: 1;
        max-width: 100%;
        width: auto;
        min-width: 0;
      }
    }

    &-range {
      flex: 1;
      margin: 0 10px;
    }
  }

  &__persons {
    .form__file-label {
      margin-left: auto;
    }

    .project-card__person {
      display: inline-flex;
      height: 36px;
      margin-left: 3px;
      border-radius: 3px;
      padding: 0 10px 0 3px;
      margin-right: 0;
      min-width: 0;
    }

    .project-card__person-avatar {
      height: 36px;
      width: 36px;
    }
  }

  &__add {
    margin-bottom: 30px;
  }

  &__box {
    margin-bottom: 15px;
    border-bottom: 1px solid #dadada;
  }

  &-box {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #d8d8d8;
    padding-top: 30px;
    padding-bottom: 10px;

    .form__label {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__actions {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .btn {
        width: auto;
        max-width: 100%;
        padding: 0 10px;
        margin-right: 10px;
        margin-bottom: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &--noline {
      border-top: none;
    }

    .title-alt {
      width: 100%;
      margin-bottom: 30px;
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    &:first-child {
      border-top: none;
      padding-top: 0;
    }

    .form__label {
      width: 100%;
    }

    &__action {
      flex: 0 0 100%;
      width: 100%;
      margin-bottom: 20px;

      .btn {
        max-width: 100%;
        width: auto;
        padding: 0 14px;
      }
    }

    &__btn {
      &--social {
        margin-left: 35px;
      }
    }

    &__select {
      position: relative;
      display: none;

      &.active {
        display: block;

        .form-box__select-val {
          cursor: pointer;
        }
      }

      &.opened {
        .form-box__select-drop {
          display: block;
        }
      }

      &.selected {
        .form-box__select-val {
          cursor: initial;
          padding: 0;
          height: auto;
          border-radius: 0;
          border: none;

          &:after {
            display: none;
          }
        }
      }

      &-drop {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        border: 1px solid #dbdbdb;
        max-height: 200px;
        overflow: auto;
        z-index: 110;
      }

      &-option {
        margin-bottom: 5px;
        background-color: #f7f7f7;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-val {
        white-space: nowrap;
        font-size: 14px;
        position: relative;
        padding-right: 30px;
        border: 1px solid #dbdbdb;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 7px;
        border-radius: 3px;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 10px;
          width: 6px;
          height: 6px;
          border-bottom: 1px solid #635f60;
          border-right: 1px solid #635f60;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    &__file {
      display: flex;
      align-items: center;
      padding: 5px;
      background: #fff;
      border: 1px solid #DBDBDB;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 100%;

      @include media($lg) {
        display: block;

        .projects-review__name {
          margin-bottom: 0;
          margin-right: 0;
        }
      }

      &s {
        width: 100%;
      }

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-img {
        display: flex;
        align-items: center;
        margin-right: 30px;
        overflow: hidden;

        @include media($lg) {
          margin-bottom: 10px;
        }

        &-pic {
          width: 59px;
          height: 44px;
          overflow: hidden;
          margin-right: 10px;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        &-name {
          font-size: 11px;
          letter-spacing: 1px;
          text-transform: uppercase;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 158px;
          min-width: 158px;

          @include media($lg) {
            min-width: 0;
            max-width: 100%;
          }
        }
      }

      .form-box__action {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: auto;
        flex: initial;
        padding-right: 5px;

        @include media($lg) {
          display: block;
          padding-right: 0;
        }

        .btn {
          margin-left: 10px;

          @include media($lg) {
            margin-top: 10px;
            margin-left: 0;
          }
        }
      }
    }
  }

  &__filter {
    margin-bottom: 20px;
    height: 28px;
    max-width: 81px;
    font-size: 11px;
  }

  &__label {
    display: block;
    margin-bottom: 20px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 calc(100% + 20px);
      width: calc(100% + 20px);
      margin-bottom: 20px;

      @include media($lg) {
        flex: 0 0 100%;
        width: 100%;
      }
    }

    &--alone {
      display: inline-block;
      min-width: 245px;
    }

    &--page {
      max-width: 360px;

      @include media($lg) {
        max-width: 100%;
      }
    }

    &--social {
      display: flex;
      flex-wrap: wrap;
      max-width: 380px;

      .form__label-name {
        flex: 0 0 100%;
        width: 100%;
        padding-left: 35px;
      }

      .form__input {
        flex: 1;
      }
    }

    &--icon {
      position: relative;

      .icon {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 16px;
        width: 36px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #000;
      }

      input {
        padding-left: 46px;
      }
    }

    &-icon {
      font-size: 25px;
      margin-right: 10px;
    }

    &--1-3 {
      width: calc(33.3333% - 20px);
      max-width: 280px;
      margin-right: 20px;

      @include media($lg) {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
      }
    }

    &--half {
      width: calc(50% - 20px);
      max-width: calc(50% - 20px);
      margin-right: 20px;

      @include media($lg) {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
      }

      &-alt {
        width: 100%;

        & > * {
          width: calc(50% - 20px);
          max-width: calc(50% - 20px);

          @include media($lg) {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }

    &--sm {
      max-width: 220px;

      @include media($lg) {
        max-width: 100%;
      }
    }

    &--md {
      max-width: 680px;

      @include media($lg) {
        max-width: 100%;
      }
    }

    &--1-4 {
      width: calc(25% - 20px);
      max-width: calc(25% - 20px);
      margin-right: 20px;

      @include media($lg) {
        width: calc(50% - 20px);
        max-width: 142px;
      }
    }

    &--line {
      .form__select,
      .form__input {
        display: inline-block;
        width: auto;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-line {
      display: flex;
      align-items: center;

      @include media($lg) {
        display: block;
      }

      .form__label-name {
        margin-bottom: 0;
        height: auto;
        min-width: 200px;
        margin-right: 10px;

        @include media($lg) {
          margin-right: 0;
          height: 18px;
          margin-bottom: 5px;
        }
      }

      .form__select {
        width: auto;
        min-width: 190px;
      }
    }

    &--date {
      .form__input {
        width: 60px;
      }
      .form__select {
        width: 185px;
      }

      .form__date--full {
        width: 100%;
      }
    }

    &--datepicker {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 12px;
        bottom: 15px;
        width: 6px;
        height: 6px;
        border: none;
        margin-top: -1px;
        border-bottom: 1px solid #635f60;
        border-right: 1px solid #635f60;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    &--notitle {
      padding-top: 24px;
      align-self: stretch;
    }

    &-del {
      padding: 0;
      border: none;
      background-color: transparent;
      position: relative;
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 6px;
      display: inline-block;
      background: #FFFFFF;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.196296);
      border-radius: 50%;
      vertical-align: middle;
      top: -3px;

      &:hover {
        background: $colorAccent;

        &:after,
        &:before {
          background: #fff;
        }
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        width: 10px;
        height: 1px;
        background: #000;
      }

      &:after {
        transform: translate(-50%,-50%) rotate(45deg);
      }

      &:before {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }

    &-name {
      display: block;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 14px;
      text-transform: uppercase;
      margin-bottom: 5px;
      height: 18px;

      sup {
        font-size: 18px;
        color: $colorAccent;
        line-height: 0;
      }

      .tooltip {
        margin-left: 4px;
      }
    }
  }

  &__date-line {
    display: flex;
    align-items: center;

    @include media($lg) {
      display: block;
    }

    .form__label--datepicker {
      width: 100%;
    }

    &-name {
      margin: 0 10px;
      white-space: nowrap;

      @include media($lg) {
        margin: 15px 0 10px;
        display: block;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
  
  .jq-selectbox__select,
  &__input,
  &__textarea {
    display: block;
    width: 100%;
    height: 42px;
    border-radius: $bdrsMain;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    padding: 0 10px;
    font-size: 14px;
  }

  &__textarea {
    height: 146px;
    padding: 10px;

    &--big {
      height: 345px;
    }
  }

  .jq-selectbox__select {
    padding-right: 30px;
  }

  &__text {
    color: #808080;
    margin-top: 10px;
    display: block;
  }

  &-checkbox {
    display: flex;
    align-items: center;

    &__box {
      width: 20px;
      height: 20px;
      display: block;
      margin-right: 10px;
      border-radius: $bdrsMain;
      border: 1px solid #dbdbdb;
      background-color: #ffffff;
      position: relative;
      margin-top: -1px;

      &:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 7px;
        width: 5px;
        height: 8px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
        opacity: 0;
        transition: $transitionMain;
      }
    }

    &__name {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__check {
    display: none;

    &:checked ~ .form-checkbox__box {
      background: $colorAccent;
      border-color: $colorAccent;

      &:after {
        opacity: 1;
      }
    }
  }

  &-action {
    margin-top: 5px;

    &__btn {
      margin-bottom: 15px;
    }
  }

  &-actions {
    display: flex;
    margin-top: 30px;

    @include media($lg) {
      display: block;
    }

    .btn {
      margin-right: 12px;
      padding: 0 20px;
      max-width: 100%;

      @include media($lg) {
        width: auto;
        padding-left: 18px;
        padding-right: 18px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__file {
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    min-height: 42px;
    width: 100%;
    // max-width: 375px;
    display: flex;
    align-items: center;
    padding-right: 7px;
    margin-top: 15px;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &--selected {
      .form__file-del {
        display: block;
      }
    }

    &-del {
      display: none;
      position: absolute;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      border: 1px solid #666;
      background: #fff;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: $transitionMain;

      &:hover {
        background: #666;

        &:after,
        &:before {
          background: #fff;
        }
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 1px;
        background: #666;
        transition: $transitionMain;
      }

      &:after {
        transform: translate(-50%,-50%) rotate(45deg);
      }

      &:before {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }

    &-name {
      flex: 1;
      margin: 0 10px;
      display: flex;
      align-items: center;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-input {
      display: none;
    }

    &-label {
      min-width: 140px;
    }

    &-btn {
      max-width: 100%;
    }
  }

  &-drop-files {
    width: 100%;
    height: 180px;
    border: 1px dashed #979797;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include media($lg) {
      display: none;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0;
    }
  }

  &-rezult {
    background-color: #f3f3f3;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 8px 10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__input {
    &--dark {
      background: #DBDBDB;
    }
  }
}