.popup {
  width: 100%;
  max-width: 700px;
  padding: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  border: 1px solid #FFFFFF;

  @include media($lg) {
    padding: 15px;
  }

  &__title {
    font-size: 42px;
    margin-bottom: 20px;

    @include media($lg) {
      font-size: 32px;
    }
  }

  &__text {
    margin-bottom: 32px;
  }

  &__cont {
    max-width: 430px;
  }

  &__action {
    margin-top: 30px;

    .btn {
      min-width: 185px;
    }
  }

  &__table {
    margin-bottom: 15px;

    &-title {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 30px;
      color: #222222;
    }

    &-cont {
      width: 100%;
    }

    &-line {
      background: #F7F8FA;
      display: flex;
      flex-wrap: wrap;

      &:nth-child(even) {
        background: transparent;
      }
    }

    &-name,
    &-val {
      padding: 15px 10px;
    }

    &-name {
      width: 300px;
      min-width: 300px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 0;
      padding-top: 20px;
    }

    &-val {
      font-weight: 300;
      min-width: 300px;
    }
  }

  .form-box__action {
    margin-bottom: 0;
  }

  .card {
    @include col(1,6);

    @include media($lg) {
      @include col(1,4);
    }

    @include media($sm) {
      @include col(1,2);
    }
  }

  .card__list {
    display: none;
  }

  .filter {
    border-bottom: none;
  }

  .filter__line {
    padding-bottom: 0;
  }
  
  .line-nav__item {
    margin-bottom: 0 !important;
  }
  
  .line-nav__item,
  .jq-selectbox li {
    max-width: 100%;
    flex: 0 0 100%;
  }
}